<%# locals: (comment:) %>

<div class="note-comment" style="margin-top: 5px">
  <div class="note-comment-description" style="font-size: smaller; color: #999999">
    <% if comment.author.nil? -%>
      <%= t ".#{comment.event}_at_html", :when => friendly_date_ago(comment.created_at) %>
    <% else -%>
      <%= t ".#{comment.event}_at_by_html", :when => friendly_date_ago(comment.created_at), :user => note_author(comment.author, :only_path => false) %>
    <% end -%>
  </div>
  <div class="note-comment-text"><%= comment.body %></div>
</div>
