<% content_for :heading do %>
  <h1><%= t ".heading", :user => @user.display_name %></h1>
  <p><%= t ".subheading_html", :user => link_to(@user.display_name, @user) %></p>
<% end %>

<% if @comments.empty? %>
  <h4><%= t ".no_comments" %></h4>
<% else %>
  <%= render :partial => "page" %>
<% end -%>
