<table class="table table-sm align-middle">
  <thead>
    <tr>
      <th><%= t ".from" %></th>
      <th><%= t ".subject" %></th>
      <th><%= t ".date" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => inner_partial, :collection => messages %>
  </tbody>
</table>
