<p id="inbox-count">
<%= t "messages.inbox.messages",
      :new_messages => t("messages.inbox.new_messages",
                         :count => current_user.new_messages.size),
      :old_messages => t("messages.inbox.old_messages",
                         :count => current_user.messages.size - current_user.new_messages.size) %>
</p>
