<% showusername = true if showusername.nil? %>
<table id="changeset_list" cellpadding="3">
  <tr>
    <th>ID</th>
    <th>Saved at</th>
<% if showusername %>
    <th>User</th>
<% end %>
    <th>Comment</th>
    <th>Area</th>
    <th></th>
  </tr>
  <%= render :partial => 'changeset', :locals => {:showusername => showusername}, :collection => @edits unless @edits.nil? %>
</table>