<% showusername = true if showusername.nil? %>
<div id="changeset_list">
  <%= render :partial => 'changeset', :locals => {:showusername => showusername}, :collection => @edits unless @edits.nil? %>
</div>
