<% showusername = true if showusername.nil? %>
<table id="changeset_list">
  <%= render :partial => 'changeset/changeset', :locals => {:showusername => showusername}, :collection => @edits unless @edits.nil? %>
</table>
