<h2><%= t "changeset.rss.comment", :author => comments_entry.author.display_name, 
  :changeset_id => comments_entry.changeset.id.to_s %></h2>
<%= render :partial => 'comment', :object => comments_entry %>
