<h1><%= t'changeset.list.recent_changes' %></h1>
<p><%= t'changeset.list.recently_edited_changesets' %></p>

<%= render :partial => 'changesets' %>

<p><%= t'changeset.list.for_more_changesets' %></p>
<br>
