<h1>Recent Changes</h1>
<p>Recently edited changesets:</p>

<%= render :partial => 'changesets' %>

<p>
For more changesets, select a user and view their edits, or see the editing 'history' of a specific area.
</p>
<br>
