<ul class="list-unstyled social_links mb-0">
  <% social_links.each do |social_link| %>
    <li>
      <%= link_to social_link.parsed[:url], :class => "icon-link mw-100 text-body-secondary mb-2", :rel => "nofollow me" do %>
        <%= inline_svg_tag "social_link_icons/#{social_link.parsed[:platform] || 'website'}.svg",
                           :title => social_link.parsed[:platform] || t(".website"),
                           :class => "flex-shrink-0 mb-n1" %>
        <span class="text-truncate">
          <%= social_link.parsed[:name] %>
        </span>
      <% end %>
    </li>
  <% end %>
</ul>
