<ul class="list-unstyled social_links">
  <% social_links.each do |social_link| %>
    <li>
      <%= link_to social_link.parsed[:url], :class => "icon-link mw-100 text-body-secondary mb-3", :rel => "nofollow me" do %>
        <%= if %w[ohm osm_forum osm_wiki].include?(social_link.parsed[:platform])
              image_tag "social_link_icons/#{social_link.parsed[:platform]}.svg",
                        :alt => social_link.parsed[:platform],
                        :size => "16"
            else
              render "icons/social_link/#{social_link.parsed[:platform] || 'other'}",
                     :alt => social_link.parsed[:platform] || t(".other"),
                     :class => "flex-shrink-0"
            end %>
        <span class="text-truncate">
          <%= social_link.parsed[:name] %>
        </span>
      <% end %>
    </li>
  <% end %>
</ul>
