<% set_title(t(".title")) %>

<%= render "sidebar_header", :title => t(".title") %>

<div class="note">
  <p class="alert alert-info"><%= t(".intro") %></p>
  <form action="#">
    <input type="hidden" name="lon" autocomplete="off">
    <input type="hidden" name="lat" autocomplete="off">
    <div class="mb-3">
      <textarea class="form-control" name="text" cols="40" rows="10" maxlength="2000" placeholder="<%= t(".advice") %>"></textarea>
    </div>
    <div class="btn-wrapper">
      <input type="submit" name="add" value="<%= t(".add") %>" disabled="1" class="btn btn-primary">
    </div>
  </form>
</div>
