<% set_title t("browse.relation.title_html", :name => printable_name(@feature)) %>

<%= render "sidebar_header", :title => t("browse.relation.title_html", :name => printable_name(@feature)) %>

<%= render :partial => "browse/relation", :object => @feature %>

<% unless @feature.redacted? %>
  <div class='secondary-actions'>
    <%= link_to t("browse.download_xml"), relation_version_path(*@feature.id) %>
  </div>
<% end %>
