*~
.DS_Store
.idea
.ruby-gemset
.ruby-version
.vagrant
app/assets/javascripts/i18n
config/environments/*.local.yml
config/piwik.yml
config/settings.local.yml
config/settings/*.local.yml
coverage
doc
log
node_modules
public/assets
public/attachments
public/export
storage
tmp
