Andrzej Zaborowski <balrogg@gmail.com> <andrew.zaborowski@intel.com>
Andy Allan <andy@gravitystorm.co.uk> <gravitystorm@gmail.com> <github@gravitystorm.co.uk>
Florian Schäfer <florian@schaeferban.de>
Grant Slater <openstreetmap@firefishy.com> <github@firefishy.com>
Harry Wood <git@harrywood.co.uk> <mail@harrywood.co.uk> <github@onlineanimals.co.uk>
Kai Krueger <kakrueger@gmail.com> <kai@aiputerlx.(none)>
Michael Glanznig <nebulon42@yandex.com>
Petr Kadlec <mormegil@centrum.cz>
Richard Fairhurst <richard@systemeD.net> <richard@systemed.net>
Simon Poole <simon@poole.ch> <simon@rails-dev.poole.ch> <simonpoole@users.noreply.github.com>
