Andrzej Zaborowski <balrogg@gmail.com> <andrew.zaborowski@intel.com>
Andy Allan <andy@gravitystorm.co.uk> <gravitystorm@gmail.com>
Grant Slater <openstreetmap@firefishy.com> <github@firefishy.com>
Harry Wood <git@harrywood.co.uk> <mail@harrywood.co.uk>
Kai Krueger <kakrueger@gmail.com> <kai@aiputerlx.(none)>
Richard Fairhurst <richard@systemeD.net> <richard@systemed.net>
