dist: xenial
language: ruby
rvm:
  - 2.5.3
cache:
  - bundler
addons:
  postgresql: 9.5
  apt:
    packages:
      - postgresql-server-dev-9.5
services:
  - memcached
env:
  global:
    - OSM_MEMCACHE_SERVERS="127.0.0.1"
before_script:
  - psql -U postgres -c "CREATE DATABASE openstreetmap"
  - psql -U postgres -c "CREATE EXTENSION btree_gist" openstreetmap
  - make -C db/functions libpgosm.so
  - ln db/functions/libpgosm.so /tmp
  - psql -U postgres -c "CREATE FUNCTION maptile_for_point(int8, int8, int4) RETURNS int4 AS '/tmp/libpgosm', 'maptile_for_point' LANGUAGE C STRICT" openstreetmap
  - psql -U postgres -c "CREATE FUNCTION tile_for_point(int4, int4) RETURNS int8 AS '/tmp/libpgosm', 'tile_for_point' LANGUAGE C STRICT" openstreetmap
  - psql -U postgres -c "CREATE FUNCTION xid_to_int4(xid) RETURNS int4 AS '/tmp/libpgosm', 'xid_to_int4' LANGUAGE C STRICT" openstreetmap
  - cp config/travis.database.yml config/database.yml
  - touch config/settings.local.yml
  - bundle exec rake db:migrate
  - bundle exec rake i18n:js:export
script:
  - bundle exec rubocop -f fuubar
  - bundle exec rake eslint:run_all
  - bundle exec erblint .
  - bundle exec rake test:db
