# for Rails
DATABASE_URL=postgresql://postgres:postgres@db:5432/openstreetmap

# for other things
POSTGRES_DATABASE=openstreetmap
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

RAILS_ENV=development
SECRET_KEY_BASE=sfgfdgaklsdfhjasdfhjwtnkvpdorjf

# For iD OAuth2, Rails App OAuth2, memcached config and others create settings.local.yml from settings.yml and 
# provide necessary values

