# for Rails
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres

# for other things
POSTGRES_DATABASE=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

RAILS_ENV=production
SECRET_KEY_BASE=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

OSM_server_port=3000
OSM_server_protocol="http"
OSM_server_url="openhistoricalmap.example.com"
OSM_generator="OpenHistoricalMap server"
OSM_copyright_owner="OpenHistoricalMap and contributors"
OSM_attribution_url="http://www.openhistoricalmap.org/copyright"
OSM_license_url="http://opendatacommons.org/licenses/odbl/1-0/"
OSM_support_email="openhistoricalmap@example.com"
OSM_email_from="OpenHistoricalMap <openhistoricalmap@example.com>"
OSM_email_return_path="openhistoricalmap@example.com"
OSM_nominatim_url=http://nomin-publi-15vpg1m703pp9-1297651006.us-east-1.elb.amazonaws.com/
OSM_overpass_url="//overpass-api.de/api/interpreter"
OSM_graphhopper_url="//graphhopper.com/api/1/route"
OSM_fossgis_osrm_url="//routing.openstreetmap.de/"

# The key is used by the rails app, the secret and website need to be in the
# postgresql database, they are included in the init-id.sh script for postgres
OSM_id_key=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
#OSM_id_secret=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
#OSM_id_website=http://localhost
OSM_memcache_servers=memcached:11211
