<%# locals: () %>

<div>
  <p>
    <% if params[:version] %>
      <%= t ".sorry", :id => params[:id], :version => params[:version] %>
    <% else %>
      <%= t "ways.not_found_message.sorry", :id => params[:id] %>
    <% end %>
  </p>
</div>
