<% set_title t("browse.way.title_html", :name => printable_name(@feature)) %>

<%= render "sidebar_header", :title => t("browse.way.title_html", :name => printable_name(@feature)) %>

<%= render :partial => "browse/way", :object => @feature %>

<div class='secondary-actions'>
  <%= link_to t("browse.download_xml"), way_version_path(*@feature.id) %>
</div>
