<% content_for(:content_class) { "overlay-sidebar" } %>

<svg width="20" height="20" class="d-none">
  <path id="icon-route-start" fill="none" stroke="currentColor" stroke-width="2" d="M10 16a1 1 0 1 0 0-2 1 1 0 1 0 0 2m0-4V4m2.5 2L10 3.5 7.5 6z" />
  <path id="icon-route-destination" fill="none" stroke="currentColor" stroke-width="2" d="M10 5a1 1 0 1 0 0-2 1 1 0 1 0 0 2m0 12V9m2.5 2L10 8.5 7.5 11z" />

  <path id="icon-route-straight" fill="none" stroke="currentColor" stroke-width="2" d="M10 17V4m2.5 2L10 3.5 7.5 6z" />
  <path id="icon-route-slight-right" fill="none" stroke="currentColor" stroke-width="2" d="M7 17v-3q0-2 2-4l5-5m0 0h-3l3 3z" />
  <path id="icon-route-right" fill="none" stroke="currentColor" stroke-width="2" d="M8 17v-5q0-3 3-3h4m-2 2.5L15.5 9 13 6.5z" />
  <path id="icon-route-sharp-right" fill="none" stroke="currentColor" stroke-width="2" d="M8 17v-7q0-6 6 0l2 2m0 0V9l-3 3z" />
  <path id="icon-route-u-turn-right" fill="none" stroke="currentColor" stroke-width="2" d="M4 17v-7a4.5 4.5 0 0 1 9 0v5m2.5-2L13 15.5 10.5 13z" />
  <use id="icon-route-slight-left" href="#icon-route-slight-right" transform="matrix(-1 0 0 1 20 0)" />
  <use id="icon-route-left" href="#icon-route-right" transform="matrix(-1 0 0 1 21 0)" />
  <use id="icon-route-sharp-left" href="#icon-route-sharp-right" transform="matrix(-1 0 0 1 21 0)" />
  <use id="icon-route-u-turn-left" href="#icon-route-u-turn-right" transform="matrix(-1 0 0 1 20 0)" />

  <path id="icon-route-roundabout" fill="none" stroke="currentColor" stroke-width="2" d="M8 17v-3a3 3 0 1 0 0-6 3 3 0 1 0 0 6m2-4 5-5m0 0h-3l3 3z" />

  <g id="icon-route-fork-right" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M9 14q0-2-2-4L4 7" opacity=".5" />
    <path d="M9 17v-3q0-2 2-4l5-5m0 0h-3l3 3z" />
  </g>
  <use id="icon-route-fork-left" href="#icon-route-fork-right" transform="matrix(-1 0 0 1 20 0)" />
  <g id="icon-route-merge-right" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M12 7q0 2 2 4l3 3" opacity=".5" />
    <path d="M12 4v3q0 2-2 4l-5 5m5-5H7l3 3z" />
  </g>
  <use id="icon-route-merge-left" href="#icon-route-merge-right" transform="matrix(-1 0 0 1 20 0)" />
  <g id="icon-route-end-of-road-right" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M2 9h10" opacity=".5" />
    <path d="M9 17v-5q0-3 3-3h4m-2 2.5L16.5 9 14 6.5z" />
  </g>
  <use id="icon-route-end-of-road-left" href="#icon-route-end-of-road-right" transform="matrix(-1 0 0 1 20 0)" />
  <g id="icon-route-exit-right" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M9 14V6" opacity=".5" />
    <path d="M9 17v-3q0-2 2-4l5-5m0 0h-3l3 3z" />
  </g>
  <use id="icon-route-exit-left" href="#icon-route-exit-right" transform="matrix(-1 0 0 1 20 0)" />

  <g id="icon-route-ferry" fill="none" stroke="currentColor" stroke-width="1">
    <path fill="currentColor" d="m10.5 8-6 2L7 12v1.5a2.828 2.828 0 0 1 1.5 1 2.828 2.828 0 0 1 4 0 2.828 2.828 0 0 1 1.5-1V12l2.5-2z" />
    <path d="M6.5 9.5v-5h8v5M9 3.5h3m-6.5 13a1.414 2.828 0 0 1 2 0 1.414 2.828 0 0 0 2 0 1.414 2.828 0 0 1 2 0 1.414 2.828 0 0 0 2 0 1.414 2.828 0 0 1 2 0" />
  </g>
</svg>

<%= render "sidebar_header", :title => t(".title") %>

<div id="directions_content"></div>
