.SimpleLayerSwitcher {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: 1px solid #ccc;
  min-width: 150px;
  background: #fff;
}

.SimpleLayerSwitcher a.basey {
  display: block;
  text-decoration: none;
  color: #838383;
  padding: 2px 5px 2px 20px;
}

.SimpleLayerSwitcher a.basey-on {
  color: #000;
  background-color: #fff;
  background-image: image-url("theme/default/img/carat.png");
  background-repeat: no-repeat;
  background-position: 7px 9px;
}

.SimpleLayerSwitcher a.basey-off {
  display: none;
}

.SimpleLayerSwitcher:hover a {
  border-top: 1px solid #eee;
}

.SimpleLayerSwitcher a:hover {
  background-color: #f5f5f5;
}

.SimpleLayerSwitcher:hover a:first-child {
  border-top: none;
}

.SimpleLayerSwitcher:hover a.basey-off {
  display: block;
}
