.OkayPanZoom {
  position: absolute;
  top:10px;
  left:10px;
}
.OkayPanZoom .olButton {
  background-image: image-url("theme/custom/img/map_sprite.png");
  position: absolute;
  cursor: pointer;
}

.panzoom-panup {
  width: 25px;
  height: 20px;
  background-position: -15px -6px;
  top:10px;
  left:20px;
}

.panzoom-pandown {
  width: 24px;
  height: 25px;
  background-position: -15px -27px;
  top:30px;
  left:21px;
}

.panzoom-panleft {
  width: 12px;
  height: 25px;
  background-position: -4px -17px;
  top:20px;
  left:10px;
}

.panzoom-panright {
  width: 13px;
  height: 25px;
  background-position: -38px -17px;
  top:20px;
  left:44px;
}

.panzoom-zoomin {
  width: 25px;
  height: 25px;
  background-position: -15px -60px;
  top:60px;
  left:20px;
}

.panzoom-zoomout {
  width: 25px;
  height: 25px;
  background-position: -15px -208px;
  top:85px;
  left:20px;
}
