<p><%= t ".had_added_you", :user => @friendship.befriender.display_name %></p>

<%= message_body do %>
  <p><%= t ".see_their_profile_html", :userurl => link_to(@viewurl, @viewurl) %></p>

  <% unless @friendship.befriendee.friends_with?(@friendship.befriender) -%>
  <p><%= t ".befriend_them_html", :befriendurl => link_to(@friendurl, @friendurl) %></p>
  <% end -%>
<% end %>
