<p><%= t ".hi", :to_user => @to_user %></p>

<p>
  <%= render :partial => "gpx_description" %>
  <%= t(".loaded", :trace_points => @trace_points, :count => @possible_points) %>
</p>

<p>
  <%= t ".all_your_traces_html", :url => link_to(@my_traces_url, @my_traces_url) %>
</p>
