<p><%= t ".hi", :to_user => @to_user %></p>

<p><%= t ".imported_successfully" %></p>

<%= render :partial => "gpx_details" %>

<p>
  <%= t ".all_your_traces_html", :url => link_to(@my_traces_url, @my_traces_url) %>
</p>
