<p><%= t ".hi", :to_user => @to_user %></p>

<p>
  <%= render :partial => "gpx_description" %>
  <%= t(".loaded_successfully",
        :trace_points => @trace_points, :possible_points => @possible_points, :count => @possible_points) %>
</p>
