<p><%= t ".hi", :to_user => @to_user %></p>

<p><%= t ".imported_successfully" %></p>

<%= render "gpx_details",
           :trace_url => @trace_url,
           :trace_name => @trace_name,
           :trace_points => @trace_size,
           :trace_description => @trace_description,
           :trace_tags => @trace_tags,
           :possible_points => @possible_points %>

<p>
  <%= t ".all_your_traces_html", :url => link_to(@my_traces_url, @my_traces_url) %>
</p>
