<p id="inbox-count">
<%= t "message.inbox.messages",
      :new_messages => t("message.inbox.new_messages",
                         :count => current_user.new_messages.size),
      :old_messages => t("message.inbox.old_messages",
                         :count => current_user.messages.size - current_user.new_messages.size)
%>
</p>
