<p id="inbox-count">
<%= t "message.inbox.messages",
      :new_messages => t("message.inbox.new_messages", 
                         :count => @user.new_messages.size),
      :old_messages => t("message.inbox.old_messages", 
                         :count => @user.messages.size - @user.new_messages.size)
%>
</p> 
