<% reports.each do |report| %>
  <div class="report">
    <div class="float-left">
      <%= link_to user_thumbnail(report.user), user_path(report.user) %>
    </div>
    <p class="text-muted mb-0">
      <%= t ".reported_by_html", :category => report.category,
                                 :user => link_to(report.user.display_name, user_path(report.user)),
                                 :updated_at => l(report.updated_at.to_datetime, :format => :friendly) %>
    </p>
    <p><%= report.details %></p>
  </div>
  <hr>
<% end %>
