<% reports.each do |report| %>
  <div class="row">
    <div class="col-auto">
      <%= link_to user_thumbnail(report.user), user_path(report.user) %>
    </div>
    <div class="col">
      <p class="text-muted">
        <%= t ".reported_by_html", :category => report.category,
                                   :user => link_to(report.user.display_name, user_path(report.user)),
                                   :updated_at => l(report.updated_at.to_datetime, :format => :friendly) %>
      </p>
      <div class="richtext text-break"><%= report.details.to_html %></div>
    </div>
  </div>
  <hr>
<% end %>
