<h2><%= t ".comment",
          :author => comment.author.display_name,
          :changeset_id => comment.changeset.id.to_s %></h2>
<div class="changeset-comment" style="margin-top: 5px">
  <div class="changeset-comment-description" style="font-size: smaller; color: #999999"><%= t ".commented_at_by_html", :when => friendly_date(comment.created_at), :user => comment.author.display_name %></div>
  <div class="changeset-comment-text"><%= comment.body %></div>
</div>
