Hi,

It looks like your GPX file

  <%= @trace_name %>

with the description 

  <%= @trace_description %>
<% if @trace_tags.length>0 %>
and the following tags:
<% @trace_tags.each do |tag| %>
  <%= tag.tag.rstrip %><% end %><% else %>
and no tags.<% end %>
