<table style="font-size: 15px; margin: 15px 0px; background-color: #eee; width: 100%">
  <tr>
    <td style="width: 50px; min-width: 50px; vertical-align: top; padding: 15px">
      <%= link_to(
          image_tag(
            attachments["avatar.png"].url,
            alt: @author,
            title: @author,
            width: 50,
            height: 50,
            border: 0
          ),
          user_url(@author, :host => SERVER_URL),
          :target => "_blank"
      ) %>
    </td>
    <td style="text-align: left; vertical-align: top; padding-right: 10px; width: 100%">
      <%= body %>
    </td>
  </tr>
</table>
