<p><%= t '.had_added_you', :user => @friend.befriender.display_name %></p>

<%= message_body do %>
  <p><%= raw t '.see_their_profile', :userurl => link_to(@viewurl, @viewurl) %></p>

  <% unless @friend.befriendee.is_friends_with?(@friend.befriender) -%>
  <p><%= raw t '.befriend_them', :befriendurl => link_to(@friendurl, @friendurl) %></p>
  <% end -%>
<% end %>
