<% content_for :body do %>
  <p style="margin: 0"><%= t'notifier.gpx_notification.greeting' %></p>

  <p>
    <%= render :partial => "gpx_description" %>
    <%= t'notifier.gpx_notification.success.loaded_successfully', :trace_points => @trace_points, :possible_points => @possible_points %>
  </p>
<% end %>
