Hi,

It looks like your GPX file

  <%= @trace_name %>

failed to import. Here's the error:

  <%= @error %>

More information about GPX import failures and how to avoid
them can be found at:

  http://wiki.openstreetmap.org/index.php/GPX_Import_Failures
