Hi,

Someone (possibly you) has asked for the password to be reset on this
email addresses openstreetmap.org account.

If this is you, please click the link below to reset your password.

<%= @url %>
