<p>Hi,</p>

<p>Someone (hopefully you) would like to create an account over at
   <%= SERVER_URL %>.</p>

<p>If this is you, please click the link below to confirm that account.</p>

<p><a href="<%= @url %>"><%= @url %></a></p>
