//= require owl/config
//= require owl/geojson-layer
//= require owl/utils
//= require templates/owl/sidebar

var owlGeoJsonLayer;
var currentlyShownChangeset;
var currentlyHighlightedChange;
var initialized = false;

function initOwlLayer() {
  if (initialized) {
    return;
  }
  initialized = true;
  owlGeoJsonLayer = new L.OWL.GeoJSON({styles: OWL.geoJsonStyles});

  owlGeoJsonLayer.on('refreshcalled', function (geojson) {
    $("#sidebar_content").html('<span class="pleasezoomin">Please zoom in<br>to see history</span>');
  });

  owlGeoJsonLayer.on('loading', function (geojson) {
    $("#sidebar_content").html('<%= image_tag "searching.gif" %>');
  });

  owlGeoJsonLayer.on('change_clicked', onChangeClicked);

  owlGeoJsonLayer.on('loaded', function (geojson) {
    var changesets = owlGeoJsonLayer.changesets;

    $("#sidebar_content").html(JST["templates/owl/sidebar"]({
      changesets: owlGeoJsonLayer.changesetList()
    }));

    $("abbr.timeago").timeago();

    $('.show-prev-geom').hover(function (e) {
      owlGeoJsonLayer.showPrevGeom(findChangeId(e.target));
    }, function (e) {
      owlGeoJsonLayer.showCurrentGeom(findChangeId(e.target));
    });

    $('.change').click(function (e) {
      highlightChange(findChangeId(e.target), false);
    });

    $('#history-sidebar-footer .more_link').click(function (e) {
      owlGeoJsonLayer.nextPage();
      return false;
    });

    $('.changeset-info').click(function (e) {
      var changesetId = findChangesetId(e.target);
      if (changesetId != currentlyShownChangeset) {
        showChanges(changesetId, null);
      } else {
        hideChanges(changesetId);
      }
    });

    $('.changeset-item').hover(
      function (e) {
        var changeset_id = parseInt($(e.target).data('changeset-id'));
        //owlGeoJsonLayer.highlightChangesetFeatures(changeset_id);
      },
      function (e) {
        var changeset_id = parseInt($(e.target).data('changeset-id'));
        //owlGeoJsonLayer.unhighlightChangesetFeatures(changeset_id);
      }
    );

    owlUpdateFeedLink();
  });

  map.addLayer(owlGeoJsonLayer);
}

function destroyOwlLayer() {
  map.hasLayer(owlGeoJsonLayer) && map.removeLayer(owlGeoJsonLayer);
  owlGeoJsonLayer = null;
  initialized = false;
}

function highlightChangesetItem(changeset_id) {
  $('div[data-changeset-id=' + changeset_id + '] > .changeset-info').addClass('changeset-item-highlight');
}

function unhighlightChangesetItem(changeset_id) {
  $('div[data-changeset-id=' + changeset_id + '] > .changeset-info').removeClass('changeset-item-highlight');
}

function highlightChange(changeId, addHighlightClass) {
  if (currentlyHighlightedChange != null) {
    unhighlightChange();
  }
  if (addHighlightClass) {
    $('div[data-change-id=' + changeId + ']').addClass('change-highlight');
  }
  $('div[data-change-id=' + changeId + '] > .tag-table').show();
  currentlyHighlightedChange = changeId;
}

function unhighlightChange() {
  if (currentlyHighlightedChange != null) {
    $('div[data-change-id=' + currentlyHighlightedChange + ']').removeClass('change-highlight');
    $('div[data-change-id=' + currentlyHighlightedChange + '] > .tag-table').hide();
    currentlyHighlightedChange = null;
  }
}

function showChanges(changesetId, changeToHighlight) {
  if (currentlyShownChangeset != null && changesetId != currentlyShownChangeset) {
    hideChanges(currentlyShownChangeset);
  }
  currentlyShownChangeset = changesetId;
  $('div[data-changeset-id=' + changesetId + '] > div[class=change-list]').show('fast', function () {
    if (changeToHighlight) {
      highlightChange(changeToHighlight, true);
      $('div[data-change-id=' + changeToHighlight + ']').scrollIntoView();
    }
  });
}

function hideChanges(changesetId) {
  unhighlightChange();
  currentlyShownChangeset = null;
  $('div[data-changeset-id=' + changesetId + '] > div[class=change-list]').hide('fast');
}

function onChangeClicked(data) {
  showChanges(data.clickedChange.changeset_id, data.clickedChange.id);
}

// Updates feed link by generating the URL based on tile range for the currently visible viewport.
function owlUpdateFeedLink() {
  $('#history-sidebar-footer .feed_link').attr('href', owlGeoJsonLayer.getAtomUrlForTilerange());
}
