//= require owl/config
//= require owl/geojson-layer
//= require owl/utils
//= require templates/owl/changeset_list
//= require templates/owl/changes

var owlGeoJsonLayer;
var currentlyShownChangeset;
var currentlySelectedChange;
var initialized = false;

function initOwlLayer() {
  if (initialized) {
    return;
  }
  initialized = true;
  owlGeoJsonLayer = new L.OWL.GeoJSON({styles: OWL.geoJsonStyles});

  owlGeoJsonLayer.on('refreshcalled', function (geojson) {
    $("#sidebar_content").html('<span class="pleasezoomin">Please zoom in<br>to see history</span>');
  });

  owlGeoJsonLayer.on('loading', function (geojson) {
    $("#sidebar_content").html('<%= image_tag "searching.gif" %>');
  });

  owlGeoJsonLayer.on('change_clicked', onChangeClicked);

  owlGeoJsonLayer.on('loaded', function (geojson) {
    var changesets = owlGeoJsonLayer.changesets;

    $.each(changesets, function (index, changeset) {
      prepareChangesetInfo(changeset);
    });

    $("#sidebar_content").html(JST["templates/owl/changeset_list"]({
      changesets: owlGeoJsonLayer.changesetList(),
      owlLayer: owlGeoJsonLayer
    }));

    $("abbr.timeago").timeago();

    $('.changeset-info').click(function (e) {
      var changesetId = findChangesetId(e.target);
      if (changesetId != currentlyShownChangeset) {
        showChanges(changesetId, null);
      } else {
        hideChanges(changesetId);
      }
    });

    $('.changeset-info').hover(
      function (e) {
        owlGeoJsonLayer.highlightChangesetFeatures(findChangesetId(e.target));
      },
      function (e) {
        owlGeoJsonLayer.unhighlightChangesetFeatures(findChangesetId(e.target));
      }
    );

    owlUpdateFeedLink();
  });

  owlGeoJsonLayer.on('changemouseover', function (data) {
    highlightChangesetItem(data.change.changeset_id);
    highlightChange(data.change.id, false, false);
  });

  owlGeoJsonLayer.on('changemouseout', function (data) {
    unhighlightChangesetItem(data.change.changeset_id);
    unhighlightChange(false);
  });

  map.addLayer(owlGeoJsonLayer);
}

function destroyOwlLayer() {
  map.hasLayer(owlGeoJsonLayer) && map.removeLayer(owlGeoJsonLayer);
  owlGeoJsonLayer = null;
  initialized = false;
}

function highlightChangesetItem(changeset_id) {
  $('div[data-changeset-id=' + changeset_id + '] > .changeset-info').addClass('changeset-item-highlight');
}

function unhighlightChangesetItem(changeset_id) {
  $('div[data-changeset-id=' + changeset_id + '] > .changeset-info').removeClass('changeset-item-highlight');
}

function highlightChange(changeId, addSelectedClass, select) {
  if (currentlySelectedChange != null && select) {
    unhighlightChange(true);
  }
  if (addSelectedClass) {
    $('div[data-change-id=' + changeId + ']').addClass('change-selected');
  } else {
    $('div[data-change-id=' + changeId + ']').addClass('change-highlight');
  }
  if (select) {
    $('div[data-change-id=' + changeId + '] > .change-tags').show();
    currentlySelectedChange = changeId;
  }
}

function unhighlightChange(deselect) {
  if (currentlySelectedChange != null) {
    $('div[data-change-id=' + currentlySelectedChange + ']').removeClass('change-highlight');
    if (deselect) {
      $('div[data-change-id=' + currentlySelectedChange + ']').removeClass('change-selected');
      $('div[data-change-id=' + currentlySelectedChange + '] > .change-tags').hide();
      currentlySelectedChange = null;
    }
  }
}

function showChanges(changesetId, changeToHighlight) {
  if (currentlyShownChangeset != null && changesetId != currentlyShownChangeset) {
    hideChanges(currentlyShownChangeset);
  }
  currentlyShownChangeset = changesetId;
  $('div[data-changeset-id=' + changesetId + '] > div[class=change-list]').html(JST["templates/owl/changes"]({
      changeset: owlGeoJsonLayer.changesets[changesetId]
  }));

  $("abbr.timeago").timeago();

  $('.show-prev-geom').hover(function (e) {
    owlGeoJsonLayer.showPrevGeom(findChangeId(e.target));
  }, function (e) {
    owlGeoJsonLayer.showCurrentGeom(findChangeId(e.target));
  });

  $('.change').click(function (e) {
    highlightChange(findChangeId(e.target), false, true);
  });

  $('.change').hover(function (e) {
    owlGeoJsonLayer.highlightChangeFeature(findChangeId(e.target));
  }, function (e) {
    owlGeoJsonLayer.unhighlightChangeFeature(findChangeId(e.target));
  });

  $('.more_link > a').click(function (e) {
    owlGeoJsonLayer.nextPage();
    return false;
  });

  $('div[data-changeset-id=' + changesetId + '] > div[class=change-list]').show('fast', function () {
    if (changeToHighlight) {
      highlightChange(changeToHighlight, true, true);
      $('div[data-change-id=' + changeToHighlight + ']').scrollIntoView(false);
    }
  });
}

function hideChanges(changesetId) {
  unhighlightChange(true);
  currentlyShownChangeset = null;
  $('div[data-changeset-id=' + changesetId + '] > div[class=change-list]').hide('fast', function () {
    $('div[data-changeset-id=' + changesetId + '] > div[class=change-list]').html('');
  });
}

function onChangeClicked(data) {
  showChanges(data.clickedChange.changeset_id, data.clickedChange.id);
}

// Updates feed link by generating the URL based on tile range for the currently visible viewport.
function owlUpdateFeedLink() {
  $('#history-sidebar-footer .feed_link').attr('href', owlGeoJsonLayer.getAtomUrlForTilerange());
}
