<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(".description"), profile_description_path, :class => { "nav-link" => true, "active" => controller_name == "descriptions" } %>
  </li>
</ul>
