<% @title = t('redaction.index.title') %>
<h1><%= t('redaction.index.heading') %></h1>

<% unless @redactions.empty? %>
  <%= render :partial => 'redactions' %>
<% else %>
  <p><%= t 'redaction.index.empty' %></p>
<% end %>
