<% @title = t('redaction.index.title') %>
<% content_for :heading do %>
  <h1><%= t('redaction.index.heading') %></h1>
<% end %>

<% unless @redactions.empty? %>
  <%= render :partial => 'redactions' %>
<% else %>
  <p><%= t 'redaction.index.empty' %></p>
<% end %>
