<% @title = t('.title') %>
<% content_for :heading do %>
  <h1><%= t('.heading') %></h1>
<% end %>

<% unless @redactions.empty? %>
  <%= render :partial => 'redactions' %>
<% else %>
  <p><%= t '.empty' %></p>
<% end %>
