<% form_for :trace, @trace, :url => { :action => "create" }, :html => { :multipart => true } do |f| %>
<table>
  <tr><td align="right"><%= t'trace.trace_form.upload_gpx' %></td><td><%= f.file_field :gpx_file, :size => 50, :maxlength => 255 %></td></tr>
  <tr><td align="right"><%= t'trace.trace_form.description' %></td><td><%= f.text_field :description, :size => 50, :maxlength => 255 %></td></tr>
  <tr><td align="right"><%= t'trace.trace_form.tags' %></td><td><%= f.text_field :tagstring, :size => 50, :maxlength => 255 %></td></tr>
  <tr><td align="right"><%= t'trace.trace_form.public' %></td><td><%= f.check_box :public %></td></tr>
  <tr><td></td><td><%= submit_tag t('trace.trace_form.upload_button') %> | <a href="http://wiki.openstreetmap.org/wiki/Upload"><%= t'trace.trace_form.help' %></a></td></tr>
</table>
<% end %>
