<%= render :partial => 'trace_paging_nav' %>

<table id="keyvalue" cellpadding="3">
  <tr>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => 'trace', :collection => @traces unless @traces.nil? %>
</table>

<%= render :partial => 'trace_paging_nav' %>

<%= render :partial => 'trace_optionals' %>
