<% content_for :optionals do %>
  <div class="optionalbox">
    <h1><%= t'trace.trace_optionals.tags' %></h1>
    <br />
    <% if @all_tags %>
      <% @all_tags.each do |tag| %>
        <%= link_to_tag tag %><br />
      <% end %>
    <% end %>
  </div>
<% end %>
