<h1>Public GPS Traces</h1>
<% if @user %>
  <%= link_to 'See just your traces', {:controller => 'trace', :action => 'mine'} %>
<% end %>

<table id="keyvalue" cellpadding="3">
  <tr>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => 'trace', :collection => @traces %>
</table>
