/* Styles common to large and small screens */

/* Default rules for the body of every page */

body {
  font-family: Arial,sans-serif;
  color: #000;
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}

/* Rules for links */

a {
  color: #00f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Rules for horizontal lines */

hr {
  border: none;
  background-color: #ccc;
  color: #ccc;
  height: 1px;
}

/* Rules for the whole left sidebar, including the logo */

#left {
  position: absolute;
  top: 0px;
  min-width: 170px;
}

/* Rules for the OpenStreetMap logo in the top left corner */

#logo {
  width: 170px;
  min-width: 170px;
  padding: 5px;
  margin: 5px;
  height: 150px;
  background: #fff;
  border: 1px solid #ccd;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

#logo h1 {
  font-size: 14px;
  text-align: center;
  margin: 0px;
}

#logo h2 {
  font-size: 10px;
  margin: 0px;
}

/* Rules for the introductory text displayed in the left sidebar to new users */

#intro {
  width: 170px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  font-size: 11px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

#intro p { margin: 5px; }

/*
 * Rules for alert boxes shown in the left sidebar when important
 * information needs to be conveyed such as when the site is
 * undergoing maintenance.
 */

#alert {
  width: 170px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  background: #d00;
  line-height: 1.2em;
  text-align: left;
  font-size: 14px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

/*
 * Rules for notice boxes shown in the left sidebar when important, but
 * non-critical information needs to be conveyed such as notices about
 * donation drives.
 */

.notice {
  width: 170px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  background: #ea0;
  line-height: 1.2em;
  text-align: left;
  font-size: 14px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

/* Rules for the menu displayed in the left sidebar */

.left_menu {
  width: 170px;
  min-width: 170px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  left: 0px;
  background: #ddd;
  line-height: 1.2em;
  text-align: Left;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.left_menu td {
  font-size: 12px;
  padding-right: 4px;
}

.left_menu h1 {
  font-style: normal;
  font-size: 15px;
  padding: 0em 0em 0em 1em;
  text-align: left;
}

.left_menu ul {
  padding-left: 0px;
  margin: 0px;
  list-style-type: none;
}

.left_menu li {
  margin: 0px;
  padding: 0px;
}

.left_menu img {
  margin: 2px 8px 0px 0px;
}

.left_menu a {
  color: #000;
}

/* Rules for SOTM advert */

#sotm {
  width: 170px;
  padding: 0px;
}

/*
 * Rules for "optional boxes" which appear in the left sidebar on
 * certain pages. Current users are the seach box on the main page
 * and the tag cloud on the traces pages.
 */

.optionalbox {
  width: 170px;
  min-width: 170px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  left: 0px;
  line-height: 1.2em;
  text-align: left;
  font-size: 12px;
  background: #eee;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.optionalbox h1 {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  margin: 0px;
  vertical-align: bottom;
}

/* Rules for the search box */

.whereami {
  line-height: 22px;
  vertical-align: bottom;
  float: right;
}

.search_form {
  height: 16px;
  padding-bottom: 6px;
}

#search_field form {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#search_field input[type="text"] {
  width: 136px;
}

#search_field input[type="submit"] {
  width: 26px;
  padding-left: 0px;
  padding-right: 0px;
}

.search_help {
  font-size: 10px;
  line-height: 1em;
  margin-top: 3px;
  margin-bottom: 0px;
}

/* Rules for donation request box */

.donate {
  width: 170px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  background: #cbeea7;
  line-height: 1.2em;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

/* Rules for Creative Commons logo button */

#cclogo {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Rules for tabbed navigation bar */

#tabnav
{
  height: 20px;
  margin: 0px;
  padding-left: 215px;
  padding-top: 5px;
  background: url('../images/tab_bottom.gif') repeat-x bottom;
}

#tabnav li
{
  margin: 0px; 
  padding: 0px;
  display: inline;
  list-style-type: none;
}

#tabnav a, #tabnav a:link, #tabnav a:visited 
{
  float: left;
  background: #f3f3f3;
  font-size: 13px;
  line-height: 14px;
  font-weight: bold;
  padding: 2px 10px;
  margin-right: 4px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
}

#tabnav a:link.active, #tabnav a:visited.active
{
  border-bottom: 1px solid #fff;
  background: #fff;
  color: #000;
}

#tabnav a:link:hover, #tabnav a:visited:hover
{
  background: #fff;
}

#tabnav a:link.disabled, #tabnav a:visited.disabled,
#tabnav a:link:hover.disabled, #tabnav a:visited:hover.disabled
{
  background: #bbbbbb;
  color: white
}

/* Rules for greeting bar in the top right corner */

#greeting {
  float: right;
  height: 20px;
  margin: 0px;
  padding-right: 10px;
  padding-top: 5px;
  font-size: 13px;
  line-height: 14px;
  background: url('../images/tab_bottom.gif') repeat-x bottom;
}

.greeting-bar-unread {
  font-weight: bold;
}

/* Rules for the message shown in place of the map when javascript is disabled */

#noscript {
  z-index: 20000000;
  position: absolute;
  top: 15px;
  left: 15px
}

/* Rules for OpenLayers maps */

#map {
  position: absolute;
  border: 1px solid black;
  margin: 0px; 
  padding: 0px;
  left: 0px;
  right: 2px;
  top: 0px;
  bottom: 0px;
}

.olControlAttribution {
  display: none !important;
}

#permalink {
  z-index: 10000;
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: smaller;
  text-align: right;
}

/* Rules for edit menu */

#editmenu {
  display: none;
  z-index: 10000;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid black;
}

#editmenu ul {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#editmenu li {
  list-style-type: none;
}

/* Rules for attribution text under the main map shown on printouts */

#attribution {
  display: none;
}

/* Rules for the popout map sidebar */

#sidebar {
  display: none;
  position: absolute;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
  width: 30%;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

#sidebar_content {
  overflow: auto;
  position: absolute;
  font-size: 13px;
  line-height: 14px;
  top: 29px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.sidebar_title {
  margin: 0px;
  padding: 3px 6px;
  height: 29px;
  font-size: 14px;
  line-height: 15px;
  border-bottom: 1px solid black;
  background: #bbb;
}

/* Rules for the map key which appears in the popout sidebar */

#mapkey h3 {
    font-size: 110%;
    font-weight: normal;
    text-align: center;
}

#mapkey .mapkey-table {
    padding-left: 5px;
    padding-right: 5px;
}

#mapkey .mapkey-table-key {
}

#mapkey .mapkey-table-value {
    font-size: 90%;
}

/* Rules for search results which appear in the popout sidebar */

.search_searching {
  margin-top: 5px;
  margin-bottom: 5px;
}

.search_results_heading {
  margin: 0px;
  padding: 3px 6px;
  border: 1px solid #ccc;
  background: #ddd;
}

.search_results_entry {
  margin: 0px;
  padding: 2px 6px;
}

.search_results_error {
  margin: 0px;
  padding: 2px 6px 0px;
  color: #f00;
}

/* Rules for data browser information which appears in the popout sidebar */

.browse_heading {
  margin: 0px;
  padding: 3px 6px;
  border: 1px solid #ccc;
  background: #ddd;
}

.browse_details {
  margin: 0px;
  padding: 0px 6px;
}

/* Rules for export information which appears in the popout sidebar */

.export_heading {
  margin: 0px;
  padding: 3px 6px;
  border: 1px solid #ccc;
  background: #ddd;
}

.export_bounds {
  width: 100%;
  text-align: center;
}

.export_bound {
  margin: 5px;
}

.export_details {
  padding: 2px 6px;
}

#export_osm {
  display: none;
}

#export_mapnik {
  display: none;
}

#export_osmarender {
  display: none;
}

.export_hint {
  padding: 0px 12px;
  font-style: italic;
}

.export_buttons {
  width: 100%;
  text-align: center;
}

/* Rules for the main content area */

#content {
  padding: 0px;
  margin: 0px;
  position: absolute; 
  right: 10px;
  bottom: 10px;
  line-height: 1.2em;
  text-align: left;
}

/* Rules for the changeset list shown by the history tab etc */

#changeset_list, #keyvalue {
  width: 100%;
  font-size: small;
  text-align: left;
  border-collapse: collapse;
  border-width: 0px;
}

#changeset_list .date {
  white-space: nowrap;
}

#changeset_list .user {
  white-space: nowrap;
}

#changeset_list .area {
  white-space: nowrap;
}

#changeset_list.th {
  font-weight: bold;
}

/* Rules for the data browser */

#browse_navigation {
  float: right;
  width: 250px;
  text-align: center;
  margin-left: 10px;
}

#browse_map {
  float: right;
  width: 250px;
  text-align: right;
  margin-left: 10px;
}

#browse_map #small_map {
  width: 250px;
  height: 300px;
  border: solid 1px black;
}

/* Rules for the trace list shown by the traces tab etc */

#trace_list {
  font-size: small;
  text-align: left;
  border-collapse: collapse;
  border-width: 0px;
}

#trace_list .trace_summary {
  font-size: 12px;
  color: gray;
}

/* Rules for the user list */

#user_list {
  width: 100%;
  font-size: small;
}

#user_list tr {
  vertical-align: middle;
}

#user_list p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#user_list_actions {
  float: right;
  margin-top: 10px;
}

/* Rules for the login page */

#login_wrapper {
  float: left; /* ensures the child divs are the same size, and only as wide as they need to be */
}

#login_wrapper div {
  margin: 5px;
  padding: 15px;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

#login_wrapper input[type=submit] {
  float: right;
}

#login_login {
  background-color: #f0f0f0;
}

#login_login h1 {
  margin-top: 5px;
}

#login_signup form.button-to div {
  margin: 0px;
  padding: 0px;
}

/* Rules for the account confirmation page */

div#contributorTerms {
  border: 1px solid black;
  padding: 4px;
  overflow: auto;
  width: 80%;
  height: 60%;
}

div#contributorTerms p#first {
  margin-top: 0px;
}

div#contributorTerms p#last {
  margin-bottom: 0px;
}

div#contributorTerms ol {
  margin-bottom: 0px;
}

div#contributorTerms img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

form#termsForm {
  width: 80%;
}

form#termsForm div#buttons {
  float: right;
}

form#termsForm input#agree {
  margin-left: 50px;
}

/* Rules for the account settings page */

#accountForm td {
  padding-bottom: 10px;
}

#accountImage td {
  padding-bottom: 0px;
}

.nohome .location {
  display: none;
}

#homerow .message {
  display: none;
}

.nohome .message {
  display: inline !important;
}

/* Rules for the user map */

.user_map .olControlPanZoomBar {
  display: none;
}

.user_map .olControlPanZoom {
  display: block;
}

/* Rules for user popups on maps */

.user_popup p {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 55px;
  margin-right: 2px;
}

/* Rules for message in/out box page */

#messages {
  border: 1px solid #ccc;
}

.inbox-row-unread .inbox-subject {
  font-weight: bold;
}

/* Rules for "flash" notice boxes shown at the top of the content area */

#error {
  border: 1px solid red;
  padding: 7px;
  background-color: #fff0f0;
  margin-bottom: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

#warning {
  border: 1px solid orange;
  padding: 7px;
  background-color: #fff6f0;
  margin-bottom: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

#notice {
  border: 1px solid green;
  padding: 7px;
  background-color: #f0fff0;
  margin-bottom: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

/* Rules for highlighting fields with rails validation errors */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* Rules for rails validation error boxes */

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0px;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Rules for forms */

.fieldName {
  text-align: right;
  font-weight: bold;
}

.minorNote {
  font-size: 0.8em;
}

input[type="text"], input[type="password"], textarea {
  border: 1px solid black;
}

input[type="submit"] {
  border: 1px solid black;
}

/* Rules for user images */

img.user_image {
  max-width: 100px;
  max-height: 100px;
  border: 1px solid black;
}

img.user_thumbnail {
  max-width: 50px;
  max-height: 100px;
  border: 1px solid black;
}

/* Rule for "nowrap" class that can be applied to anything to stop wrapping */

.nowrap {
  white-space: nowrap;
}

/* Rules for geo microformats */

abbr.geo {
  border-bottom: none;
}

/* Rules for RSS buttons */

.rsssmall {
  position: relative;
  top: 4px;
}

/* Rules for doing distinct colour of alternate table rows */

.table0 { 
  background: #f6f6f6;
}

.table1 { 
  background: #fff;
}
