/* Styles specific to large screens  */

/* Rules for greeting bar in the top right corner */

#small-greeting {
  display: none;
}

/* Rules for the main content area */

#content {
  left: 192px;
  top: 35px;
}

/* Rules for OpenLayers maps */

.olControlPanZoom {
  display: none;
}
