.olPopupFramedCloudOpenStreetBugs dl { margin:0; padding:0; }
.olPopupFramedCloudOpenStreetBugs dt { margin:0; padding:0; font-weight:bold; float:left; clear:left; }
.olPopupFramedCloudOpenStreetBugs dt:after { content:": "; }
* html .olPopupFramedCloudOpenStreetBugs dt { margin-right:1ex; }
.olPopupFramedCloudOpenStreetBugs dd { margin:0; padding:0; }
.olPopupFramedCloudOpenStreetBugs ul.buttons { list-style-type:none; padding:0; margin:0 }
.olPopupFramedCloudOpenStreetBugs ul.buttons li { display:inline; margin:0; padding:0; }
.olPopupFramedCloudOpenStreetBugs h3 { font-size:1.2em; margin:.2em 0 .7em 0; }
