#left {
  display: none;
}

#greeting {
  display: none;
}

#tabnav {
  display: none;
}

#sidebar {
  display: none;
}

#permalink {
  display: none;
}

.olControlPanZoom {
  display: none;
}

.olControlLayerSwitcher {
  display: none;
}
