#left {
  display: none;
}

#greeting {
  display: none;
}

#tabnav {
  display: none;
}

#sidebar {
  display: none;
}

#permalink {
  display: none;
}

#editmenu {
  display: none;
}

.olControlPanZoom {
  display: none;
}

.olControlPanZoomBar {
  display: none;
}

.olControlLayerSwitcher {
  display: none;
}

.olControlScaleLine {
  display: none !important;
}

.olControlAttribution {
  display: none !important;
}

#map {
  border: 1px solid black;
}
