body {
  font-family: Arial,sans-serif;
  color: #000;
  background-color: #fff;
  font-size: 12px;
}

#left {
  display: none;
}

#greeting {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 16px;
  margin: 0px;
  padding-right: 10px;
  font-size: 13px;
  line-height: 14px;
}

#content {
  padding-top: 16px;
  height: 640px;
}

#tabnav {
/*  display: none;*/
}

#sidebar {
  display: none;
}

#permalink {
  display: none;
}

input[type="text"], input[type="password"], textarea {
  border: 1px solid black;
  font-size: 12px;
}

.olControlPanZoomBar {
  display: none;
}

.olControlLayerSwitcher {
  display: none;
}

.olControlAttribution {
  display: none !important;
}

#attribution {
  font-size: 10px;
  text-align: center;
}

#map {
  border: 1px solid black;
  height: 480px;
}
