/* styles specific to a small-format screen, such as iPhone, Android, etc... */

body {
    font-size: 12px;
}
h1 {
    font-size: 14px;
}

#logo {
  width: 100px;
  min-width: 100px;
  padding: 10px;
  margin: 10px;
  margin-top: 10px;
  height: 70px;
  background: #fff;
  border: 1px solid #ccd;
}
#logo h1 {
  font-size: 11px;
  text-align: center;
  margin: 0px;
}
#logo h2 {
  font-size: 8px;
  margin: 0px;
}
#logo-img {
    display: none;
}

#tabnav
{
  height: 14px;
  margin: 0px;
  padding-left: 10px;
  padding-top: 5px;
  margin-top: 18px;
  background: url('../images/tab_bottom.gif') repeat-x bottom;
  font-size: 10px;
  line-height: 10px;
}
#tabnav li
{
  margin: 0px; 
  padding: 0px;
  display: inline;
  list-style-type: none;
}
#tabnav a, #tabnav a:link, #tabnav a:visited 
{
  float: left;
  background: #f3f3f3;
  font-size: 10px;
  line-height: 10px;
  font-weight: bold;
  padding: 1px 5px;
  margin-right: 1px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
}
#tabnav a:link.active, #tabnav a:visited.active
{
  border-bottom: 1px solid #fff;
  background: #fff;
  color: #000;
}
#tabnav a:link:hover
{
  background: #fff;
}

#left {
  display: none;
  min-width: 100px;
  top: 20px;
}
#intro {
    display: none;
}
.left_menu {
  width: 100px;
  min-width: 100px;
}
.optionalbox {
  width: 100px;
  min-width: 100px;
}
.donate {
  width: 100px;
  min-width: 100px;
}
#content {
    /* left: 142px; */
    left: 10px;
    top: 47px;
}

#greeting {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 14px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  background: none;
}
#full-greeting {
    display: none;
}
#small-greeting {
    display: inline;
}

#signupForm input[type="text"], #signupForm input[type="password"] {
    width: 100%;
}
#signupForm input#user_email {
    max-width: 30em;
}
#signupForm input#user_email_confirmation {
    max-width: 30em;
}
#signupForm input#user_display_name {
    max-width: 20em;
}
#signupForm input#user_pass_crypt {
    max-width: 20em;
}
#signupForm input#user_pass_crypt_confirmation {
    max-width: 20em;
}

#loginForm input#user_email {
    width: 100%;
    max-width: 18em;
}
#loginForm input#user_password {
    width: 100%;
    max-width: 18em;
}

.olControlPanZoomBar {
  display: none;
}
