/* Styles specific to a small screen, such as iPhone, Android, etc... */

/* Default rules for the body of every page */

body {
  font-size: 12px;
}

h1 {
  font-size: 14px;
}

/* Rules for the whole left sidebar, including the logo */

#left {
  display: none;
}

/* Rules for tabbed navigation bar */

#tabnav
{
  height: 14px;
  margin: 0px;
  padding-left: 10px;
  padding-top: 5px;
  margin-top: 18px;
  background: url('../images/tab_bottom.gif') repeat-x bottom;
  font-size: 10px;
  line-height: 10px;
}

#tabnav a, #tabnav a:link, #tabnav a:visited 
{
  font-size: 10px;
  line-height: 10px;
  padding: 1px 5px;
  margin-right: 1px;
}

/* Rules for greeting bar in the top right corner */

#greeting {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 14px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  background: none;
}

#full-greeting {
  display: none;
}

#small-greeting {
  display: inline;
}

/* Rules for OpenLayers maps */

.olControlPanZoomBar {
  display: none;
}

/* Rules for the main content area */

#content {
  left: 10px;
  top: 47px;
}

/* Rules for the signup form */

#signupForm input[type="text"], #signupForm input[type="password"] {
  width: 100%;
}

#signupForm input#user_email {
  max-width: 30em;
}

#signupForm input#user_email_confirmation {
  max-width: 30em;
}

#signupForm input#user_display_name {
  max-width: 20em;
}

#signupForm input#user_pass_crypt {
  max-width: 20em;
}

#signupForm input#user_pass_crypt_confirmation {
  max-width: 20em;
}

/* Rules for the login form */

#loginForm input#user_email {
  width: 100%;
  max-width: 18em;
}

#loginForm input#user_password {
  width: 100%;
  max-width: 18em;
}
