<table class="table table-sm align-middle messages-table">
  <thead>
    <tr>
      <% columns.each do |column| %>
      <th><%= t ".#{column}" %></th>
      <% end %>
      <th class="text-end"><%= t ".actions" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "message", :collection => messages %>
  </tbody>
</table>
