<% content_for :heading do %>
  <h1><%= t ".title" %></h1>
  <p class="mb-0">
    <%= t(
          ".point_to_preferences_html",
          :link => link_to(t(".link_text"), notification_preferences_path)
        ) %>
  </p>
<% end %>

<% if @notifications.empty? %>
  <p><%= t(".no_notifications") %></p>
<% else %>
  <div class="container">
    <% @notifications.each do |notification| %>
      <%= render :partial => notification.to_partial_path, :object => notification, :as => :notification %>
      <hr>
    <% end %>
  </div>
<% end %>
