<% content_for :heading do %>
  <h2><%= t 'group.edit_group' %>: <%= @group.title %></h2>
  <%# TODO: add a destroy action %>
<% end %>

<%= render :partial => 'form' %>

<%# TODO: add member list, with checkboxes for leader role and mark_for_delete %>
