<% content_for :heading do %>
  <h2><%= t 'group.edit_group' %>: <%= @group.title %></h2>
  <%# TODO: add a destroy action %>
<% end %>

<%= render :partial => 'form', :locals => { :include_members => true } %>
