<% content_for :heading_class, "p-0 mw-100" %>
<% content_for :heading do %>
  <div class="header-illustration new-user-main auth-container mx-auto">
    <h1><%= t "users.new.title" %></h1>
  </div>
<% end %>

<div class="auth-container mx-auto my-0">
  <p><strong><%= t "users.new.no_auto_account_create" %></strong></p>
  <p><%= t "users.new.please_contact_support_html", :support_link => mail_to(Settings.support_email, t("users.new.support")) %></p>
</div>
