<% content_for :heading do %>
  <h1><%= t 'users.new.title' %></h1>
  <div class='header-illustration new-user-main'></div>
  <div class='header-illustration new-user-arm'></div>
<% end %>

<div class="message">
  <h1><%= t 'users.new.no_auto_account_create' %></h1>
  <h2><%= raw t 'users.new.contact_webmaster', :webmaster => "mailto:#{SUPPORT_EMAIL}" %></h2>
</div>
