<% @title = t(".title") %>

<% content_for :head do %>
  <%= javascript_include_tag "user" %>
<% end %>

<% content_for :heading do %>
  <h1><%= t(".heading") %></h1>
<% end %>

<% unless @users.empty? %>
  <%= render :partial => "page" %>
<% else %>
  <p><%= t ".empty" %></p>
<% end %>
