<% @title = t ".title" %>

<% content_for :heading do %>
  <h1><%= t ".heading" %></h1>
<% end %>

<p><%= t ".automatically_suspended" %></p>
<p><%= t ".contact_support_html", :support_link => mail_to(Settings.support_email, t(".support")) %></p>
