<% @title = t ".title", :name => @moderation_zone.name %>

<% content_for :heading_class, "pb-0" %>
<% content_for :heading do %>
  <h1><%= t(".heading", :name => @moderation_zone.name) %></h1>
<% end %>

<%= render "form", :moderation_zone => @moderation_zone %>
