headline	{ font-family: Arial,Helvetica,sans-serif; 
			  font-size: 18px; 
			  color: #DDDDFF; } 

largeText	{ font-family: Arial,Helvetica,sans-serif; 
			  font-size: 12px; 
			  color: #FFFFFF; } 

bodyText	{ font-family: Arial,Helvetica,sans-serif; 
			  font-size: 10px; 
			  color: #FFFFFF; } 

a:link      { color: #00FFFF; 
              text-decoration: underline; }
