h1			{ font-family: Arial,Helvetica,sans-serif; 
			  font-size: 18px; 
			  color: #DDDDFF; } 

h2			{ font-family: Arial,Helvetica,sans-serif; 
			  font-size: 16px; 
			  color: #DDDDFF; } 

h3			{ font-family: Arial,Helvetica,sans-serif; 
			  font-size: 14px; 
			  color: #DDDDFF; } 

p			{ font-family: Arial,Helvetica,sans-serif; 
			  font-size: 12px; 
			  color: #FFFFFF; } 

a:link      { color: #00FFFF; 
              text-decoration: underline; }
