<label class="position-relative d-flex <%= classes %>" role="button">
  <%= render "icons/language" %>
  <% unless disabled %>
    <%= select_tag "language",
                   options_for_select(AVAILABLE_LANGUAGES.map { |e| [e[:native_name], e[:code], { :class => "form-select" }] }, I18n.locale),
                   :role => "button",
                   :class => "p-0 position-absolute top-0 start-0 w-100 h-100 language-change-trigger text-transparent bg-transparent #{classes}" %>
  <% end %>
</label>
