<div class="d-flex align-items-center my-1">
  <hr class="flex-grow-1 border-secondary" role="separator">
  <span class="mx-3 text-secondary"><%= text %></span>
  <hr class="flex-grow-1 border-secondary" role="separator">
</div>
