<% content_for :heading do %>
  <h1><%= t ".title" %></h1>
<% end %>

<p>
  <%= link_to t(".new"), new_oauth_application_path, :class => "btn btn-outline-primary" %>
</p>

<table class="table table-borderless table-striped">
  <tbody>
    <%= render :partial => "application", :collection => @applications %>
  </tbody>
</table>
