<% content_for :heading do %>
  <h1><%= t ".title" %></h1>
<% end %>

<%= bootstrap_form_for @application, :url => { :action => :create } do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
<% end %>
