<p>
  <b>User:</b>
  <%=h @user_role.user_id %>
</p>

<p>
  <b>Role:</b>
  <%=h @user_role.role %>
</p>


<%= link_to 'Edit', edit_user_role_path(@user_role) %> |
<%= link_to 'Back', user_roles_path %>