<%
  set_title(t 'activity.list.title')
  @heading = t 'activity.list.title'
%>

<h2>eeeeeeeee
  <a class="geolink" href="<%= root_path %>"><span class="icon close"></span></a>
  <%= @heading %>
</h2>

<div class="changesets">
  <%= image_tag "searching.gif", :class => "loader" %>
</div>
