<% content_for :heading do %>
  <h1><%= t ".heading", :user => @friend.display_name %></h1>
<% end %>

<%= bootstrap_form_tag do |f| %>
  <% if params[:referer] -%>
  <%= f.hidden_field :referer, :value => params[:referer] %>
  <% end -%>
  <%= f.primary t(".button") %>
<% end %>
