<div>
  <% if params[:version] %>
    <p><%= t ".sorry", :id => params[:id], :version => params[:version] %></p>
  <% else %>
    <p><%= t "nodes.not_found_message.sorry", :id => params[:id] %></p>
  <% end %>
</div>
