<% set_title(t("browse.not_found.title")) %>

<%= render "sidebar_header", :title => t("browse.not_found.title") %>

<div>
  <p><%= t ".sorry", :id => params[:id], :version => params[:version] %></p>
</div>
