<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>OpenStreetMap Embedded</title>
    <%= stylesheet_link_tag "embed", :media => "screen" %>
    <%= javascript_include_tag "embed" %>
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>
