<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title><%= t ".title" %></title>
    <%= stylesheet_link_tag "embed", :media => "screen" %>
    <%= javascript_include_tag "embed" %>
  </head>
  <body>
    <div id="map">
      <%= render :partial => "layouts/markers", :locals => { :types => %w[dot] } %>
    </div>
  </body>
</html>
