node[status=fixed] { z-index: 2;
            icon-image: features/bugs/fixed.png; }

node[status=invalid] { z-index: 2;
            icon-image: features/bugs/invalid.png; }

node[status=open]  { z-index: 2;
            icon-image: features/bugs/open.png;
            text-offset: 14; font-family: DejaVu; text: name; font-size: 9; text_color: red; }