/* Landuse */

way[natural] :area                          { color: #ADD6A5; width: 1; fill-color: #ADD6A5; fill-opacity: 0.2; }
way[natural=beach] :area                    { color: #ffdd44; width: 1; fill-color: yellow; fill-opacity: 0.2; set .area_small_name;}
way[natural=coastline]						{ color: black; width: 3; }
way[landuse] :area                          { color: #444444; width: 2; fill-color: #444444; fill-opacity: 0.3; }
way[landuse=residential] :area              { color: #666666; width: 2; fill-color: #666666; fill-opacity: 0.15; }
way[landuse=retail] :area                   { color: #cc2222; width: 2; fill-color: #aa4422; fill-opacity: 0.15; }
way[landuse=commercial] :area               { color: #4444bb; width: 2; fill-color: #444488; fill-opacity: 0.15; }
way[landuse=military] :area                 { color: #ff4444; width: 2; fill-color: #ff4444; fill-opacity: 0.2; set .area_small_name; }
way[amenity],way[shop] :area                { color: #ADCEB5; width: 1; fill-color: #ADCEB5; fill-opacity: 0.2; }
/* way[sport] should not be rendered by itself, according to wiki. Can we make it an "if all else fails"? */
way[leisure] :area                         { color: #8CD6B5; width: 1; fill-color: #8CD6B5; fill-opacity: 0.2; }
way[tourism] :area                          { color: #F7CECE; width: 1; fill-color: #F7CECE; fill-opacity: 0.2; set .area_small_name;}
way[historic] :area,way[ruins] :area        { color: #F7F7DE; width: 1; fill-color: #F7F7DE; fill-opacity: 0.2; set .area_small_name;}
way[military] :area                         { color: #D6D6D6; width: 1; fill-color: #D6D6D6; fill-opacity: 0.2; set .area_small_name;}
way[building] :area                         { color: #bca9a9; width: 1; fill-color: #ff6ec7; fill-opacity: 0.2; }
way[natural=water],
way[waterway][waterway!=dam] :area          { color: #3434ff;    width: 2; fill-color: #3434ff;    fill-opacity: 0.2; set .area_small_name;}
way[waterway=dam]							{ color: black; width: 1; fill-color: #222222; fill-opacity: 0.1; set .area_small_name;}
way[man_made] :area							{ color: black; width: 2; fill-color: #222222; fill-opacity: 0.1; set .area_small_name; }
way[man_made=reservoir_covered] :area       { color: #3434ff; width: 2; dashes: 4, 2; fill-color: #222222; fill-opacity: 0.1; set .area_small_name; }
way[landuse=reservoir] :area                { color: #3434ff;    width: 2; fill-color: #3434ff;    fill-opacity: 0.2; set .area_small_name;}
way[landuse=forest],way[natural=wood] :area { color: green;   width: 2; fill-color: green;   fill-opacity: 0.2; set .area_small_name;}
way[leisure=park]  :area                    { color: #22aa22; width: 2; fill-color: #44ff44; fill-opacity: 0.15; set .area_small_name;}
way[leisure=garden]  :area                  { color: #66ff44; width: 1; fill-color: #66ff44; fill-opacity: 0.2; set .area_small_name;}
way[leisure=pitch] :area					{ z-index: 6; color: #88bb44; width: 2; fill-color: #88ff44; fill-opacity: 0.2; set .area_small_name;}
way[landuse=recreation_ground] :area        { color: green; fill-color: green; set .area_small_name;}
way[amenity=parking] :area                  { color: #bbaa66;    width: 1; fill-color: #bbaa66;    fill-opacity: 0.2; }
way[public_transport=pay_scale_area] :area  { color: gray;    width: 1; fill-color: gray;    fill-opacity: 0.1; }
way[man_made=pier]							{ z-index: 4; color: #777; width: 3; casing-color: black; casing-width: 1;}
way[man_made=pier][floating=yes]			{ dashes: 4,2; casing-color: #444;}
way[leisure=marina] :area					{ color: pink; fill-color: pink; fill-opacity: 0.4; set .area_small_name;}
way[leisure=slipway]						{ color: grey; width: 3; casing-color: #3434ff; casing-width: 2; }
way[leisure=golf_course] :area { color: #44ee22; width: 2; fill-color: #44ee22; fill-opacity: 0.2; set .area_small_name;}
way[boundary]                               { color: #000066; width: 2; opacity: 0.6; dashes: 24,4, 4, 4; z-index: 4;}
/* Perhaps should be filled, on lower zooms. */
way[boundary=national_park]                 { color: #225500; width: 2; opacity: 0.6; dashes: 24,4, 4, 4; z-index: 4;}
way[boundary=protected_area]                { color: #447744; width: 2; opacity: 0.6; dashes: 12,4, 4, 4; z-index: 4;}
way[boundary=administrative]                { color: purple; width: 2; opacity: 0.2; dashes: 24,4; z-index: 4;}
way[boundary=administrative][waterway]      { opacity: 0.8; z-index: 4; dashes: 24,4; width: 6; }
way[landuse=cemetery]						{ color: #664466; width: 2; fill-color: color: #664466; opacity: 0.2; set .area_small_name;}
/* Addressing. Nodes with addresses *and* match POIs should have a poi icon, so we put addressing first */
