/* Turn restrictions */

relation[type=restriction] node { z-index:11; icon-image: icons/restriction.png; }

/* Interactive way behaviour */

way::highlight :hover	{ z-index: 2; width: eval('_width+10'); color: #ffff99; }
way::highlight :hover :background { color: lightcyan; }
way::highlight :selected { z-index: 2; width: eval('_width+10'); color: yellow; opacity: 0.7;}
way::highlight :selected :background { color: cyan; }
way::highlight :restrictfrom { z-index: -1; width: eval('_width+10'); color: red; opacity: 0.7;}
way::highlight :restrictto { z-index: -1; width: eval('_width+10'); color: blue; opacity: 0.7;}
/*way !:drawn !:hasTags{ z-index:10; width: 0.5; color: red; }*/
way !:drawn { z-index:10; width: 1; color: #333333; }
way :tiger { casing-color: #ff00ff;}

/* Interactive node behaviour */

node :dupe { z-index: 9; icon-image: circle; icon-width:8; color: white; opacity: 0.4; casing-opacity: 0.4; casing-color: red; casing-width: 3; }
node :hoverway { z-index: 9; icon-image: circle; icon-width: 8; color: blue; layer: 5; }
node !:drawn :hasTags :poi { z-index: 2; icon-image: circle; icon-width: 8; color: #00ac00; casing-color: #004400; casing-width: 1; }
node !:drawn :poi { z-index: 2; icon-image: circle; icon-width: 8; color: #BBB; casing-color: #333; casing-width: 1; }
node !:drawn :hasTags :selectedway { z-index: 9; icon-image: circle; icon-width: 10; color: black; layer: 5; }
node !:drawn :hasTags { z-index: 9; icon-image: circle; icon-width: 8; color: black; }
node !:drawn :selectedway { z-index: 9; icon-image: circle; icon-width: 8; color: red; casing-color: #cc0000; casing-width: 1; layer: 5; }
node::selectedNode :selected { z-index: 1; icon-image: square; icon-width: eval('_width+10'); color: yellow; interactive: no; layer: 5; }
node::selectedNode :selected :background { color: cyan; }
node::junctionNode :junction :selectedway { z-index: 8; icon-image: circle; icon-width: 12; casing-color: black; casing-width: 1; layer: 5; }
