/* Route relations */

relation[type=route] way::route { z-index: 1; width: 13; color: blue; opacity: 0.3; }
relation[type=route][route=bicycle][network=ncn] way::route { z-index: 1; width: 12; color: red; opacity: 0.3; }
relation[type=route][route=bicycle][network=rcn] way::route { z-index: 1; width: 12; color: cyan; opacity: 0.3; }
relation[type=route][route=bicycle][network=lcn] way::route { z-index: 1; width: 12; color: blue; opacity: 0.3; }
relation[type=route][route=mtb] way::route { z-index: 1; width: 12; color: brown; opacity: 0.3; }
relation[type=route][route=foot] way::route { z-index: 1; width: 10; color: #80ff80; opacity: 0.6; }
