/*

	Wireframe stylesheet for GPS tracks
	
*/

way { z-index: 2; width: 1; color: cyan; } 
node :poi { z-index: 2; 
			icon-image: circle; icon-width: 8; color: orange; 
			casing-color: red; casing-width: 1; 
			text-offset: 10; font-family: DejaVu; text: name; font-size: 9; text_color: red; }

