/*

	Potlatch 2 core stylesheet
	
	This stylesheet should contain commonly used features and only the most essential extra attributes
	(e.g. oneway). It needs to remain simple (not too many nested styles or dash-type decorations) in
	order not to kill performance on slower systems and those with a less effective Flash Player (i.e. 
	Linux).
	
	It is expected that experienced mappers will switch between this and other stylesheets as required.

*/

@import("stylesheets/core_ways.css");
@import("stylesheets/core_pois.css");
@import("stylesheets/core_landuse.css");
@import("stylesheets/core_relations.css");
way .area_small_name {text-color: black; font-size: 10; text: name; text-halo: #ffffaa; text-halo-radius: 2; text-position: center;}
@import("stylesheets/core_interactive.css");

/* Rendering for licence status */

way[_status=no]::status       { z-index: 0; width: eval('_width+7'); color: #AA0000; }
way[_status=partial]::status  { z-index: 0; width: eval('_width+7'); color: #AA0000; opacity: 0.6; }
way[_status=unsure]::status   { z-index: 0; width: eval('_width+7'); color: darkorange; opacity: 0.6; }
node[_status=no]::status      { z-index: 0; icon-image: square; icon-width: eval('_width+7'); color: #AA0000; }
node[_status=partial]::status { z-index: 0; icon-image: square; icon-width: eval('_width+7'); color: #AA0000; opacity: 0.6; }
node[_status=unsure]::status  { z-index: 0; icon-image: square; icon-width: eval('_width+7'); color: darkorange; opacity: 0.6; }
