/*

	Stylesheet that does simple wireframe display

*/

way :hover	{ z-index: 2; width: 14; color: yellow; linecap: round; }
way :selected { z-index: 2; width: 14; color: yellow; linecap: round; }
way !:drawn { z-index: 1; width: 14; color: #444444; linecap: round; }

node :selectedway { z-index: 8; icon-image: circle; icon-width: 16; color: green; }
node :hoverway { z-index: 9; icon-image: circle; icon-width: 16; color: blue; }
node :selected { z-index: 9; icon-image: circle; icon-width: 16; color: red; casing-color: black; casing-width: 1; }
node !:drawn :poi { z-index: 6; icon-image: circle; icon-width: 16; color: green; casing-color: black; casing-width: 1; }
node !:drawn :hasTags { z-index: 9; icon-image: circle; icon-width: 16; color: black; }
node :hasTags :selectedway { z-index: 9; icon-image: circle; icon-width: 16; color: black; }

way[_status=incomplete]::statushighlight { z-index: 0; width: 20; color: #d95f02; linecap: round; }
way[_status=complete]::statushighlight { z-index: 0; width: 18; color: #1b9e77; opacity: 0.4; linecap: round; }
way[_status=complete] { opacity: 0.7; }
node[_status=incomplete]::statushighlight :hasTags { z-index: 5; icon-image: circle; icon-width: 24; color: #d95f02; }
node[_status=complete]::statushighlight :hasTags { z-index: 5; icon-image: circle; icon-width: 20; color: #1b9e77; opacity: 0.4; }
node[_status=complete] { opacity: 0.7; }



