/*

	Stylesheet that does simple wireframe display
	
*/

way :hover	{ z-index: 2; width: 1; color: blue; }
way :selected { z-index: 2; width: 1; color: red; }
way !:drawn { z-index:10; width: 1; color: black; } 

node :selectedway { z-index: 8; icon-image: square; icon-width: 6; color: green; }
node :hoverway { z-index: 9; icon-image: square; icon-width: 6; color: blue; }
node :selected { z-index: 9; icon-image: square; icon-width: 6; color: red; casing-color: black; casing-width: 1; }
node !:drawn :poi { z-index: 2; icon-image: square; icon-width: 4; color: green; casing-color: black; casing-width: 1; }
node !:drawn :hasTags { z-index: 9; icon-image: circle; icon-width: 6; color: black; }
node :hasTags :selectedway { z-index: 9; icon-image: square; icon-width: 8; color: black; layer: 5; }

