<p>
  Move the marker to the correct position and<br/>
  describe the problem in the box below:
</p>
<form action="#">
  <input type="hidden" name="lon">
  <input type="hidden" name="lat">
  <textarea name="comment" cols="40" rows="10"></textarea>
  <br/>
  <input type="submit" name="add" value="Add Note" id="note-add">
</form>
