<div class="note">
  <p>
    <%- I18n.t('javascripts.notes.new.intro_1') %><br/>
    <%- I18n.t('javascripts.notes.new.intro_2') %>
  </p>
  <form action="#">
    <input type="hidden" name="lon">
    <input type="hidden" name="lat">
    <textarea name="text" cols="40" rows="10"></textarea>
    <br/>
    <div class="buttons">
      <input type="submit" name="add" value="<%- I18n.t('javascripts.notes.new.add') %>" id="note-add">
    </div>
  </form>
</div>
