<div class="note">
  <p><%- I18n.t('javascripts.notes.new.intro') %></p>
  <form action="#">
    <input type="hidden" name="lon">
    <input type="hidden" name="lat">
    <textarea class="comment" name="text" cols="40" rows="10"></textarea>
    <br/>
    <div class="buttons clearfix">
      <input type="submit" name="add" value="<%- I18n.t('javascripts.notes.new.add') %>" disabled="1">
    </div>
  </form>
</div>
