<div class="d-flex flex-wrap gap-2">
  <h4 class="fs-5 mb-0"><%= type_and_paginated_count(type, pages) %></h4>
  <% if pages.page_count > 1 %>
    <%= sidebar_classic_pagination(pages, "#{type}_page") { |page| type_and_paginated_count(type, pages, page) } %>
  <% end %>
</div>
