<% content_for :auto_discovery_link_tag do -%>
  <% unless params[:friends] or params[:nearby] -%>
    <%= auto_discovery_link_tag :atom, @params.merge(:max_id => nil, :xhr => nil, :action => :feed) %>
  <% end -%>
<% end -%>

<%
   set_title(changeset_index_title(params, current_user))
   if params[:display_name]
     @heading = t("changesets.index.title_user", :user => link_to(params[:display_name], user_path(:display_name => params[:display_name]))).html_safe
   else
     @heading = @title
   end
%>

<h2>
  <a class="geolink" href="<%= root_path %>"><span class="icon close"></span></a>
  <%= @heading %>
</h2>

<div class="changesets">
  <%= image_tag "searching.gif", :class => "loader" %>
</div>
