<% content_for :auto_discovery_link_tag do -%>
  <% unless params[:friends] or params[:nearby] -%>
    <%= auto_discovery_link_tag :atom, @params.to_h.merge(:before => nil, :xhr => nil, :action => :feed) %>
  <% end -%>
<% end -%>

<% set_title(changeset_index_title(params, current_user))
   @heading = if params[:display_name]
                t("changesets.index.title_user_link_html", :user_link => link_to(params[:display_name], user_path(params[:display_name])))
              else
                @title
              end %>

<%= render "sidebar_header", :title => @heading %>

<div class="changesets mx-n3">
  <div class="text-center loader">
    <div class="spinner-border" role="status">
      <span class="visually-hidden"><%= t("browse.start_rjs.loading") %></span>
    </div>
  </div>
</div>
