<% if params[:id] %>
  <% set_title(t("browse.timeout.title")) %>

  <%= render "sidebar_header", :title => t("browse.timeout.title") %>

  <p><%= t ".sorry_member", :id => params[:id] %></p>
<% else %>
  <% if !params[:list] %>
    <% set_title(t("browse.timeout.title")) %>

    <%= render "sidebar_header", :title => t("browse.timeout.title") %>
  <% end %>

  <p><%= t ".sorry" %></p>
<% end %>
