<% if common_details.changeset.tags['comment'].present? %>
  <div class='browse-section common'>
    <div>
      <h4><%= t 'browse.common_details.changeset_comment' %></h4>
      <p><%= linkify(h(common_details.changeset.tags['comment'])) %></p>
    </div>
  </div>
<% end %>
<%= render :partial => "tag_details", :object => common_details %>
