<% if obj.visible %>
<%= render :partial => 'map', :locals => { :type => type, :id => obj.id } %>
<% else %>
Deleted
<% end %>
<ul>
<% if obj.visible %>
<li><%= link_to h("API"), :controller => type, :action => "read", :id => obj.id %></li>
<% end %>
<li><%= link_to h("History"), :controller => "old_" + type, :action => "history", :id => obj.id %></li>
</ul>
<%= render :partial => 'common_editedby', :locals => { :obj => obj } %>
