<div class='browse-section common'>
  <div>
    <%= render :partial => "tag_details", :object => common_details %>
    <% if common_details.changeset.tags['comment'].present? %>
      <h4><%= t 'browse.common_details.changeset_comment' %></h4>
      <p><%= linkify(h(common_details.changeset.tags['comment'])) %></p>
    <% end %>
  </div>
</div>
