<% if obj.visible %>
<%= render :partial => 'map', :locals => { :type => type, :id => obj.id } %>
<% else %>
Deleted
<% end %>
<ul>
<% if obj.visible %>
<li><%= link_to h("API"), :controller => "api/#{API_VERSION}/"+type, :id => obj.id %></li>
<% end %>
<li><%= link_to h("History"), :controller => "api/#{API_VERSION}/"+type, :id => obj.id, :action => "history" %></li>
</ul>
<%= render :partial => 'common_editedby', :locals => { :obj => obj } %>
