<li><%=
  linked_name = link_to h(printable_name(containing_relation.relation)), :action => "relation", :id => containing_relation.relation.id.to_s
  if containing_relation.member_role.blank?
    raw t 'browse.containing_relation.entry', :relation_name => linked_name
  else
    raw t 'browse.containing_relation.entry_role', :relation_name => linked_name, :relation_role => h(containing_relation.member_role)
  end
%></li>