<tr>
  <td>
    <%= link_to "Relation " + h(printable_name(containing_relation.relation)), :action => "relation", :id => containing_relation.relation.id.to_s %>
    <% unless containing_relation.member_role.blank? %>
      (as <%= h(containing_relation.member_role) %>)
    <% end %>
  </td>
</tr>
