<li><%= linked_name = link_to printable_element_name(containing_relation.relation), containing_relation.relation
        if containing_relation.member_role.blank?
          t ".entry_html", :relation_name => linked_name
        else
          t ".entry_role_html", :relation_name => linked_name, :relation_role => containing_relation.member_role
        end %>
</li>
