<li><%= linked_name = link_to printable_name(containing_relation.relation), :action => "relation", :id => containing_relation.relation.id.to_s
        if containing_relation.member_role.blank?
          t ".entry_html", :relation_name => linked_name
        else
          t ".entry_role_html", :relation_name => linked_name, :relation_role => containing_relation.member_role
        end %>
</li>
