<% if member.member.visible %>
<tr>
  <td><%= link_to member.member.id.to_s, :controller => member.member_type, :id => member.member.id %></td>
  <td><%= h(member.member_type) %></td>
  <td><%= h(member.member_role) %></td>
</tr> 
<% end %>
