<tr>
  <td><%= link_to member.member_id.to_s, :action => member.member_type+'_view', :id => member.member_id %></td>
  <td><%= h(member.member_type) %></td>
  <td><%= h(member.member_role) %></td>
</tr> 
