<div style="float:right; text-align:center; width: 250px;">
<% if @prev %>
< 
<%= link_to @prev.id.to_s, :action => type, :id => @prev.id %>
<% end %>
<% if @prev and @next %>
| 
<% end %>
<% if @next %>
<%= link_to @next.id.to_s, :action => type, :id => @next.id %>
>
<% end %>
</div>
