<div class="row">
  <div class="col">
    <h4><%= heading %></h4>
  </div>
  <% if pages.page_count > 1 %>
    <div class="col-auto">
      <%= raw pagination_links_bootstrap(pages, {}) { |n| url_for(page_param => n) } %>
    </div>
  <% end %>
</div>
