<div class="d-flex flex-wrap gap-2">
  <h4 class="fs-5 mb-0"><%= heading %></h4>
  <% if pages.page_count > 1 %>
    <ul class="pagination pagination-sm mb-1 ms-auto">
      <%= raw pagination_links_bootstrap(pages, {}) { |n| url_for(page_param => n) } %>
    </ul>
  <% end %>
</div>
