<tr>
  <td><%=
    linked_name = link_to h(printable_name(relation_member.member)), :action => relation_member.member_type.downcase, :id => relation_member.member_id.to_s
    type_str = t'browse.relation_member.type.' + relation_member.member_type.downcase

    if relation_member.member_role.blank?
      t'browse.relation_member.entry', :type => type_str, :name => linked_name
    else
      t'browse.relation_member.entry_role', :type => type_str, :name => linked_name, :role => h(relation_member.member_role)
    end
  %></td>
</tr> 
