<% if relation.members.length != 0 %>
<h3>Members</h3> 
<table id="keyvalue" cellpadding="3">
  <tr>
    <th>ID</th>
    <th>Type</th>
    <th>Role</th>
  </tr>
  <%= render :partial => 'member', :collection => relation.relation_members  %>
</table>
<% end %>
