<tr>
  <td>
    <%= relation_member.member_type.capitalize %>
    <%= link_to relation_member.member_id.to_s, :action => relation_member.member_type.downcase, :id => relation_member.member_id %>
    <% unless relation_member.member_role.blank? %>
      as
      <%= h(relation_member.member_role) %>
    <% end %>
  </td>
</tr> 
