<div>
  <div style="text-align: center">
    <p style="margin-top: 10px; margin-bottom: 20px">
      <a id="browse_select_view" href="#">View data for current map view</a>
      <br />
      <a id="browse_select_box" href="#">Manually select a different area</a>  
    </p>
  </div>
  <div id="browse_status" style="text-align: center; display: none">
  </div>
  <div id="browse_content">
  </div>
</div>
