<div>
  <div style="text-align: center">
    <p style="margin-top: 10px; margin-bottom: 20px">
      <a id="browse_select_view" href="#"><%= t'browse.start.view_data' %></a>
      <br />
      <a id="browse_select_box" href="#"><%= t'browse.start.manually_select' %></a>  
      <br />
      <a id="browse_hide_areas_box" href="#"><%= t'browse.start.hide_areas' %></a>  
    </p>
  </div>
  <div id="browse_status" style="text-align: center; display: none">
  </div>
  <div id="browse_content">
  </div>
</div>
