<div style="padding:0px 10px;">
    <div style="text-align: center">
    <p>
      <a id="use_map" display="hidden" href="#">View Data For Current Map View</a>
      <br />
      <a id='drag_box' href="#">Manually select a different area</a>  
    </p>
</div>
<div id="status"></div>
<div id="object">
</div>
</div>
