<% unless tag_details.tags.empty? %>
  <h3><%= t'browse.tag_details.tags' %></h3>
  <table cellpadding="0">
    <%= render :partial => "tag", :collection => tag_details.tags.sort %>
  </table>
<% end %>
