<% unless tag_details.empty? %>
  <h4><%= t ".tags" %></h4>
  <table class='browse-tag-list border border-grey rounded'>
    <%= render :partial => "tag", :collection => tag_details.sort %>
  </table>
<% end %>
