<% unless tag_details.tags.empty? %>
  <tr valign="top">
    <th><%= t'browse.tag_details.tags' %></th>
    <td>
      <table cellpadding="0">
        <%= render :partial => "tag", :collection => tag_details.tags.sort %>
      </table>
    </td>
  </tr>
<% end %>
