<% if tags.length != 0 %>
<h3>Tags</h3>
<table id="keyvalue" cellpadding="3">
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  <%= render :partial => 'tag', :collection => tags  %>
</table>
<% end %>
