<% unless tag_details.empty? %>
  <h4><%= t ".tags" %></h4>
  <div class='mb-3 border border-secondary-subtle rounded overflow-hidden'>
    <table class='mb-0 browse-tag-list table align-middle'>
      <%= render :partial => "browse/tag", :collection => tag_details.sort %>
    </table>
  </div>
<% end %>
