<% change_info = tag_with_changes %>
<tr class="<%= tag_change_class(change_info[:type]) %>">
  <th class='py-1 border-secondary-subtle table-secondary fw-normal' dir='auto'><%= format_key(change_info[:key]) %></th>
  <td class='py-1 border-secondary-subtle border-start' dir='auto'><%= format_tag_value_with_change(change_info) %></td>
</tr>
