<table width="100%">
  <tr>
    <td>
      <h2>Changeset: <%= h(@changeset.id) %></h2>
    </td>
    <td>
      <%= render :partial => "navigation" %>
    </td>
  </tr>
  <tr valign="top">
    <td>
    <%= render :partial => "changeset_details", :object => @changeset %>
    <hr />
      <%= link_to "Download XML", :controller => "changeset", :action => "read" %>
    </td>
  </tr>
</table>
