<% set_title(t("browse.#{@type}.title_html", :name => printable_name(@feature))) %>

<%= render "sidebar_header", :title => t("browse.#{@type}.title_html", :name => printable_name(@feature)) %>

<%= render :partial => @type, :object => @feature %>

<div class='secondary-actions'>
  <% if @feature.visible? %>
    <%= link_to(t("browse.download_xml"), :controller => "api/#{@type.pluralize}", :action => :show) %>
    &middot;
  <% end %>
  <%= link_to(t("browse.view_history"), :action => "#{@type}_history") %>
</div>
