<h2><%= @changesets.length %> Recently Closed Changesets</h2> 
<ul id="recently_changed">
<% @changesets.each do |changeset|
   if changeset.user.data_public?
     user = changeset.user.display_name
   else
     user = "(anonymous)"
   end
   
   cmt = changeset.tags_as_hash['comment'].to_s
   cmt = "(no comment)" if cmt.length == 0
   text = "#{changeset.id} by #{user} - #{cmt}"
%>
   <li><%= link_to h(text), :action => "changeset", :id => changeset.id %></li>
<% end %>
</ul>
