<h2><%= @nodes.length %> Recently Changed Nodes</h2> 
<ul id="recently_changed">
<% @nodes.each do |node| 
   name = node.tags_as_hash['name'].to_s 
   if name.length == 0:
     name = "(No name)"
   end
   name = "#{name} - #{node.id} (#{node.version})"
%>
   <li><%= link_to h(name), :action => "node", :id => node.id %></li>
<% end %>
</ul>
