<% set_title("New Note") %>

<h2>
  <a class="geolink" href="<%= root_path %>"><span class="icon close"></span></a>
  <%= t "browse.note.new_note" %>
</h2>

<div class="note browse-section">
  <h4><%= t('javascripts.notes.new.intro') %></h4>
  <form action="#">
    <input type="hidden" name="lon">
    <input type="hidden" name="lat">
    <br/>
    <textarea class="comment" name="text" cols="40" rows="10"></textarea>
    <br/>
    <div class="buttons clearfix">
      <input type="submit" name="add" value="<%= t('javascripts.notes.new.add') %>" disabled="1">
    </div>
  </form>
</div>
