<h2>Node History: <%= h(@name) %></h2>
<%= render :partial => 'common', :locals => { :obj => @node, :type => "node" } %>
<h2>Hisorical Versions</h2> 
<% @node.old_nodes.reverse.each do |node| %>
<%= render :partial => 'common_editedby', :locals => { :obj => node } %>
<%= render :partial => 'tag_table', :locals => { :tags => node.tags_as_hash } %>
<hr />
<% end %>
