<%
@name = printable_name @node
@title = t('browse.node_history.node_history') + ' | ' + @name
%>

<div class='browse-section header'>
    <h2><%= raw t'browse.node_history.node_history_title', :node_name => link_to(h(@name), :action => "node", :id => @node.id) %>
        <span class="icon close"></span>
    </h2>
</div>

<% @node.old_nodes.reverse.each do |node| %>
  <%= render :partial => "node_details", :object => node %>
<% end %>

<div class='browse-section secondary-actions clearfix'> 
  <span><%= link_to(t('browse.node_history.download_xml'), :controller => "old_node", :action => "history") %>
    &middot;
  <%= link_to(t('browse.node_history.view_details'), :action => "node") %></span>
</div>
