<%
@name = printable_name @node
@title = t('browse.node.node') + ' | ' + @name
%>

<h2><%= t'browse.node.node_title', :node_name => @name %>
    <span class="icon close"></span>
</h2>

<%= render :partial => "node_details", :object => @node %>

<div class='browse-section secondary-actions clearfix'> 
  <span><%= link_to(t('browse.node.download_xml'), :controller => "node", :action => "read") %>
    &middot;
  <%= link_to(t('browse.node.view_history'), :action => "node_history") %>
    </span>
</div>
