<%
@name = printable_name @node
@title = t('browse.node_history.node_history') + ' | ' + @name
%>
<h2>Node History: <%= h(@name) %></h2>

<table width="100%">
  <tr valign="top">
    <td>
      <% @node.old_nodes.reverse.each do |node| %>
        <%= render :partial => "node_details", :object => node %>
        <hr />
      <% end %>
      <%= t 'browse.node_history.download', :download_xml_link => link_to(t('browse.node_history.download_xml'), :controller => "old_node", :action => "history"),
                                            :view_details_link => link_to(t('browse.node_history.view_details'), :action => "node") %>
    </td>
    <%= render :partial => "map", :object => @node %>
  </tr>
</table>
