<%
  browse_not_found_type = {
    'node' => I18n.t('browse.not_found.type.node'),
    'way' => I18n.t('browse.not_found.type.way'),
    'relation' => I18n.t('browse.not_found.type.relation'),
    'changeset' => I18n.t('browse.not_found.type.changeset'),
  };
%>

<h2>
    <a class="geolink" href="<%= root_path %>"><span class="icon close"></span></a>
    <%= t'browse.not_found.sorry', :type=> browse_not_found_type[@type] , :id => params[:id] %></h2>
