<%
@name = printable_name @relation
@title = t('browse.relation_history.relation_history') + ' | ' + @name
%>
<h2><%= t'browse.relation_history.relation_history_title', :relation_name => link_to(h(@name), :action => "relation", :id => @relation.id) %></h2>
<%= render :partial => "map", :object => @relation %>
<% @relation.old_relations.reverse.each do |relation| %>
  <%= render :partial => "relation_details", :object => relation %>
  <hr />
<% end %>
<%= t'browse.relation_history.download', :download_xml_link => link_to(t('browse.relation_history.download_xml'), :controller => "old_relation", :action => "history"), 
                                         :view_details_link => link_to(t('browse.relation_history.view_details'), :action => "relation") %>
