<%= render :partial => 'navigation', :locals => { :type => "relation" } %>
<h2>Relation Browser: <%= h(@name) %></h2>
<%= render :partial => 'common', :locals => { :obj => @relation, :type => "relation" } %>
<%= render :partial => 'tag_table', :locals => { :tags => @relation.tags } %>
<%= render :partial => 'relation_members', :locals => { :members => @relation.relation_members } %>
