<h2>Relation History: <%= h(@name) %></h2>
<%= render :partial => 'common', :locals => { :obj => @relation, :type => "relation" } %>
<h2>Hisorical Versions</h2> 
<% @relation.old_relations.reverse.each do |relation| %>
<%= render :partial => 'common_editedby', :locals => { :obj => relation } %>
<%= render :partial => 'tag_table', :locals => { :tags => relation.tags } %>
<%= render :partial => 'relation_members', :locals => { :members => relation.old_members } %>
<hr />
<% end %>
