<div id="browse_controls" class='inner12 buttons'>
  <a id="browse_filter_toggle" class="button" href="#"><%= t'browse.start_rjs.manually_select' %></a>
  <a id="browse_hide_areas_box" class="button" href="#"><%= t'browse.start_rjs.hide_areas' %></a>
</div>
<div id="browse_status" class='inner12'></div>
<div id="browse_content"></div>
