<div>
  <div style="text-align: center">
    <p style="margin-top: 10px; margin-bottom: 20px">
      <a id="browse_filter_toggle" href="#"><%= t'browse.start_rjs.manually_select' %></a>
      <br />
      <a id="browse_hide_areas_box" href="#"><%= t'browse.start_rjs.hide_areas' %></a>
    </p>
  </div>
  <div id="browse_status" style="text-align: center; display: none">
  </div>
  <div id="browse_content">
  </div>
</div>
