<% set_title(t("browse.#{@type}.version_title", :name => printable_name(@feature), :version => @version)) %>

<h2>
  <a class="geolink" href="<%= root_path %>"><span class="icon close"></span></a>
  <%= t("browse.#{@type}.version_title", :name => printable_name(@feature), :version => @version) %>
</h2>

<%= render :partial => @type, :object => @change %>

