<%
@name = printable_name @way
@title = t('browse.way.way') + ' | ' + @name
%>
<div class='browse-section header'>
    <h2><%= t'browse.way.way_title', :way_name => @name %></h2>
</div>

<%= render :partial => "way_details", :object => @way %>

<div class='browse-section secondary-actions clearfix'> 
  <span><%= link_to(t('browse.way.download_xml'), :controller => "way", :action => "read") %>
    &middot;
    <%= link_to(t('browse.way.view_history'), :action => "way_history") %>
    </span>
</div>
