<%
@name = printable_name @way
@title = t('browse.way_history.way_history') + ' | ' + @name
%>
<h2><%= raw t'browse.way_history.way_history_title', :way_name => link_to(h(@name), :action => "way", :id => @way.id) %></h2>
<%= render :partial => "map", :object => @way %>
<% @way.old_ways.reverse.each do |way| %>
  <%= render :partial => "way_details", :object => way %>
  <hr />
<% end %>
<%= raw t'browse.way_history.download', :download_xml_link => link_to(t('browse.way_history.download_xml'), :controller => "old_way", :action => "history"), 
                                        :view_details_link => link_to(t('browse.way_history.view_details'), :action => "way") %>
