<%
@name = printable_name @way
@title = t('browse.way_history.way_history') + ' | ' + @name
%>

<div class='browse-section header'>
    <h2><%= raw t'browse.way_history.way_history_title', :way_name => link_to(h(@name), :action => "way", :id => @way.id) %></h2>
</div>

<% @way.old_ways.reverse.each do |way| %>
  <%= render :partial => "way_details", :object => way %>
<% end %>

<div class='secondary-actions clearfix'>
  <span><%= link_to(t('browse.way_history.download_xml'), :controller => "old_way", :action => "history") %>
  <%= link_to(t('browse.way_history.view_details'), :action => "way") %></span>
</div>
