
<ul id="activities_list">
  <% activities.each do |activity| -%>
  	<li class="activity vevent"><%= render :partial => "user/activity_#{activity.class.name.downcase}", :locals =>  {:activity => activity} %> </li>
  <% end -%>
</ul>
