<div class="user_popup">
  <%= user_thumbnail popup %>
  <p><%= t('user.popup.' + type) %></p>
  <p><%= link_to popup.display_name, :controller => "user", :action => "view", :display_name => popup.display_name %></p>
</div>
