<% content_for :heading do %>
  <h1><%= t 'user.new.title' %></h1>
  <div class='header-illustration new-user-main'></div>
  <div class='header-illustration new-user-arm'></div>
<% end %>

<div class="message">
  <h1><%= t 'user.new.no_auto_account_create' %></h1>
  <h2><%= raw t 'user.new.contact_webmaster' %></h2>
</div>
