<h1><%= t 'user.confirm email.heading' %></h1>

<p><%= t 'user.confirm email. press confirm button' %></p>

<form method="post">
<input type="hidden" name="confirm_string" value="<%= params[:confirm_string] %>">
<input type="submit" name="confirm_action" value="<%= t 'user.confirm email.button' %>">
</form>
