<h1>Confirm a user account</h1>

<p>Press the confirm button below to activate your account.</p>

<!-- FIXME this is deeply fucked up that the confirmation page should then get you to add a button -->

<form method="post">
<input type="hidden" name="confirm_string" value="<%= params[:confirm_string] %>">
<input type="submit" name="confirm_action" value="Confrm">
</form>


