<h1>Confirm a change of email address</h1>

<p>Press the confirm button below to confirm your new email address.</p>

<form method="post">
<input type="hidden" name="confirm_string" value="<%= params[:confirm_string] %>">
<input type="submit" name="confirm_action" value="Confrm">
</form>
