<h2><%= @this_user.display_name %>'s diary</h2>
<% if @user and @this_user.id == @user.id %>
  <%= link_to 'new post', :controller => 'diary_entry', :action => 'new', :display_name => @user.display_name %>
<% end %>

<h3>recent posts:</h3>
FIXME: geoRSS needed<br><br>
<%= render :partial => 'diary_entry/diary_entry', :collection => @this_user.diary_entries %>
