<h2>Display name:</h2>

<%= error_messages_for 'user' %>
<%= start_form_tag :controller => 'user', :action => 'rename' %>
<%= text_field :user, :display_name, :value => @user.display_name %>
<%= submit_tag 'Change' %>
<%= end_form_tag %>
