<h1>Forgotten Password?</h1><br>

<%= start_form_tag :action => 'lost_password' %>
<table>
  <tr><td>email address:</td><td><%= text_field('user', 'email', {:size => 50, :maxlength => 255} ) %></td></tr>
</table>
<br>
<input type="submit" value="Send me a new password">
