<h1>Forgotten Password?</h1><br>

<% form_tag :action => 'lost_password' do %>
<table>
  <tr><td>Email Address:</td><td><%= text_field('user', 'email', {:size => 50, :maxlength => 255} ) %></td></tr>
</table>
<br>
<input type="submit" value="Send me a new password">
<% end %>
