<% @title = t "user.suspended.title" %>

<h1><%= t "user.suspended.heading" %></h1>

<%= raw t "user.suspended.body", :webmaster => link_to(t("user.suspended.webmaster"), "mailto:webmaster@openstreetmap.org") %>
