<% @title = t "user.suspended.title" %>

<% content_for :heading do %>
  <h1><%= t "user.suspended.heading" %></h1>
<% end %>

<%= raw t "user.suspended.body", :webmaster => link_to(t("user.suspended.webmaster"), "mailto:webmaster@openstreetmap.org") %>
