<%# locals: (entries:, user:, params:) %>

<turbo-frame id="pagination" target="_top" data-turbo="false">
  <h4><%= t ".recent_entries" %></h4>

  <%= render "pagination", :paginator => entries, :params => params %>

  <%= render entries.items, :user => user, :truncated => true %>

  <%= render "pagination", :paginator => entries, :params => params %>
</turbo-frame>
