<turbo-frame id="pagination" target="_top" data-turbo="false">
  <h4><%= t ".recent_entries" %></h4>

  <%= render @entries %>

  <%= render "shared/pagination",
             :translation_scope => "shared.pagination.diary_entries",
             :newer_id => @newer_entries_id,
             :older_id => @older_entries_id %>
</turbo-frame>
