<%# locals: () %>

<turbo-frame id="pagination" target="_top" data-turbo="false">
  <h4><%= t ".recent_entries" %></h4>

  <%= render "shared/pagination", :paginator => @entries %>

  <%= render @entries.items, :truncated => true %>

  <%= render "shared/pagination", :paginator => @entries %>
</turbo-frame>
