<% if @results.empty? %>
  <p class="search_results_entry inner12"><%= t 'geocoder.results.no_results' %></p>
<% else %>
  <ul class='results-list'>
    <% @results.each do |result| %>
      <li><p class="inner12 search_results_entry clearfix"><%= result_to_html(result) %></p></li>
    <% end %>
  </ul>
  <% if @more_params %>
    <div class="search_more">
      <%= link_to t('geocoder.results.more_results'), url_for(@more_params), :class => "button load_more" %>
      <%= image_tag "searching.gif", :class => "loader", :style => "display: none;" %>
    </div>
  <% end %>
<% end %>
