<% @results.each do |source| %>
<p class="search_results_heading">Results from <%= link_to source[:source], source[:url] %></p>
<% if source[:results] %>
<% source[:results].each do |result| %>
<p class="search_results_entry"><%= link_to_function result[:description], "setPosition(#{result[:lat]}, #{result[:lon]}, #{result[:zoom]})" %></p>
<% end %>
<% else %>
<p class="search_results_error"><%= source[:error] %></p>
<% end %>
<% end %>
