<% content_for :heading do %>
  <h1><%= t(@already_follows ? ".unfollow.heading" : ".follow.heading", :user => @user.display_name) %></h1>
<% end %>

<%= bootstrap_form_tag :method => (@already_follows ? :delete : :post) do |f| %>
  <% if params[:referer] -%>
  <%= f.hidden_field :referer, :value => params[:referer] %>
  <% end -%>
  <%= f.primary @already_follows ? t(".unfollow.button") : t(".follow.button") %>
<% end %>
