//= require leaflet
//= require leaflet.osm
//= require i18n/translations

window.onload = function () {
  if (navigator.languages) {
    I18n.locale = navigator.languages[0];
  } else if (navigator.language) {
    I18n.locale = navigator.language;
  }

  var query = (window.location.search || '?').substr(1),
      args  = {};

  var pairs = query.split('&');
  for (var i = 0; i < pairs.length; i++) {
    var parts = pairs[i].split('=');
    args[parts[0]] = decodeURIComponent(parts[1] || '');
  }

  var map = L.map("map");
  map.attributionControl.setPrefix('');
  map.removeControl(map.attributionControl);

  if (!args.layer || args.layer === "mapnik" || args.layer === "osmarender") {
    new L.OSM.Mapnik().addTo(map);
  } else if (args.layer === "cyclemap" || args.layer === "cycle map") {
    new L.OSM.CycleMap().addTo(map);
  } else if (args.layer === "transportmap") {
    new L.OSM.TransportMap().addTo(map);
  } else if (args.layer === "mapquest") {
    new L.OSM.MapQuestOpen().addTo(map);
  } else if (args.layer === "hot") {
    new L.OSM.HOT().addTo(map);
  }

  if (args.marker) {
    L.marker(args.marker.split(','), {icon: L.icon({
      iconUrl: <%= asset_path('images/marker-icon.png').to_json %>,
      iconSize: new L.Point(25, 41),
      iconAnchor: new L.Point(12, 41),
      shadowUrl: <%= asset_path('images/marker-shadow.png').to_json %>,
      shadowSize: new L.Point(41, 41)
    })}).addTo(map);
  }

  if (args.bbox) {
    var bbox = args.bbox.split(',');
    map.fitBounds([L.latLng(bbox[1], bbox[0]),
                   L.latLng(bbox[3], bbox[2])]);
  } else {
    map.fitWorld();
  }

  map.addControl(new L.Control.OSMReportAProblem());
};

L.Control.OSMReportAProblem = L.Control.Attribution.extend({
  options: {
    position: 'bottomright',
    prefix: '<a href="http://www.openstreetmap.org/fixthemap?lat={x}&lon={y}&zoom={z}" target="_blank">'+I18n.t('javascripts.embed.report_problem')+'</a>'
  },

  onAdd: function (map) {
    var container = L.Control.Attribution.prototype.onAdd.call(this, map);

    map.on('moveend', this._update, this);

    return container;
  },

  _update: function () {
    L.Control.Attribution.prototype._update.call(this);

    this._container.innerHTML =
      this._container.innerHTML
        .replace('{x}', this._map.getCenter().lat)
        .replace('{y}', this._map.getCenter().lng)
        .replace('{z}', this._map.getZoom());
  }
});
