// Leaflet extensions
L.extend(L.LatLngBounds.prototype, {
  getSize: function () {
    return (this._northEast.lat - this._southWest.lat) *
           (this._northEast.lng - this._southWest.lng);
  },

  wrap: function () {
    return new L.LatLngBounds(this._southWest.wrap(), this._northEast.wrap());
  }
});

L.Icon.Default.imagePath = <%= "#{asset_prefix}/images".to_json %>;

var map;
var layers;
var objectLayer;
var objectLoader;

function createMap(divName, options, moreOptions) {
  if (!layers) {
    layers = [
      {
        klass: L.OSM.Mapnik,
        attribution: "",
        keyid: "mapnik",
        layerCode: "M",
        name: I18n.t("javascripts.map.base.standard")
      },
      {
        klass: L.OSM.CycleMap,
        attribution: "Tiles courtesy of <a href='http://www.opencyclemap.org/' target='_blank'>Andy Allan</a>",
        keyid: "cyclemap",
        layerCode: "C",
        name: I18n.t("javascripts.map.base.cycle_map")
      },
      {
        klass: L.OSM.TransportMap,
        attribution: "Tiles courtesy of <a href='http://www.opencyclemap.org/' target='_blank'>Andy Allan</a>",
        keyid: "transportmap",
        layerCode: "T",
        name: I18n.t("javascripts.map.base.transport_map")
      },
      {
        klass: L.OSM.MapQuestOpen,
        attribution: "Tiles courtesy of <a href='http://www.mapquest.com/' target='_blank'>MapQuest</a> <img src='http://developer.mapquest.com/content/osm/mq_logo.png'>",
        keyid: "mapquest",
        layerCode: "Q",
        name: I18n.t("javascripts.map.base.mapquest")
      }
    ];
  }

  moreOptions = moreOptions || {};

  options = $.extend({zoomControl: true, panZoomControl: true, layerControl: true}, options);

  map = L.map(divName, $.extend({}, options, {panControl: false, zoomsliderControl: false, maxZoom: 18}));

  if (map.attributionControl) {
    map.attributionControl.setPrefix('');
  }


  var layersControl = L.control.layers();

  if (options.layerControl) {
    layersControl.addTo(map);
    map.layersControl = layersControl;
  }

  if (moreOptions.locateControl) {
    var loc = L.control.locate({
        position: 'topright'
    });
    loc.addTo(map);
  }

  for (var i = 0; i < layers.length; i++) {
    layers[i].layer = new (layers[i].klass)(layers[i]);
    layersControl.addBaseLayer(layers[i].layer, layers[i].name);
  }

  layers[0].layer.addTo(map);

  $("#" + divName).on("resized", function () {
    map.invalidateSize();
  });

  return map;
}

function getUserIcon(url) {
  return L.icon({
    iconUrl: url || <%= asset_path('marker-red.png').to_json %>,
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowUrl: <%= asset_path('images/marker-shadow.png').to_json %>,
    shadowSize: [41, 41]
  });
}

function addObjectToMap(object, options) {
  if (objectLoader) {
    objectLoader.abort();
  }

  if (objectLayer) {
    map.removeLayer(objectLayer);
  }

  objectLoader = $.ajax({
    url: OSM.apiUrl(object),
    dataType: "xml",
    success: function (xml) {
      objectLayer = new L.OSM.DataLayer(null, {
        styles: {
          node: options.style,
          way: options.style,
          area: options.style
        }
      });

      objectLayer.interestingNode = function (node, ways, relations) {
        if (object.type === "node") {
          return true;
        } else if (object.type === "relation") {
          for (var i = 0; i < relations.length; i++)
            if (relations[i].members.indexOf(node) != -1)
              return true;
        } else {
          return false;
        }
      };

      objectLayer.addData(xml);

      var bounds = objectLayer.getBounds();

      if (options.zoom) {
        map.fitBounds(bounds);
      }

      if (options.callback) {
        options.callback(bounds);
      }

      objectLayer.addTo(map);
    }
  });
}

function addBoxToMap(bounds) {
  var box = L.rectangle(bounds, {
    weight: 2,
    color: '#e90',
    fillOpacity: 0
  });

  box.addTo(map);

  return box;
}

function getMapBaseLayer() {
  for (var i = 0; i < layers.length; i++) {
    if (map.hasLayer(layers[i].layer)) {
      return layers[i];
    }
  }
}

function getMapLayers() {
  var layerConfig = "";
  for (var i = 0; i < layers.length; i++) {
    if (map.hasLayer(layers[i].layer)) {
      layerConfig += layers[i].layerCode;
    }
  }
  return layerConfig;
}

function setMapLayers(layerConfig) {
  var foundLayer = false;
  for (var i = 0; i < layers.length; i++) {
    if (layerConfig.indexOf(layers[i].layerCode) >= 0) {
      map.addLayer(layers[i].layer);
      foundLayer = true;
    } else {
      map.removeLayer(layers[i].layer);
    }
  }
  if (!foundLayer) {
    map.addLayer(layers[0].layer);
  }
}
