<div class="user_popup row g-0 mx-1">
  <div class="col-auto mx-1">
    <%= user_thumbnail popup %>
  </div>
  <div class="col mx-1">
    <p><%= t(".#{type}") %></p>
    <p><%= link_to popup.display_name, user_path(popup) %></p>
  </div>
</div>
