<div id="history-sidebar">
</div>
<div id="history-sidebar-loadmore">
<img src="assets/searching.gif">
</div>
<div id="history-sidebar-footer">
  <a href="" class="rsssmall feed_link">
    <img alt="RSS" border="0" height="16" src="/assets/RSS.png" width="16">
  </a>
</div>
