<div id="history-sidebar">
</div>
<div id="history-sidebar-loadmore">
<img src="assets/searching.gif">
</div>
<div id="history-sidebar-footer">
  <a href="" class="rsssmall feed_link">
    <img alt="RSS" border="0" height="16" src="/assets/RSS.png" width="16">
  </a>
  <a href="https://github.com/ppawel/openstreetmap-website/issues/new" class="report_link" target="_blank" style="margin-left: 20px; height: 100%">
  <b>Report a problem or suggestion</b>
  </a>
</div>
