<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(".all_blocks"),
                user_blocks_path,
                :class => ["nav-link", { :active => action_name == "index" }] %>
  </li>
</ul>
