<h1><%= t('user_block.blocks_on.heading', :name => @this_user.display_name) %></h1>

<%= render :partial => 'blocks', :locals => { :show_revoke_link => (@user and @user.moderator?), :show_user_name => false, :show_creator_name => true } %>
