<% @title = t('.title') %>
<% content_for :heading do %>
  <h1><%= t('.heading') %></h1>
<% end %>

<% unless @user_blocks.empty? %>
<%= render :partial => 'blocks', :locals => { :show_revoke_link => (current_user and current_user.moderator?), :show_user_name => true, :show_creator_name => true } %>
<% else %>
<p><%= t ".empty" %></p>
<% end %>
