<%= tag.section :id => local_assigns[:id] do %>
  <div class="d-flex align-items-center gap-2 mb-2">
    <%= inline_svg_tag "about/#{icon}.svg", :class => "flex-shrink-0" %>
    <h2 class="flex-grow-1 mb-0"><%= t ".#{title}_title" %></h2>
  </div>
  <%= yield %>
<% end %>
