<%= tag.div :class => "section", :id => local_assigns[:id] do %>
  <div class='d-flex align-items-center gap-2 mb-2'>
    <div class='flex-shrink-0 icon <%= icon %>'></div>
    <h2 class='flex-grow-1 mb-0'><%= t "site.about.#{title}_title", :locale => @locale %></h2>
  </div>
  <%= yield %>
<% end %>
