<p><%= t ".para_1" %></p>
<p><%= t ".para_2_html",
         :note_icon => link_to(
           tag.i(:class => "bi bi-chat-square-text-fill"),
           new_note_path(:anchor => map_hash(params)),
           :title => t("javascripts.site.createnote_tooltip"),
           :class => "d-inline-block rounded-1 text-white bg-black bg-opacity-75 border border-2 px-1 my-n1 align-text-bottom"
         ),
         :map_link => link_to(t(".the_map"), root_path) %></p>
