<p><%= t ".para_1" %></p>
<p><%= t ".para_2_html",
         :note_icon => (link_to new_note_path(:anchor => map_hash(params)), :title => t("javascripts.site.createnote_tooltip") do
                          tag.svg :width => 20, :height => 20, :class => "align-top" do
                            render :partial => "layouts/control_icons", :locals => { :icons => %w[note] }
                          end
                        end),
         :map_link => link_to(t(".the_map"), root_path) %></p>
