<p><%= t ".para_1" %></p>
<p><%= t ".para_2_html",
         :note_icon => tag.a(:href => new_note_path(:anchor => map_hash(params)),
                             :class => "icon note bg-dark rounded-1",
                             :title => t("javascripts.site.createnote_tooltip")),
         :map_link => link_to(t(".the_map"), root_path) %></p>
