<h2><%= t ".title" %></h2>
<div class='d-flex align-items-center gap-2'>
  <span class='flex-shrink-0 align-self-start sprite question'></span>
  <p><%= t ".paragraph_1_html", :help_link => link_to(t(".get_help_here"), help_path),
                                :welcome_mat_link => link_to(t(".welcome_mat"), t(".welcome_mat_url")) %></p>
</div>
