<h2><%= t ".title" %></h2>
<div class='d-flex align-items-center gap-2'>
  <svg width='50' height='50' viewBox='0 0 100 100' class='flex-shrink-0 align-self-start'>
    <circle cx="50" cy="50" r="45" fill="#7092ff" />
    <path d="M44.42 54.95q0-3 1.26-5.04 1.26-2.04 4.32-4.26 2.7-1.92 3.84-3.3 1.2-1.44 1.2-3.36 0-1.92-1.44-2.88-1.38-1.02-3.9-1.02-2.52 0-4.98.78-2.46.78-5.04 2.1l-3.18-6.42q2.94-1.62 6.36-2.64 3.42-1.02 7.5-1.02 6.24 0 9.66 3 3.48 3 3.48 7.62 0 2.46-.78 4.26-.78 1.8-2.34 3.36-1.56 1.5-3.9 3.24-1.74 1.26-2.7 2.16-.96.9-1.32 1.74-.3.84-.3 2.1v1.74h-7.74zm-.96 12.18q0-2.76 1.5-3.84 1.5-1.14 3.66-1.14 2.1 0 3.6 1.14 1.5 1.08 1.5 3.84 0 2.64-1.5 3.84-1.5 1.14-3.6 1.14-2.16 0-3.66-1.14-1.5-1.2-1.5-3.84z" fill="#fff" />
  </svg>
  <p><%= t ".paragraph_1_html", :help_link => link_to(t(".get_help_here"), help_path),
                                :welcome_mat_link => link_to(t(".welcome_mat"), t(".welcome_mat_url")) %></p>
</div>
