  <h2><%= t ".title" %></h2>
  <span class='sprite small term question float-start'></span>
  <p><%= t ".paragraph_1_html", :help_link => link_to(t(".get_help_here"), help_path),
                                :welcome_mat_link => link_to(t(".welcome_mat"), t(".welcome_mat_url")) %></p>
