<% if defined? ID_KEY %>
  <div id="map">
    <iframe frameBorder="0" id="id-embed" class="id-embed"></iframe>
  </div>
  <script>
    var coord = {};
    <% if @lat && @lon && @zoom -%>
    coord.lat = <%= @lat %>;
    coord.lon = <%= @lon %>;
    coord.zoom = <%= @zoom %>;
    <% else -%>
    coord = OSM.mapParams();
    <% end -%>

    var hash;
    if (coord.object) {
      hash = '#id=' + coord.object.type[0] + coord.object.id;
    } else {
      hash = '#map=' + (coord.zoom || 17) + '/' + coord.lon + '/' + coord.lat
    }

    $('#id-embed').attr('src', 'id_iframe' + hash);
  </script>
<% else %>
  <script type="text/javascript">alert("<%= t 'site.edit.id_not_configured' %>")</script>
<% end %>
