<%= javascript_include_tag "edit/id" %>

<div id="map">
  <% data = { :key => Settings.id_key } -%>
  <% data[:lat] = @lat if @lat -%>
  <% data[:lon] = @lon if @lon -%>
  <% data[:gpx] = trace_data_url(params[:gpx], :format => :xml) if params[:gpx] -%>
  <% data[:url] = id_url(:locale => params[:locale]) -%>
  <%= content_tag :iframe, "", :frameBorder => 0, :id => "id-embed", :class => "id-embed", :allowfullscreen => "", :data => data %>
</div>
