<div id="map">
  <% query = "lat=#{@lat || 0}&lon=#{@lon || 0}&zoom=#{@zoom}" %>
  <iframe src="http://127.0.0.1:8111/load_and_zoom?<%= query %>" width="100%" height="100%">
    <p><%= t 'site.edit.no_iframe_support' %></p>
  </iframe>
</div>
