<% content_for :left_menu do %>
<%= link_to_function "Map key", "showKey();" %>
<% end %>

<script type="text/javascript">
<!--
  function showKey() {
    updateSidebar("Map key", "<p><img src='images/keymapnik11.png' /></p>");
    openSidebar();
  }
// -->
</script>
