<script type="text/javascript">
$(document).ready(function () {
  var updateMapKey = function () {
    $("#sidebar_content").load("<%= url_for :action => :key %>", {
      layer: map.baseLayer.keyid,
      zoom: map.getZoom()
    });
  }

  var closeMapKey = function () {
    map.events.unregister("zoomend", map, updateMapKey);
    map.events.unregister("changelayer", map, updateMapKey);
  }

  $("#open_map_key").click(function () {
    updateMapKey();

    openSidebar({ 
      title: "<%= t('site.key.map_key') %>",
      onclose: closeMapKey
    });

    map.events.register("zoomend", map, updateMapKey);
    map.events.register("changelayer", map, updateMapKey);
  });
});
</script>

<% content_for :left_menu do %>
  <li><%= link_to t("site.key.map_key"), "#", :id => "open_map_key", :title => t("site.key.map_key_tooltip") %></li>
<% end %>
