<%= javascript_include_tag "edit/potlatch" %>

<div id="map">
  <% session[:token] = current_user.tokens.create.token unless session[:token] && UserToken.find_by(:token => session[:token]) -%>
  <% data = { :token => session[:token] } -%>
  <% data[:lat] = @lat if @lat -%>
  <% data[:lon] = @lon if @lon -%>
  <% data[:zoom] = @zoom if @zoom -%>
  <%= content_tag :div, raw(t("site.edit.flash_player_required")), :id => "potlatch", :data => data %>
</div>
