<%= javascript_include_tag "edit/potlatch2" %>

<div id="map">
  <% session[:token] = current_user.tokens.create.token unless session[:token] and UserToken.find_by_token(session[:token]) -%>
  <% data = { :token => session[:token] } -%>
  <% data[:lat] = @lat if @lat -%>
  <% data[:lon] = @lon if @lon -%>
  <% data[:zoom] = @zoom if @zoom -%>
  <% if Settings.key?(:potlatch2_key) %>
  <% token = current_user.access_token(Settings.potlatch2_key) %>
  <% data[:token] = token.token -%>
  <% data[:token_secret] = token.secret -%>
  <% data[:consumer_key] = token.client_application.key -%>
  <% data[:consumer_secret] = token.client_application.secret -%>
  <% end %>
  <% data[:locale] = Locale.list(Potlatch2::LOCALES.keys).preferred(preferred_languages).to_s -%>
  <% data[:locale_path] = asset_path("potlatch2/locales/#{Potlatch2::LOCALES[data[:locale]]}.swf") -%>
  <%= content_tag :div, raw(t("site.edit.flash_player_required")), :id => "potlatch", :data => data %>
</div>
