<div class="container">
  <p><%= t ".removed" %></p>
  <p><%= t ".desktop_application_html", :download_link => link_to(t(".download"), t(".download_url")) %></p>
  <p><%= t ".id_editor_html", :change_preferences_link => link_to(t(".change_preferences"), preferences_path) %></p>
</div>
