<div id="sidebar">
  <table class="sidebar_title" width="100%">
    <tr>
      <td id="sidebar_title"><% t 'site.sidebar.search_results' %></td>
      <td id="sidebar_close"><a class="sidebar_close" href="#"><%= t 'site.sidebar.close' %></a></td>
    </tr>
  </table>
  <div id="sidebar_content">
  </div>
</div>
