<div id="sidebar">
  <div class="sidebar_heading">
    <h4 id="sidebar_title"><% t 'site.sidebar.search_results' %></h4>
    <a class="sidebar_close" href="#"><%= t 'site.sidebar.close' %></a>
  </div>
  <div id="sidebar_content">
    <%= render :template => 'export/start' if params[:export] %>
  </div>
</div>
