<div id="sidebar">
  <table class="sidebar_title" width="100%">
    <tr>
      <td id="sidebar_title"><% t 'site.sidebar.search_results' %></td>
      <td id="sidebar_close"><a href="javascript:closeSidebar()"><%= t 'site.sidebar.close' %></a></td>
    </tr>
  </table>
  <div id="sidebar_content">
  </div>
</div>

<script type="text/javascript">
<!--
  var onclose;

  function openSidebar(options) {
    options = options || {};

    if (onclose) {
       onclose();
       onclose = null;
    }

    if (options.title) { $("#sidebar_title").html(options.title); }

    if (options.width) { $("#sidebar").width(options.width); }
    else { $("#sidebar").width("30%"); }

    $("#sidebar").css("display", "block");

    <%= onopen %>

    onclose = options.onclose;
  }

  function closeSidebar() {
    $("#sidebar").css("display", "none");

    <%= onclose %>

    if (onclose) {
       onclose();
       onclose = null;
    }
  }

  function updateSidebar(title, content) {
    $("#sidebar_title").html(title);
    $("#sidebar_content").html(content);
  }
// -->
</script>
