<h2>Copyright</h2>

<p><a href="http://creativecommons.org/licenses/by-sa/2.0/"><img src="/images/cc_button.png" border="0" alt="" /></a></p>

<p>OpenStreetMap is <i>open data</i>, licensed under the <a href="http://creativecommons.org/licenses/by-sa/2.0/">Creative Commons Attribution-ShareAlike 2.0</a> licence ('CC-BY-SA').</p>

<p>You are free to copy, distribute, transmit and adapt our maps and data, as long as you credit OpenStreetMap and its contributors. If you alter or build upon our maps or data, you may distribute the result only under the same or similar licence. The full <a href="http://creativecommons.org/licenses/by-sa/2.0/legalcode">legal code</a> explains your rights and responsibilities.</p>

<h3>How to credit OpenStreetMap</h3>

<p>If you are using OpenStreetMap map images, we request that your credit reads at least "&copy; OpenStreetMap contributors, CC-BY-SA". If you are using map data only, we request "Map data &copy; OpenStreetMap contributors, CC-BY-SA".</p>

<p>Where possible, OpenStreetMap should be hyperlinked to <a href="http://www.openstreetmap.org/">http://www.openstreetmap.org/</a> and CC-BY-SA to <a href="http://creativecommons.org/licenses/by-sa/2.0/">http://creativecommons.org/licenses/by-sa/2.0/</a>. If you are using a medium where links are not possible (e.g. a printed work), we suggest you direct your readers to www.openstreetmap.org (perhaps by expanding 'OpenStreetMap' to this full address) and to www.creativecommons.org.</p>

<h3>Finding out more</h3>

<p>Read more about using our data at the <a href="http://wiki.openstreetmap.org/wiki/Legal_FAQ">Legal FAQ</a>.
	
<p>OSM contributors are reminded never to add data from any copyrighted sources (e.g. Google Maps or printed maps) without explicit permission from the copyright holders.</p>

<p>Although OpenStreetMap is open data, we cannot provide a free-of-charge map API for third-party developers. See our <a href="http://wiki.openstreetmap.org/wiki/Tile_usage_policy">Tile Usage Policy</a>.

<h3>Our contributors</h3>

<p>Our CC-BY-SA licence requires you to "give the Original Author credit reasonable to the medium or means You are utilizing". Individual OSM mappers do not request a credit over and above that to "OpenStreetMap contributors", but where data from a national mapping agency or other major source has been included in OpenStreetMap, it may be reasonable to credit them by directly reproducing their credit or by linking to it on this page.</p>

<!--

Information for page editors

The following lists only those organisations who require attribution as a condition of their data being used in OpenStreetMap. It is not a general catalogue of imports, and must not be used except when attribution is required to comply with the licence of the imported data.

Any additions here must be discussed with OSM sysadmins first.

-->

<ul id='contributors'>
	
<li><strong>Australia</strong>: Contains suburb data based on Australian Bureau of Statistics data.

<li><strong>Canada</strong>: Contains data from GeoBase&reg;, GeoGratis (&copy; Department of Natural Resources Canada), CanVec (&copy; Department of Natural Resources Canada), and StatCan (Geography Division, Statistics Canada).

<li><strong>New Zealand</strong>: Contains data sourced from Land Information New Zealand. Crown Copyright reserved.

<li><strong>United Kingdom</strong>: Contains Ordnance Survey data &copy; Crown copyright and database right 2010.

</ul>

<p>Inclusion of data in OpenStreetMap does not imply that the original data provider endorses OpenStreetMap, provides any warranty, or accepts any liability.</p>
