<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <%= stylesheet_link_tag "id" %>
  <!--[if !IE || gte IE 9]><!-->
  <%= javascript_include_tag "id" %>
  <!-- <![endif]-->
  <style type='text/css'>
    /* apply document-level styling */
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
<% data = {} -%>
<% if Settings.key?(:id_key) %>
<% token = current_user.access_token(Settings.id_key) %>
<% data[:token] = token.token -%>
<% data[:token_secret] = token.secret -%>
<% data[:consumer_key] = token.client_application.key -%>
<% data[:consumer_secret] = token.client_application.secret -%>
<% end %>
<% data[:locale] = ID::LOCALES.preferred(preferred_languages).to_s -%>
<% data[:locale_path] = asset_path("iD/locales/#{data[:locale]}.json") -%>
<% data[:asset_map] = assets("iD").to_json -%>
<%= content_tag :div, "", :id => "id-container", :data => data %>
</body>
</html>
