<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <%= stylesheet_link_tag "id" %>
  <!--[if !IE || gte IE 9]><!-->
  <%= javascript_include_tag "id" %>
  <!-- <![endif]-->
  <title></title>
</head>
<body>
<% data = {}
   if Settings.key?(:id_application)
     token = current_user.oauth_token(Settings.id_application)
     data[:token] = token.token
   end
   data[:locale] = ID::LOCALES.preferred(preferred_languages).to_s
   data[:asset_map] = assets("iD").to_json

  # Include user preferences for iD editor
   if current_user
     user_preferences = current_user.preferences.each_with_object({}) do |pref, hash|
       hash[pref.k] = pref.v
     end
     data[:user_preferences] = user_preferences.to_json
    end %>
<%= tag.div "", :id => "id-container", :data => data %>
</body>
</html>
