<%
   set_title()
   content_for(:content_class) { "overlay-sidebar" }
%>

<div id="owl-beta-info">
  Welcome to New History Tab beta! Feel free to
  <a href="https://github.com/ppawel/openstreetmap-website/issues/new" target="_blank">report a problem or suggestion</a>.
  <br>
  Current status: <span style="color: green">OWL API OK - HISTORY PROCESSING IN PROGRESS</span>
</div>