<div id="mapkey">
  <table class="table table-sm table-borderless mb-0 align-middle">
    <% @key.each do |layer_name, layer_data| %>
      <% layer_data.each do |entry| %>
        <%= tag.tr :class => "mapkey-table-entry", :data => { :layer => layer_name, :zoom_min => entry["min_zoom"], :zoom_max => entry["max_zoom"] } do %>
          <td>
            <% if entry["width"] && entry["height"] && entry["fill"] %>
              <%= solid_svg_tag entry["width"], entry["height"], entry["fill"], :class => "d-block mx-auto" %>
            <% else %>
              <%= image_tag "key/#{layer_name}/#{entry['image']}", :class => "d-block mx-auto" %>
            <% end %>
          </td>
          <td>
            <%= Array(t(".table.entry.#{entry['name']}")).to_sentence %>
          </td>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>
