<div id="mapkey">
  <table class="mapkey-table">
    <% YAML.load_file("#{RAILS_ROOT}/config/key.yml").each do |name,data| %>
      <% if params[:layer] == name %>
        <% data.each do |entry| %>
          <% if params[:zoom].to_i >= entry['min_zoom'] && params[:zoom].to_i <= entry['max_zoom'] %>
            <tr>
              <td class="mapkey-table-key" align="center">
                <%= image_tag "key/#{name}/#{entry['image']}" %>
              </td>
              <td class="mapkey-table-value">
                <%= [*t("site.key.table.entry.#{entry['name']}")].to_sentence %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>
