<% set_title(t("javascripts.map.layers.header")) %>

<%= render "sidebar_header", :title => t("javascripts.map.layers.header") %>

<div id="layers_contents" class="layers-ui">
  <div class="base-layers py-3">
    <ul class="list-unstyled mb-0"></ul>
  </div>
  <% if Settings.status != "api_offline" && Settings.status != "database_offline" %>
  <div class="overlay-layers py-3 border-top border-grey">
    <p class="text-muted"><%= t "javascripts.map.layers.overlays" %></p>
    <ul class="list-unstyled form-check"></ul>
  </div>
  <% end %>
</div>
