<% set_title(t("javascripts.key.title")) %>

<%= render "sidebar_header", :title => t("javascripts.key.title") %>

<div id="mapkey_contents">
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden"><%= t("browse.start_rjs.loading") %></span>
    </div>
  </div>
</div>
