<% if OSM_STATUS == :database_offline %>
<p>The OpenStreetMap database is currently offline while
   essential database maintenance work is carried out.
</p>
<% else %>
<p>The OpenStreetMap database is currently in read-only mode while
   essential database maintenance work is carried out.
</p>
<% end  %>
