<% set_title(t("javascripts.share.title")) %>

<%= render "sidebar_header", :title => t("javascripts.share.title") %>

<div id="share_contents" class="share-ui">
  <div class="share-link mx-n3 p-3 border-bottom border-grey">
    <h4><%= t "javascripts.share.link" %></h4>
  </div>

  <div class="share-geo-uri mx-n3 p-3 border-bottom border-grey">
    <h4><%= t "javascripts.share.geo_uri" %></h4>
  </div>

  <div class="share-image mx-n3 p-3 border-bottom border-grey">
    <h4><%= t "javascripts.share.image" %></h4>
  </div>
</div>
