<% content_for :head do %>
<% end %>

<%= content_for :heading do %>
  <h2><%= t "verify_page.title" %></h2>
  <div class='header-illustration verify-main'></div>
<% end %>

<h1><%= t "verify_page.introduction_html" %></h1>

<p class='deemphasize'><%= t "verify_page.antispam_alert_html" %></p>

<span> put login form here </span>