<% content_for :heading do %>
  <h1><%= t ".title" %></h1>
<% end %>

<table class="table table-borderless table-striped">
  <thead>
    <th><%= t ".application" %></th>
    <th><%= t ".permissions" %></th>
    <th></th>
  </thead>
  <tbody>
    <%= render :partial => "application", :collection => @applications %>
  </tbody>
</table>
