<div id="history_sidebar">
  <ul>
    <% $.each(changesets, function (index, value) { %>
      <li class="hover-glow"><%- value.created_at %> <%- index %> by <%- value.user_name %></li>
    <% }); %>
  </ul>
</div>
