//  Author: AlexPS
//  License: CC0 - Public Domain
//  Origin file: https://userstyles.org/styles/173774/openstreetmap-dark-theme

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar {
    overflow: visible;
    background: #282828;
    border-color: #444;
  }

  ::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(238, 238, 238, .4);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 3px;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
    background-color: rgba(238, 238, 238, .5);
  }

  ::-webkit-scrollbar-corner {
    background: #282828;
  }

  body {
    background-color: #222;
    color: #eee;
  }

  a:visited, a {
    color: #70b3ff;
  }

  a:hover {
    color: #a3ceff;
  }

  /* Header */
  html body.small header {
    background: #222;
  }

  header h1 a {
    color: #eee !important;
  }

  body.small nav.primary ul, body.small nav.primary ul li {
    border-color: #444;
  }

  nav.primary > ul > li.dropdown > a.tab {
    border-right-color: #3a662f;
  }

  nav.primary > ul > li > a:hover {
    background: #3a662f;
  }

  nav.primary > ul > li.disabled > a:hover {
    background: #1f4018;
  }

  nav.primary .disabled a {
    color: #417a33;
  }

  nav.primary .disabled a .caret {
    border-top-color: #417a33;
  }

  .dropdown-menu {
    background-color: #222;
    border-color: #444;
  }

  .dropdown-menu > li > a, #compact-secondary-nav ul li a {
    color: #eee;
  }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: #6fa462;
  }

  .dropdown-menu .divider {
    border-color: #444;
  }

  .count-number {
    background: #3a662f;
    color: #eee;
  }

  body.small nav.secondary {
    border-bottom-color: #444;
  }

  nav.secondary > ul a, nav.secondary > ul .dropdown-toggle {
    color: #ccc;
  }

  nav.secondary > ul a:hover, nav.secondary > ul .dropdown-toggle:hover {
    color: #eee;
  }

  nav.secondary > ul li.current a {
    color: #eee;
  }

  nav.secondary .user-menu {
    border-color: #444;
  }

  nav.secondary .user-menu > li {
    border-right-color: #444;
  }

  nav.secondary .user-menu > li:hover a {
    background: #444;
  }

  nav.secondary .user-menu.logged-in > a > .user-button {
    color: #ccc;
  }

  nav.secondary .user-menu.logged-in > a:hover > .user-button {
    color: #eee;
  }

  nav.secondary img.user_thumbnail_tiny {
    opacity: .8;
  }

  #menu-icon {
    filter: invert(1);
  }

  /* ==== Body ==== */
  /*[[mapbrightness]]*/
    #map {
      .leaflet-contextmenu {
        background-color: #222;
      }

      .leaflet-contextmenu a.leaflet-contextmenu-item {
        color: #eee;
      }

      .leaflet-contextmenu a.leaflet-contextmenu-item.over {
        background-color: #333;
        border-color: #444;
      }

      .leaflet-popup-content-wrapper, .leaflet-popup-tip {
        background: #222;
        color: #eee;
      }

      .leaflet-container a.leaflet-popup-close-button {
        color: #999;
      }

      .leaflet-container a.leaflet-popup-close-button:hover {
        color: #ccc;
      }

      .leaflet-control-scale-line {
        background: rgba(34, 34, 34, .5);
        border-color: #aaa;
      }

      .leaflet-control-scale-line:not(:first-child) {
        border-top-color: #aaa;
      }

      .leaflet-container .leaflet-control-attribution {
        background: rgba(34, 34, 34, .7);
      }

      .leaflet-container a {
        color: #a3b9ff;
      }

      .donate-attr {
        color: #7ebc6f !important;
      }

      .leaflet-control-attribution, .leaflet-control-scale-line {
        color: #eee;
      }
    }



  /* Left Panel */
  .search_form, .directions_form {
    background-color: #333;
  }

  .search_form .describe_location, .directions_form .describe_location {
    color: #70b3ff;
  }

  input[type="text"], input[type="email"], input[type="url"], input[type="password"], textarea {
    background-color: #222;
    border-color: #444;
    color: #eee;
  }

  .icon.close {
    background-position: -200px -20px;
  }

  .close-wrap:hover .icon.close, .icon.close:hover {
    background-position: -200px 0;
  }

  .search_form input[type=text], .directions_form input[type=text] {
    transition: .1s;
  }

  .search_form input:focus, .directions_form input:focus {
    border-color: #888;
    box-shadow: none;
  }

  input[type="button"], input[type="submit"], input[type="reset"], a.button {
    background: #486a90;
    color: #eee;
  }

  input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, a.button:hover {
    background: #6095d3;
  }

  #sidebar .loader {
    filter: invert(1) contrast(73%);
  }

  .map-layout .welcome .button.learn-more {
    border-right-color: #444;
  }

  .map-layout #sidebar {
    background: #222;
    scrollbar-color: #6e6e6e #222;
    scrollbar-width: thin;
  }

  #sidebar_content .browse-section {
    border-color: #444;
  }

  #sidebar .search_results_entry ul li.selected {
    background: #333;
  }

  #sidebar .search_results_entry ul li:first-child, #sidebar .search_results_entry ul li {
    border-color: #444;
  }

  #sidebar .changesets li {
    border-bottom-color: #444;
  }

  #sidebar .changesets li.selected {
    background: #333;
  }

  #sidebar .changesets h4 a {
    color: #eee;
  }

  #sidebar_content .query-results ul li {
    border-bottom-color: #444;
  }

  #sidebar_content .paginate {
    border-color: #444;
  }

  #sidebar_content .browse-tag-list {
    background-color: #282828;
    border-color: #444;
  }

  #sidebar_content .browse-tag-list th, #sidebar_content .browse-tag-list td {
    border-bottom-color: #444;
  }

  #sidebar_content .browse-tag-list .browse-tag-k {
    background-color: #282828;
  }

  #sidebar_content .browse-tag-list .browse-tag-v {
    background-color: #222;
    border-left-color: #444;
  }

  tr.turn:hover {
    background: #333;
  }

  td.distance {
    color: #888;
  }

  td.instruction, td.distance {
    border-bottom-color: #444;
  }

  div.direction {
    filter: invert(1);
  }

  .export_form .export_boxy {
    background: #333;
    border-color: #444;
  }

  /* Right Panel */
  .leaflet-control .control-button.active {
    background-color: #7ebc6f;
  }

  .leaflet-control .control-button.disabled span, .leaflet-control .control-button.leaflet-disabled span {
    opacity: .5;
  }

  .map-layout #map-ui {
    background: #222;
    scrollbar-color: #6e6e6e #222;
    scrollbar-width: thin;
  }

  .map-layout #map-ui .section {
    border-color: #444;
  }

  .layers-ui .base-layers li {
    border-color: #222;
  }

  .layers-ui .base-layers li:hover {
    border-color: #666;
  }

  .layers-ui .base-layers li label {
    background: rgba(34, 34, 34, .9);
  }

  .share-ui .share-tabs a {
    background-color: #486a90;
  }

  .share-ui .share-tabs a.active {
    background-color: #6095d3;
  }

  .share-ui .share-tabs a:first-child, .share-ui .share-tabs a {
    border-right-color: #444;
  }

  /* Traces */
  .table0, .item0 {
    background: #282828;
  }

  .table1, .item1 {
    background: #222;
  }

  .traces-show .content-inner img {
    filter: invert(1) contrast(73%);
  }

  #trace_list .table1 img {
    filter: invert(1) contrast(73%);
  }

  #trace_list .table0 img {
    filter: invert(1) contrast(69%);
  }

  #trace_list .trace_summary {
    color: #aaa;
  }

  #trace_list .trace_identifiable, #trace_list .trace_public {
    color: #4caf50;
  }

  /* Diary */
  a[href="/diary/new"] img {
    filter: brightness(8) hue-rotate(-20deg);
  }

  .richtext h1, .richtext h2, .prose h1, .prose h2 {
    border-bottom-color: #444;
  }

  .diary_post {
    border-top-color: #444;
  }

  .diary_entries .diary-comment:first-child, .diary_entries .diary-comment {
    border-top-color: #444;
  }

  .diary_entries #newcomment {
    border-top-color: #444;
  }

  img.user_thumbnail, img.user_image {
    border-color: #444;
    opacity: .8;
    transition: .2s ease-out;
  }

  img.user_thumbnail:hover, img.user_image:hover {
    opacity: 1;
  }

  .richtext blockquote, .prose blockquote {
    border-left-color: #282828;
    color: #aaa;
  }

  .richtext pre, .prose pre, .richtext code, .prose code {
    background: #333;
  }

  .richtext img, .prose img {
    background-color: #282828;
  }

  .diary_post .richtext img {
    opacity: .6;
    transition: .2s ease-out;
  }

  .diary_post .richtext img:hover {
    opacity: 1;
  }

  /* Help */
  .site-about #content .attr .byosm {
    background: #3a662f;
  }

  .site-about #content .attr .user-image {
    opacity: .8;
  }

  .site-about #content {
    background-color: #181818;
  }

  .site-about #content .content-inner {
    color: #eee;
  }

  .site-about #content .text {
    background: #222;
  }

  .site-welcome .note-box, .site-fixthemap .note-box {
    background-color: #282828;
  }

  .site-welcome .icon.note, .site-fixthemap .icon.note {
    background-color: #555;
  }

  /* Messages */
  .messages {
    border-color: #444;
  }

  /* Profile */
  .content-heading {
    background: #333;
  }

  ul.secondary-actions > li {
    border-left-color: #444;
  }

  hr {
    background-color: #444;
  }

  .standard-form .form-divider {
    border-top-color: #444;
  }

  .richtext_container .richtext_content .richtext_preview {
    background-color: #282828;
  }

  .richtext_container .richtext_help {
    background: #282828;
  }

  .richtext_container .richtext_help h4.heading, .richtext_container .richtext_help li {
    border-bottom-color: #444;
  }

  input[type="button"].deemphasize, input[type="submit"].deemphasize, input[type="reset"].deemphasize, a.button.deemphasize {
    background: #486a90;
  }

  .buttons input[type="submit"], .buttons input[type="button"], .buttons input[type="reset"], .buttons .button, .buttons .button_to {
    border-right-color: #444;
  }

  input[type="button"]:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled, a.button:disabled {
    background: #333;
    color: #666;
  }

  input[type="button"]:disabled:hover, input[type="submit"]:disabled:hover, input[type="reset"]:disabled:hover, a.button:disabled:hover {
    background: #333;
  }

  /* User */
  .activity-block {
    border-bottom-color: #444;
  }

  .content_map {
    border-color: #444;
  }

  /* ==== Edit ==== */
  .tooltip {
    color: #eee;
  }

  .tooltip.top .tooltip-arrow {
    border-top-color: #222;
  }

  .tooltip.left .tooltip-arrow {
    border-left-color: #222;
  }

  .tooltip.right .tooltip-arrow {
    border-right-color: #222;
  }

  .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #222;
  }

  .tooltip-inner {
    background-color: #222;
  }

  .keyhint-wrap {
    background: #333;
  }

  .curtain-tooltip .tooltip-inner .button-section, .curtain-tooltip .tooltip-inner .instruction {
    border-top-color: #444;
  }

  .modal-actions button {
    border-bottom-color: #444;
  }

  .modal-actions button:hover {
    background-color: #282828;
  }

  .modal-actions > :first-child {
    border-right-color: #444;
  }

  g.point .stroke {
    fill: #222;
    stroke: #ccc;
  }

  g.point.tag-wikidata path.stroke {
    fill: #222;
    stroke: #aaa;
  }

  g.vertex .stroke {
    fill: #222;
    stroke: #ccc;
  }

  g.vertex.shared .stroke {
    fill: #666;
  }

  /* Left Panel */
  #sidebar {
    background: #181818;
    border-color: #444;
  }

  .header {
    border-bottom-color: #444;
  }

  .fillL {
    background: #222;
    color: #eee;
  }

  textarea, input[type=text], input[type=search], input[type=number], input[type=url], input[type=tel], input[type=email] {
    background-color: #222;
    border-color: #444;
    color: #eee;
  }

  button {
    background: #222;
    color: #eee;
  }

  button:focus, button:hover {
    background-color: #333;
  }

  button.active {
    background: #6095d3;
  }

  .category .preset-list-button:after, .category .preset-list-button:before {
    border-color: #444;
  }

  .subgrid .arrow {
    border-bottom-color: #333;
  }

  .fillL3 {
    background: #333;
  }

  .preset-list-button-wrap {
    border-color: #444;
  }

  .preset-list-button .label {
    background-color: #181818;
    border-left-color: rgba(238, 238, 238, .1);
  }

  .preset-list-button:hover .label, .preset-list-button:focus .label, .preset-list-button.disabled, .preset-list-button.disabled .label {
    background-color: #222;
  }

  .preset-icon-fill-vertex circle {
    fill: #181818;
    stroke: #eee;
  }

  .current .preset-list-button, .current .preset-list-button .label {
    background-color: #18181c;
  }

  .note-header, .error-header {
    background-color: #181818;
    border-color: #444;
  }

  .note-header-icon, .error-header-icon {
    background-color: #222;
    border-right-color: #444;
  }

  .note-header-label, .error-header-label {
    background-color: #181818;
  }

  [dir='ltr'] .preset-list-item button.preset-favorite-button, [dir='ltr'] .preset-list-item button.tag-reference-button {
    border-color: #444;
  }

  .preset-list-item button.preset-favorite-button, .preset-list-item button.tag-reference-button {
    background: #181818;
  }

  .preset-list-item button.preset-favorite-button:hover, .preset-list-item button.tag-reference-button:hover {
    background: #222;
  }

  button.action.disabled, button.action.disabled:hover, button[disabled].action, button[disabled].action:hover {
    background: #333;
    color: #666;
  }

  /* Problems */
  .entity-issues .issue-container .issue {
    background: #181818;
    border-color: #444;
  }

  .issue-label .issue-info-button {
    border-left-color: #444;
  }

  .entity-issues .issue-container:not(.active) .issue-text:hover, .entity-issues .issue-container:not(.active) .issue-info-button:hover {
    background: #282828;
  }

  .warnings-list, .warnings-list *, .issue-container.active .issue.severity-warning, .issue-container.active .issue.severity-warning * {
    border-color: #543;
  }

  .issue-container.active .issue.severity-warning .issue-label {
    background: #321;
  }

  .warnings-list .issue.severity-warning .issue-label, .issue.severity-warning .issue-fix-list, .mode-save .warning-section {
    background: #210;
  }

  .warnings-list .issue.severity-warning .issue-label:hover, .issue.severity-warning .issue-fix-item.actionable:hover {
    background: #321;
  }

  .issue.severity-warning .issue-fix-item.actionable, .issue-container.active .issue.severity-warning .issue-info-button {
    color: #fb2;
    fill: #fb2;
  }

  .issue.severity-warning .issue-fix-item.actionable:hover, .issue-container.active .issue.severity-warning .issue-info-button:hover {
    color: #fd4;
    fill: #fd4;
  }

  li.issue-fix-item:not(.actionable) .fix-icon {
    color: #ccc;
    fill: #ccc;
  }

  .errors-list, .errors-list *, .issue-container.active .issue.severity-error, .issue-container.active .issue.severity-error * {
    border-color: #533;
  }

  .issue-container.active .issue.severity-error .issue-label {
    background: #311;
  }

  .errors-list .issue.severity-error .issue-label, .issue.severity-error .issue-fix-list, .mode-save .error-section {
    background: #200;
  }

  .errors-list .issue.severity-error .issue-label:hover, .issue.severity-error .issue-fix-item.actionable:hover {
    background: #311;
  }

  .issue.severity-error .issue-fix-item.actionable, .issue-container.active .issue.severity-error .issue-info-button {
    color: #f77;
    fill: #f77;
  }

  .issue.severity-error .issue-fix-item.actionable:hover, .issue-container.active .issue.severity-error .issue-info-button:hover {
    color: #f99;
    fill: #f99;
  }

  .issue-info .tagDiff-table, .issue-info .tagDiff-row, .issue-info .tagDiff-cell {
    border-color: #444;
  }

  .issue-info .tagDiff-cell-add {
    background: #232;
  }

  .issue-info .tagDiff-cell-remove {
    background: #322;
  }

  /* */
  .entity-issues .disclosure-wrap-entity_issues, .preset-editor .form-fields-container {
    background: #333;
  }

  .field-label {
    background: #181818;
    border-color: #444;
    color: #eee;
  }

  .field-label button {
    background: #181818;
    border-color: #444;
    fill: #eee;
  }

  .field-label button:hover {
    background: #222;
  }

  .form-field-input-localized button.localized-add.disabled, .form-field-input-localized input.localized-main.disabled, .form-field-input-localized input.localized-lang.disabled, .form-field-input-localized input.localized-value.disabled {
    background: #333;
    color: #888;
  }

  .label-text .label-textannotation svg.icon {
    color: #eee;
  }

  .localized-multilingual .entry::before {
    background: #444;
  }

  .form-field-button {
    background-color: #222;
    border-color: #444;
  }

  .form-field-button:hover {
    background-color: #282828;
  }

  .form-field-button .icon {
    fill: #eee;
  }

  .form-field-input-address {
    border-color: #444;
  }

  .form-field-input-multicombo ul.chiplist {
    background: #222;
  }

  .form-field-input-multicombo li.chips {
    background-color: #333;
    border-color: #444;
  }

  .form-field-input-multicombo .input-wrap {
    border-color: #444;
  }

  .form-field-input-multicombo a {
    color: #aaa;
  }

  .fillL3 {
    color: #eee;
  }

  div.combobox {
    background: #222;
    border-color: #444;
  }

  .combobox a {
    border-top-color: #444;
  }

  .combobox a.selected, .combobox a:hover {
    background: #282828;
  }

  .form-field-input-radio > label {
    background-color: #222;
    color: #70b3ff;
  }

  .form-field-input-radio > label:hover {
    background-color: #282828;
  }

  .form-field-input-radio > label.active {
    background-color: #333338;
  }

  .form-field-input-radio > label:not(:last-of-type) {
    border-color: #444;
  }

  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #222;
    border-radius: 50%;
    border: 1px solid #666;
    height: 14px !important;
    width: 14px !important;
  }

  input[type="radio"]:checked {
    box-shadow: inset 0 0 0 2px #222, inset 0 0 0 6px #ccc;
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #222;
    border: 1px solid #666;
    border-radius: 2px;
    height: 13px;
    width: 13px;
  }

  input[type="checkbox"]:checked {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-40 -40 592 592"><path fill="%23ccc" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/></svg>') no-repeat, #222;
  }

  input[type="checkbox"]:indeterminate {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 0 448 512"><path fill="%23ccc" d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>') no-repeat, #222;
  }

  select {
    background: #222;
    border: 1px solid #444;
    border-radius: 2px;
    color: #eee;
    padding: 1px 4px !important;
  }

  .structure-extras-wrap {
    background: #222;
    border-color: #444;
  }

  .form-field-input-wrap .label {
    background: #181818;
  }

  .form-field-input-check {
    background: #222;
    border-color: #444;
    color: #70b3ff;
  }

  .form-field-input-check:hover {
    background: #282828;
  }

  .form-field-input-check > .reverser.button {
    background-color: #333;
    border-color: #444;
  }

  .form-field-input-wrap > input, .form-field-input-wrap > label, .form-field-input-wrap > textarea, .form-field-input-wrap > ul.chiplist {
    border-color: #444;
  }

  /* Tags */
  button.raw-tag-option {
    background: #444;
  }

  .tag-row input, .tag-row input.value, .tag-row:first-child input.value, .tag-row:first-child input.key {
    border-color: #444;
  }

  .tag-row input.key {
    background-color: #181818;
  }

  .tag-row button {
    border-color: #444;
  }

  .tag-row button:hover {
    background: #282828;
  }

  .raw-tag-editor .tag-row:not(:last-child) .tag-reference-body.expanded {
    border-bottom-color: #444;
  }

  .add-row button {
    background: rgba(255, 255, 255, .1);
  }

  .add-row button:focus, .add-row button:hover {
    background: rgba(255, 255, 255, .2);
  }

  .inspector-hover .form-field-input-radio label.active, .inspector-hover .entity-editor-pane a.hide-toggle {
    color: #ccc;
  }

  .inspector-hover .preset-list-button, .inspector-hover .tag-row input {
    background: #181818;
  }

  .inspector-hover .entity-issues .issue-container .issue .issue-label, .inspector-hover .form-field-input-wrap .label, .inspector-hover .form-field-input-multicombo .chiplist, .inspector-hover .form-field-button, .inspector-hover .structure-extras-wrap, .inspector-hover .comments-container .comment, .inspector-hover button, .inspector-hover input, .inspector-hover textarea, .inspector-hover label {
    background: #333;
  }

  .inspector-hover .form-field-input-radio .placeholder {
    color: #ccc;
  }

  .inspector-hover .form-field-input-multicombo .chips {
    background: #333;
    border-color: #444;
  }

  .inspector-hover a, .inspector-hover .form-field-input-multicombo .chips, .inspector-hover .form-field-input-check span, .inspector-hover .entity-issues .issue .icon {
    color: #ccc;
  }

  .inspector-hover .entity-issues .issue-container * {
    border-color: #444 !important;
  }

  .inspector-hover .form-field-input-radio {
    border-color: #444;
  }

  .form-field ul.rows, .form-field ul.rows li {
    border-color: #444;
  }

  .footer {
    background-color: #222;
    border-top-color: #444;
  }

  /* Save Panel */
  textarea:focus, input:focus {
    background-color: #222;
  }

  .fillL2 {
    background: #181818;
    color: #eee;
  }

  .mode-save .changeset-list {
    background: #222;
    border-color: #444;
  }

  .mode-save .changeset-list li {
    border-top-color: #444;
  }

  .mode-save .changeset-list li:hover {
    background-color: #282828;
  }

  .save-communityLinks {
    border-top-color: #444;
  }

  table {
    background-color: #222;
  }

  .community-event, .community-more {
    background-color: #333;
  }

  /* Header Panel*/
  .joined > * {
    border-right-color: rgba(255, 255, 255, .2);
  }

  .help-wrap svg.icon.pre-text.add-note, button.add-note svg.icon {
    color: rgba(238, 238, 238, .25);
    stroke: #eee;
  }

  button.disabled {
    background-color: rgba(34, 34, 34, .25);
    color: rgba(238, 238, 238, .4);
  }

  button.bar-button.save[style="background: rgb(255, 255, 253);"] {
    background: #333332 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 250);"] {
    background: #333332 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 248);"] {
    background: #333331 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 245);"] {
    background: #333331 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 243);"] {
    background: #333330 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 241);"] {
    background: #333330 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 238);"] {
    background: #333329 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 236);"] {
    background: #333329 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 234);"] {
    background: #333328 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 231);"] {
    background: #333328 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 229);"] {
    background: #333327 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 226);"] {
    background: #333327 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 224);"] {
    background: #333326 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 222);"] {
    background: #333326 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 219);"] {
    background: #333325 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 217);"] {
    background: #333325 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 215);"] {
    background: #333324 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 212);"] {
    background: #333324 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 210);"] {
    background: #333323 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 207);"] {
    background: #333323 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 205);"] {
    background: #333322 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 203);"] {
    background: #333322 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 200);"] {
    background: #333321 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 198);"] {
    background: #333321 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 196);"] {
    background: #333320 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 193);"] {
    background: #333320 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 191);"] {
    background: #333319 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 188);"] {
    background: #333319 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 186);"] {
    background: #333318 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 184);"] {
    background: #333318 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 181);"] {
    background: #333317 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 179);"] {
    background: #333317 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 176);"] {
    background: #333316 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 174);"] {
    background: #333316 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 172);"] {
    background: #333315 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 169);"] {
    background: #333315 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 167);"] {
    background: #333314 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 165);"] {
    background: #333314 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 162);"] {
    background: #333313 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 160);"] {
    background: #333313 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 157);"] {
    background: #333312 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 155);"] {
    background: #333312 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 153);"] {
    background: #333311 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 150);"] {
    background: #333311 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 148);"] {
    background: #333310 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 146);"] {
    background: #333310 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 143);"] {
    background: #333309 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 141);"] {
    background: #333309 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 138);"] {
    background: #333308 !important;
  }

  button.bar-button.save[style="background: rgb(255, 255, 136);"] {
    background: #333308 !important;
  }

  button.bar-button.save[style="background: rgb(255, 253, 136);"] {
    background: #333307 !important;
  }

  button.bar-button.save[style="background: rgb(255, 250, 136);"] {
    background: #333307 !important;
  }

  button.bar-button.save[style="background: rgb(255, 248, 136);"] {
    background: #333306 !important;
  }

  button.bar-button.save[style="background: rgb(255, 245, 136);"] {
    background: #333306 !important;
  }

  button.bar-button.save[style="background: rgb(255, 243, 136);"] {
    background: #333305 !important;
  }

  button.bar-button.save[style="background: rgb(255, 241, 136);"] {
    background: #333305 !important;
  }

  button.bar-button.save[style="background: rgb(255, 238, 136);"] {
    background: #333304 !important;
  }

  button.bar-button.save[style="background: rgb(255, 236, 136);"] {
    background: #333304 !important;
  }

  button.bar-button.save[style="background: rgb(255, 234, 136);"] {
    background: #333303 !important;
  }

  button.bar-button.save[style="background: rgb(255, 231, 136);"] {
    background: #333303 !important;
  }

  button.bar-button.save[style="background: rgb(255, 229, 136);"] {
    background: #333302 !important;
  }

  button.bar-button.save[style="background: rgb(255, 226, 136);"] {
    background: #333302 !important;
  }

  button.bar-button.save[style="background: rgb(255, 224, 136);"] {
    background: #333301 !important;
  }

  button.bar-button.save[style="background: rgb(255, 222, 136);"] {
    background: #333301 !important;
  }

  button.bar-button.save[style="background: rgb(255, 219, 136);"] {
    background: #333300 !important;
  }

  button.bar-button.save[style="background: rgb(255, 217, 136);"] {
    background: #333300 !important;
  }

  button.bar-button.save[style="background: rgb(255, 215, 136);"] {
    background: #333200 !important;
  }

  button.bar-button.save[style="background: rgb(255, 212, 136);"] {
    background: #333200 !important;
  }

  button.bar-button.save[style="background: rgb(255, 210, 136);"] {
    background: #333100 !important;
  }

  button.bar-button.save[style="background: rgb(255, 207, 136);"] {
    background: #333100 !important;
  }

  button.bar-button.save[style="background: rgb(255, 205, 136);"] {
    background: #333000 !important;
  }

  button.bar-button.save[style="background: rgb(255, 203, 136);"] {
    background: #333000 !important;
  }

  button.bar-button.save[style="background: rgb(255, 200, 136);"] {
    background: #332900 !important;
  }

  button.bar-button.save[style="background: rgb(255, 198, 136);"] {
    background: #332900 !important;
  }

  button.bar-button.save[style="background: rgb(255, 196, 136);"] {
    background: #332800 !important;
  }

  button.bar-button.save[style="background: rgb(255, 193, 136);"] {
    background: #332800 !important;
  }

  button.bar-button.save[style="background: rgb(255, 191, 136);"] {
    background: #332700 !important;
  }

  button.bar-button.save[style="background: rgb(255, 188, 136);"] {
    background: #332700 !important;
  }

  button.bar-button.save[style="background: rgb(255, 186, 136);"] {
    background: #332600 !important;
  }

  button.bar-button.save[style="background: rgb(255, 184, 136);"] {
    background: #332600 !important;
  }

  button.bar-button.save[style="background: rgb(255, 181, 136);"] {
    background: #332500 !important;
  }

  button.bar-button.save[style="background: rgb(255, 179, 136);"] {
    background: #332500 !important;
  }

  button.bar-button.save[style="background: rgb(255, 176, 136);"] {
    background: #332400 !important;
  }

  button.bar-button.save[style="background: rgb(255, 174, 136);"] {
    background: #332400 !important;
  }

  button.bar-button.save[style="background: rgb(255, 172, 136);"] {
    background: #332300 !important;
  }

  button.bar-button.save[style="background: rgb(255, 169, 136);"] {
    background: #332300 !important;
  }

  button.bar-button.save[style="background: rgb(255, 167, 136);"] {
    background: #332200 !important;
  }

  button.bar-button.save[style="background: rgb(255, 165, 136);"] {
    background: #332200 !important;
  }

  button.bar-button.save[style="background: rgb(255, 162, 136);"] {
    background: #332100 !important;
  }

  button.bar-button.save[style="background: rgb(255, 160, 136);"] {
    background: #332100 !important;
  }

  button.bar-button.save[style="background: rgb(255, 157, 136);"] {
    background: #332000 !important;
  }

  button.bar-button.save[style="background: rgb(255, 155, 136);"] {
    background: #332000 !important;
  }

  button.bar-button.save[style="background: rgb(255, 153, 136);"] {
    background: #331900 !important;
  }

  button.bar-button.save[style="background: rgb(255, 150, 136);"] {
    background: #331900 !important;
  }

  button.bar-button.save[style="background: rgb(255, 148, 136);"] {
    background: #331800 !important;
  }

  button.bar-button.save[style="background: rgb(255, 146, 136);"] {
    background: #331800 !important;
  }

  button.bar-button.save[style="background: rgb(255, 143, 136);"] {
    background: #331700 !important;
  }

  button.bar-button.save[style="background: rgb(255, 141, 136);"] {
    background: #331700 !important;
  }

  button.bar-button.save[style="background: rgb(255, 138, 136);"] {
    background: #331600 !important;
  }

  button.bar-button.save[style="background: rgb(255, 136, 136);"] {
    background: #331600 !important;
  }

  /* Right Panel */
  .map-control > button.active, .map-control > button.active:hover {
    background: #6095d3;
  }

  .pane-heading {
    border-bottom-color: #444;
  }

  .layer-list, .controls-list {
    border-color: #444;
  }

  .layer-list > li {
    background-color: #222;
    color: #70b3ff;
  }

  .layer-list li:hover {
    background-color: #282828;
  }

  .layer-list li.active button, .layer-list li.switch button, .layer-list li.active, .layer-list li.switch {
    background-color: #333338;
  }

  .layer-list li:not(:last-child) {
    border-bottom-color: #444;
  }

  .map-data-pane .layer-list button, .background-pane .layer-list button {
    border-left-color: #444;
  }

  .deemphasize {
    color: #888;
  }

  .deemphasize a {
    color: #6095d3;
  }

  .modal-section {
    border-bottom-color: #444;
  }

  button.secondary-action {
    background: #333;
  }

  button.secondary-action:focus, button.secondary-action:hover {
    background: #444;
  }

  .background-pane .nudge-container {
    border-color: #444;
  }

  .nudge-container .nudge-outer-rect {
    background-color: #333;
    border-color: #444;
  }

  .nudge-container .nudge-inner-rect {
    background-color: #222;
    border-color: #444;
  }

  .nudge-container .nudge-inner-rect input {
    background-color: #222 !important;
    color: #eee;
  }

  .issues-none .box {
    background: #223322;
    border-color: #445544;
  }

  .help-wrap .toc li a, .help-wrap .nav a {
    border-color: #444;
  }

  .help-wrap .toc li:nth-last-child(3) a {
    border-bottom-color: #444;
  }

  .help-wrap .toc li.shortcuts a, .help-wrap .toc li.walkthrough a {
    border-bottom-color: #444;
  }

  .help-wrap .toc li a.selected {
    background: #333338;
  }

  .help-wrap .toc li a:hover, .help-wrap .nav a:hover {
    background: #282828;
  }

  .help-wrap .left-content .body p code {
    background-color: #181818;
    border-color: #444;
    box-shadow: inset 0 -1px 0 #444;
    color: #ccc;
  }

  path[d="M29.5 11C36.404 11 42 16.596 42 23.5v18C42 48.404 36.404 54 29.5 54S17 48.404 17 41.5v-18C17 16.596 22.596 11 29.5 11zM19 28v13.5C19 47.299 23.701 52 29.5 52S40 47.299 40 41.5V28H19zm11.573-14.946l-.073-.004V26H40v-2.5c-.177-5.881-3.925-9.324-9.427-10.446zM19 26h9.5V13.05c-5.512.765-9.221 4.921-9.5 10.45V26z"] {
    fill: #eee !important;
  }

  ::-webkit-scrollbar {
    height: 20px;
    overflow: visible;
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(238, 238, 238, .4);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 3px 3px 3px 4px !important;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
    background-color: rgba(238, 238, 238, .5);
  }
  .card {
    background-color: inherit;
    border-color: rgba(125,125,125, 0.5);
  }
  .card-footer {
    border-color: rgba(125,125,125, 0.5);
  }

  .list-group-item {
    background-color: inherit;
  }

}