:root {
  --marker-red: #f6110a;
  --marker-green: #9cef11;
  --marker-blue: #0b8ef1;
}

svg.role-icon {
  fill: currentColor;
  &.inactive {
    fill: var(--bs-body-bg, transparent);
  }
  &.administrator {
    color: #f69e42;
  }
  &.moderator {
    color: #447eff;
  }
  &.importer {
    color: #38e13a;
  }
}
