:root {
  --marker-red: #f6110a;
  --marker-green: #9cef11;
  --marker-blue: #0b8ef1;
}

i.bi {
  &.role-administrator {
    color: #f69e42;
  }
  &.role-moderator {
    color: #447eff;
  }
  &.role-importer {
    color: #38e13a;
  }
}
