svg.role-icon {
  fill: currentColor;
  &.inactive {
    fill: var(--bs-body-bg, transparent);
  }
  &.administrator {
    color: #f69e42;
  }
  &.moderator {
    color: #447eff;
  }
  &.importer {
    color: #38e13a;
  }
}
