* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

html, body, h1, h2, p, ul, li {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 12px;
  line-height: 30px;
  font-weight: bold;
  display: inline-block;
  margin-left: 35px;
}

h2 {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-top: 30px;
}

h3 {
  font-style: italic;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html, body, .page {
  height: 100%;
  position: relative;
}

body {
  color: #333;
  font: normal 14px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #000;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

small {
  font-size: 12px;
  color: white;
}

p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

em {
  font-style: italic;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body.photo-0 {
  background-image: image-url('copyright/0.jpg');
}

body.photo-1 {
  background-image: image-url('copyright/1.jpg');
}

body.photo-2 {
  background-image: image-url('copyright/2.jpg');
}

body.photo-3 {
  background-image: image-url('copyright/3.jpg');
}

body.photo-4 {
  background-image: image-url('copyright/4.jpg');
}

body.photo-5 {
  background-image: image-url('copyright/5.jpg');
}

body.photo-0 .photo-0 {
  display: block;
}

body.photo-1 .photo-1 {
  display: block;
}

body.photo-2 .photo-2 {
  display: block;
}

body.photo-3 .photo-3 {
  display: block;
}

body.photo-4 .photo-4 {
  display: block;
}

body.photo-5 .photo-5 {
  display: block;
}

.caption {
  max-width: 200px;
  float: right;
  font: italic 14px/20px 'Times New Roman', serif;
  position: fixed;
  text-align: right;
  right: 20px;
  bottom: 60px;
  text-shadow: #000 0px 1px 5px;
  color: #fff;
  display: none;
}

.caption a,
.attr strong {
  color: white;
  text-decoration: none;
  line-height: 1.2;
}

.caption a {
  white-space: nowrap;
}

a.next {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  text-indent: -9999px;
  overflow: hidden;
  background: image-url('copyright/sprite.png') -120px 0px no-repeat;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}

#skinny-top-bar {
  height: 30px;
  background: white;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  z-index: 10;
}

a.logo {
  color: #333;
  display: block;
}

a.logo:hover {
  text-decoration: none;
}

.secondary-actions li {
  float: left;
  list-style: none;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #ddd;
}

.secondary-actions li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

.osmlogo {
  display: block;
  height: 30px;
  width: 20px;
  margin-right: 5px;
  background: image-url('copyright/sprite.png') -250px -11px no-repeat;
  margin-left: 10px;
  position: absolute;
  top: 5px;
}

#greeting {
  position: absolute;
  right: 10px;
  top: 4px;
}

.buttons {
  text-align: center;
}

.buttons .button {
  width: 50%;
  padding: 20px;
}

.button.vendor {
  background: #333;
  padding: 5px 15px;
  margin: 20px auto 10px auto;
}

.button.vendor:hover {
  background: #222;
}

.button.vendor:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  width: 20px;
  height: 20px;
  background: image-url('copyright/sprite.png') -290px -10px no-repeat;
  margin-left: 5px;
}

.text {
  background: white;
  position: relative;
  padding: 40px;
  margin-bottom: 40px;
  z-index: 1;
}

#content-heading .text {
  padding: 40px;
  background: white;
  border-bottom: 1px solid #ddd;
}

#header .text {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 50%;
  min-width: 320px;
  max-width: 640px;
  bottom: 0;
  background: #333;
  background: rgba(0, 0, 0, .8);
  z-index: 2;
}

.attr {
  position: relative;
  padding: 170px 20px 20px 20px;
}

.attr strong {
  display: block;
  font-size: 25px;
}

.attr strong span {
  color: #76c551;
}

.attr .user-image {
  position: absolute;
  top: 0px;
  right: 240px;
  left: 0px;
  height: 150px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-image: image-url('copyright/osm.png');
  background-size: cover;
  background-color: #76c551;
}

.attr .byosm {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  width: 240px;
  height: 150px;
  padding: 20px 20px 20px 40px;
  font: bold 24px/25px Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
  white-space: nowrap;
  color: #fff;
  background: #76c551
}

.attr .byosm span {
  display: inline-block;
  width: 25px;
  margin-left: -25px;
}

.attr .byosm .mark {
  position: relative;
  width: 56px;
  margin-bottom: 10px;
  height: 56px;
  background: image-url('copyright/sprite.png') -50px 0px no-repeat;
}

#content-heading {
  margin-top: -40px;
}

.text p > strong {
  padding-left: 0px;
}

.icon {
  width: 30px;
  height: 30px;
  position: relative;
  float: left;
  margin-right: 10px;
  background: 40px 40px image-url('copyright/sprite.png') no-repeat;
}

.icon.local {
  background-position: 0px 0px;
}

.icon.community {
  background-position: 0px -40px;
}

.icon.open {
  background-position: 0px -80px;
}

.icon.contributors {
  background-position: 0px -120px;
}

.icon.infringement {
  background-position: 0px -160px;
}

#content-body {
  display: block;
  position: relative;
  margin: auto;
  color: #333;
  width: 50%;
  min-width: 320px;
  max-width: 640px;
  padding-bottom: 40px;
}

#content-body .section {
  margin-bottom: 30px;
}

#content-body .section:last-child {
  margin-bottom: 0;
}

#content-body .section ul li {
  margin-left: 20px;
}

a.button,
a.builder {
  display: inline-block;
  text-decoration: none;
  background: #7092ff;
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

a.button {
  margin: auto;
  display: block;
  left: 0;
  right: 0;
  width: 120px;
  text-align: center;
  line-height: 30px;
}

a.button:hover,
a.builder:hover {
  background: blue;
}

a.builder em {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 27px;
  height: 30px;
  text-indent: -9999px;
  overflow: hidden;
  background: image-url('copyright/sprite.png') -166px -5px no-repeat;
}

div.builder {
  background: #333;
  background: rgba(0, 0, 0, .8);
  display: none;
  position: fixed;
  left: 16.6666%;
  top: 0px;
  margin: 60px 0px 0px 0;
  width: 66.6666%;
  padding: 0 20px 20px 20px;
  z-index: 2;
  min-width: 320px;
  max-width: 640px;
}

div.builder a.close {
  position: absolute;
  right: -20px;
  top: -20px;
  z-index: 100;
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  overflow: hidden;
  background: image-url('copyright/sprite.png') -200px 0px no-repeat;
}

div.builder .button {
  display: block;
  width: 200px;
  margin-left: 0;
}

div.builder .attr strong {
  margin-bottom: 0;
}

div.builder p,
div.builder a.skip {
  color: white;
}

div.builder a.customized,
div.builder .attr.customized,
div.customized a.skip,
div.customized .attr.default,
div.builder.widget .form,
div.builder .widget {
  display: none;
}

div.builder a.skip,
div.builder .attr.default
div.customized a.customized,
div.customized .attr.customized,
div.builder .form,
div.builder.widget .widget {
  display: block;
}

.img {
  margin: 20px 0px 20px 0px;
  height: 160px;
  background: image-url('copyright/headers.png') right top no-repeat;
  border-radius: 3px;
}

div.builder .attr {
  border-bottom: 2px dashed #333;
  border-radius: 3px;
  padding: 160px 20px 20px 20px;
  margin: 0px -20px 20px;
}

input[type='text'] {
  border: 0px;
  background: #000;
  color: #fff;
  display: inline-block;
  padding: 5px;
  margin: 0px 0px 10px;
  width: 100%;
  font: 14px/25px Arial, sans-serif;
  border-radius: 4px;
}

body.builder div.builder {
  display: block;
}

body.builder:after {
  content: '';
  position: fixed;
  z-index: 1;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 720px) {
  a.builder, a.next, div.caption {
    display: none !important;
  }
  #content-body, #header .text {
    width: 100%;
    max-width: none;
    margin: 0;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-device-pixel-ratio: 2) {
  .icon,
  a.next,
  #content-heading .button.vendor:after,
  .attr .byosm .mark,
  div.builder a.close {
    background-image: image-url('copyright/sprite@2x.png');
    background-size: 320px 200px;
  }
}
