/*
 *= require leaflet/dist/leaflet
 */

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#map {
  width: 100%;
  height: 100%;
}

.leaflet-marker-icon.leaflet-div-icon {
  background: none;
  border: none;
  pointer-events: none;

  use[color] {
    pointer-events: auto;
  }
}
