/*
 *= require leaflet
 */

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#map {
  width: 100%;
  height: 100%;
}

.leaflet-control-zoom-in {
  background-image: image-url("images/zoom-in.png");
}

.leaflet-control-zoom-out {
  background-image: image-url("images/zoom-out.png");
}
