/*
 *= require maplibre-gl-all
 */

@use "common" with (
  $color-mode-type: media-query
);

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#map {
  width: 100%;
  height: 100%;
}
