// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.event_details {
  .when {
    color: #777; font-size: 120%;
  }
}

.event_attendees > a {
  display: block;
  width: 8em;
  height: 8em;
  border: 1px solid #888;
  border-radius: 4px;
  float: left;
  margin: 1em;
  padding: 1em;
  background-color: rgb(238, 238, 238);
  box-sizing: border-box;
  text-decoration: none;
}
