/* Rules for heatmap labels */

.heatmap-week-labels {
  width: 20px;
  position: relative;
  flex-shrink: 0;
  margin-top: 25px;
}

.heatmap-month-labels {
  position: relative;
  /* margin-left: 24px; */
  margin-bottom: 5px;
}

.heatmap-label {
  font-size: 0.8em;
  color: var(--bs-secondary-color);
  position: absolute;
}

.heatmap-week-label {
  left:10px;
  text-align: right;
}

.heatmap-month-label {
  text-align: center;
  transform: translateX(-50%);
}
