/*
 *= require leaflet
 *= require leaflet.locationfilter
 *= require leaflet.pan
 *= require leaflet.zoom
 */

/* Override to better match the pan/zoom control. */
.leaflet-control-layers {
  box-shadow: 0px 0px 3px #666;
  background: #fff;
  border-radius: 3px;
}

/* Override some conflicting styles.
   https://github.com/openstreetmap/openstreetmap-website/pull/121#issuecomment-10206946 */
.leaflet-popup-content img.user_thumbnail {
  max-width: 50px !important;
}

.user_popup p {
  margin: 0px 2px 0px 55px !important;
}
