/*
 *= require leaflet
 *= require leaflet.locationfilter
 *= require leaflet.pan
 *= require leaflet.zoom
 */

/* Override to better match the pan/zoom control. */
.leaflet-control-layers {
  box-shadow: 0px 0px 3px #666;
  background: #fff;
  border-radius: 3px;
}
