.leaflet-control-zoomslider-in,
.leaflet-control-zoomslider-out,
.leaflet-control-zoomslider-slider,
.leaflet-control-zoomslider-slider-knob {
  background-image: image-url("map_sprite.png");
  position: absolute;
  background-repeat: no-repeat;
  cursor: hand;
  cursor: pointer;
}

.leaflet-control-zoomslider-in,
.leaflet-control-zoomslider-out {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  outline-style: none;
}

.leaflet-control-zoomslider-in {
  top: 50px;
  width: 26px;
  height: 20px;
  left: 10px;
  background-position: -15px -61px;
}

.leaflet-control-zoomslider-out {
  top: 202px;
  width: 26px;
  height: 20px;
  left: 10px;
  background-position: -15px -220px;
}

.leaflet-control-zoomslider-slider {
  top: 70px;
  width: 26px;
  height: 132px;
  left: 10px;
  background-position: -15px -84px;
}

.leaflet-control-zoomslider-slider-knob {
  top: 0px;
  width: 25px;
  height: 10px;
  -webkit-transition: top 100ms linear;
  -moz-transition: top 100ms linear;
  -o-transition: top 100ms linear;
  background-position: -77px -58px;
  pointer: move;
  cursor: move;
}
