/*
 *= require leaflet
 *= require leaflet.locationfilter
 *= require leaflet.pan
 *= require leaflet.zoom
 */

/* Override to serve images through the asset pipeline. */
.leaflet-control-layers-toggle {
  background-image: image-url("images/layers.png");
}

div.leaflet-marker-icon.location-filter.resize-marker {
  background-image: image-url("img/resize-handle.png");
}

div.leaflet-marker-icon.location-filter.move-marker {
  background-image: image-url("img/move-handle.png");
}

/* Override to better match the pan/zoom control. */
.leaflet-control-layers {
  box-shadow: 0px 0px 3px #666;
  background: #fff;
  border-radius: 3px;
}

/* Override some conflicting styles.
   https://github.com/openstreetmap/openstreetmap-website/pull/121#issuecomment-10206946 */
.leaflet-popup-content img.user_thumbnail {
  max-width: 50px !important;
}

.user_popup p {
  margin: 0 !important;
}

.site .leaflet-container a {
  color: #00f;
}

.site .leaflet-popup p {
  margin: 0 0 20px 0;
}

.leaflet-control-attribution #permalinkanchor {
  background: image-url("sprite.png") 0 -45px no-repeat;
  padding-left:20px;
}

.site .leaflet-control-attribution {
  box-shadow: none;
  font-size: inherit;
}
