/*
 *= require leaflet/dist/leaflet
 *= require leaflet.locationfilter
 */

/* Override to serve images through the asset pipeline. */
div.leaflet-marker-icon.location-filter.resize-marker {
  background-image: image-url("img/resize-handle.png");
}

div.leaflet-marker-icon.location-filter.move-marker {
  background-image: image-url("img/move-handle.png");
}

div.leaflet-div-icon {
  background: none;
  border: none;
}
