/* Styles for LTR languages */

/* General rules for every page */

html body {
  text-align: left;
}

.small_icon {
  margin-right: 5px;
}

/* General styles for tables */

table th,
table td  {
  text-align: left;
}

/* Rules for the left sidebar */

#left {
  border-right: 1px solid #ccc;
  float: left;
}

/*
 * Rules for "optional boxes" which appear in the left sidebar on
 * certain pages. Current users are the search box on the main page
 * and the tag cloud on the traces pages.
 */

.optionalbox {
  left: 0px;
  text-align: left;
}

/* Rules for the search box */

#search_field input[type="submit"] {
  right: 4px;
}

/* Rules for donation request box */

.donate {
  margin: 10px 10px 0px 10px;
}

.donate .donate-icon {
  left: 17px;
}

/* Rules for tabbed navigation bar */

#top-bar {
  margin-left: 185px;
}

#tabnav a,
#tabnav a:link,
#tabnav a:visited {
  float: left;
  margin-right: 1px;
}

/* Rules for greeting bar in the top right corner */

#greeting {
  float: right;
  padding-right: 10px;
}

/* Rules for the message shown in place of the map when javascript is disabled */

#noscript {
  left: 15px
}

/* Rules for attribution text under the main map shown on printouts */

.attribution_license {
  text-align: left;
}

.attribution_project {
  text-align: right;
}

/* Rules for the popout map sidebar */

#sidebar {
  left: 0px;
  border-right: 1px solid #ccc;
}

#sidebar_close {
  right: 20px;
}

/* Rules for data browser information which appears in the popout sidebar */

#browse_content a.more-details {
    right: 20px;
}

/* Rules for the main content area */

.site-edit #content,
.site-index #content,
.site-export #content {
  left: 185px; right: 0;
  border-left: 1px solid #ccc;
}

.wrapper {
  margin-left: 185px;
  border-left: 1px solid #ccc;
  text-align: left;
}

#slim_header img {
  margin-right: 5px;
}

/* Rules for small maps in content areas */

.content_map {
  float: right;
}

/* Rules for the copyright page */

#cc_logo {
  float: right;
}

/* Rules for the changeset list shown by the history tab etc */

#changeset_list {
  .date,
  .user {
    border-left: 1px solid #ccc;
    padding-left: 5px;
  }
}

#changeset_list_map {
  right: 20px;
}

/* Rules for the data browser */

.browse-section {
  p, ul, .bbox {
      margin-left: 33.3333%;
    }
  h4 {
    float: left;
  }
}

.bbox {
  .max_lon,
  .min_lon,
  .box {
    float: left;
  }
  .min_lat {
    clear: left;
  }
}

/* Rules for the trace list shown by the traces tab etc */

#trace_list {
  text-align: right;
}

/* Rules for the user profile page */

#userinformation .userinformation-inner {
  float: left;
}

.admin-user-info small {
  margin-right: 20px;
}

.activity-block {
  float: left;
}

.activity-details {
  margin-left: 72px;
}

/* Rules for the diary list */

.diary_entry-list img.user_thumbnail {
  float: left;
}

/* Rules for the diary list page */

.diary_post {
  ul,
  ol {
    margin-left: 20px;
  }
}

.post_heading h2 {
  float: left;
}

/* Rules for the new diary entry page */

.diary-comment p {
  margin-left: 70px;
}

/* Rules for the diary entry view */

.diary_entry-view img.user_thumbnail {
  float: left;
}

/* Rules for the user list */

#user_list_actions {
  float: right;
}

/* Rules for the account confirmation page */

form#termsForm div#buttons {
  float: right;
}

form#termsForm input#agree {
  margin-left: 40px;
}

/* Rules for the user view */

.user-view .user_thumbnail {
  float: left;
}

/* Rules for user popups on maps */

.user_popup p {
  margin-left: 60px;
}

.user_popup img.user_thumbnail {
  float: left;
  margin-right: 10px;
}

/* Rules for message in/out box page */

.right {
  float: right;
}

/* Rules for rails validation error boxes */

#errorExplanation h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
}

/* Rules for forms */

.fieldName {
  text-align: right;
}

input.openid_url {
  background: image-url('openid_input.png') repeat-y left white;
  padding-left: 16px;
}

/* Rules for user images */

img.user_image {
  float: left;
  margin-right: 20px;
}

img.user_thumbnail {
  margin-right: 20px;
}

/* General styles for action lists / subnavs / pager navs */

ul.secondary-actions {
  margin-left: 0;
  &.pager {
    margin-right: 60px;
  }
  li {
    border-left: 1px solid #222;
    padding-left: 5px;
    float: left;
    margin-right: 5px;
    &:first-child {
      border-left: 0;
      padding-left: 0;
    }
  }
  .hidden li,
  .hide_unless_logged_in li {
    border-left: 1px solid #222;
    padding-left: 5px;
    }
  .hidden:first-child li,
  .hide_unless_logged_in:first-child li {
    border-left: 0;
    padding-left: 0;
  }
}

/* Rules for rich text editors */

.richtext_container {
  .richtext_help {
    margin-left: 15px;

    th {
      text-align: left;
      padding: 0px 15px 0px 0px !important;
    }

    td {
      text-align: left;
    }

    input.richtext_doedit {
      margin-right: 10px !important;
    }

    input.richtext_dopreview {
      margin-left: 10px !important;
    }
  }
}
