.leaflet-map-ui-layers {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  background: #f8f8f9;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  background-image: image-url("images/layers.png");
  width: 36px;
  height: 36px;
}

.leaflet-map-ui {
  position: absolute;
  display: none;
  right: 0;
  width: 200px;
  height: 100%;
  background: white;
}
