/*
 *= require maplibre-gl
 */

@import "parameters";

.maplibregl-map .maplibregl-control-container {
  .maplibregl-ctrl {
    margin-right: 0;

    button {
      display: grid;
      height: 40px;
      width: 40px;
      color: white;
      place-content: center;
      background-color: rgba(0, 0, 0, 0.6);

      &:hover,
      &:focus {
        background-color: black;
      }

      &:first-child,
      &:first-child:focus {
        border-radius: 4px 0 0 0;
      }

      &:last-child,
      &:last-child:focus {
        border-radius: 0 0 0 4px;
      }

      .maplibregl-ctrl-icon {
        background-image: none;
      }

      &.maplibregl-ctrl-geolocate-active {
        background-color: $vibrant-green;
      }
    }
  }

  .maplibregl-ctrl-group {
    background-color: transparent;

    button + button {
      border-top: 0;
    }
  }
}

.maplibregl-map .maplibregl-canvas-container {
  .maplibregl-user-location-accuracy-circle {
    background-color: $green;
    opacity: 0.2 !important;
  }

  .maplibregl-user-location-dot,
  .maplibregl-user-location-dot:before {
    background-color: $vibrant-green;
  }
}
