// Place all the styles related to the Microcosms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mic_details {
  h1 {
    margin-top: 0;
  }
  label {
    font-weight: bold;
  }
  ul {
    display: inline-block;
  }
  ul > li {
    display: inline-block;
  }
}
