.olPopupFramedCloudNotes dl {
    margin: 0px;
    padding: 0px;
}

.olPopupFramedCloudNotes dt {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    float: left;
    clear: left;
}

.olPopupFramedCloudNotes dt:after {
    content: ": ";
}

.olPopupFramedCloudNotes dt {
    margin-right: 1ex;
}

.olPopupFramedCloudNotes dd {
    margin: 0px;
    padding: 0px;
}

.olPopupFramedCloudNotes ul.buttons {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.olPopupFramedCloudNotes ul.buttons li {
    display: inline;
    margin: 0px;
    padding: 0px;
}

.olPopupFramedCloudNotes h3 {
    font-size: 1.2em;
    margin: 0.2em 0em 0.7em 0em;
}
