/* Parameters */
$lineheight: 20px;
$typeheight: 14px;

$offwhite: #f8f8ff;
$blue: #7092FF;
$secondary: #888;
$lightblue: #B8C5F0;
$green: #7ebc6f;
$vibrant-green: #76c551;
$grey: #CCC;
$lightgrey: #EEE;
$darkgrey: #888;
$headerHeight: 55px;
$sidebarWidth: 350px;
$list-highlight: #FFFFC0;
$border: 1px solid $grey;

$link-color: #24d;
$link-hover-color: #24d;
$link-decoration: none;
$link-hover-decoration: underline;

$table-striped-bg: $offwhite;

$enable-negative-margins: true;
