/* Parameters */
$lineheight: 20px;
$typeheight: 14px;

$offwhite: #f4f4ff;
$blue: #7092FF;
$lightblue: #B8C5F0;
$green: #7ebc6f;
$grey: #CCC;
$red: red;
$lightgrey: #EEE;
$darkgrey: #AAA;
$hovercolor: 20%;
$headerHeight: 54px;
$sidebarWidth: 300px;
$keyline: 1px solid $lightgrey;
$border-radius: 3px;
