/* Parameters */
$lineheight: 20px;
$typeheight: 14px;

$offwhite: #f8f8ff;
$blue: #7092FF;
$lightblue: #B8C5F0;
$green: #7ebc6f;
$vibrant-green: #76c551;
$grey: #CCC;
$red: red;
$lightgrey: #EEE;
$darkgrey: #888;
$hovercolor: 20%;
$headerHeight: 55px;
$sidebarWidth: 350px;
$keyline: 1px solid $lightgrey;
$border-radius: 3px;
$list-highlight: #FFFFC0;
$border: 1px solid $grey;
