/* Parameters */
$lineheight: 20px;
$typeheight: 14px;

$blue: #7092FF;
$secondary: #888;
$green: #7ebc6f;
$vibrant-green: #76c551;
$grey: #CCC;
$darkgrey: #888;
$headerHeight: 55px;
$sidebarWidth: 350px;

$link-color: #24d;
$link-hover-color: #24d;
$link-decoration: none;
$link-hover-decoration: underline;

$table-border-factor: .1;
$list-group-hover-bg: rgba(var(--bs-emphasis-color-rgb), .075);

$enable-negative-margins: true;
