/* Parameters */
$lineheight: 20px;
$typeheight: 14px;

$offwhite: #f8f8ff;
$blue: #7092FF;
$lightblue: #B8C5F0;
$green: #7ebc6f;
$vibrant-green: #76c551;
$grey: #CCC;
$lightgrey: #EEE;
$darkgrey: #888;
$hovercolor: 20%;
$headerHeight: 55px;
$sidebarWidth: 350px;
$keyline: 1px solid $lightgrey;
$border-radius: 3px;
$list-highlight: #FFFFC0;
$border: 1px solid $grey;

$common-body-color: #222;
$common-body-background-color: #fff;
$common-a-color: #24d;
$common-header-h1-a-color: #000;
$common-count-number: #333;
$common-leaflet-control-control-button-background-color: #333;
$common-leaflet-control-control-button-background-shade: rgba(0,0,0,.6);
$common-leaflet-control-control-button-disabled-background-color: #333;
$common-leaflet-control-control-button-disabled-background-shade: rgba(0,0,0,.5);
$common-map-layout-sidebar-background-color: #fff;
$common-map-layout-welcome-button-learn-more-border-color: #fff;
$common-map-layout-map-ui-a-close-button-color: #222;
$common-layers-ui-base-layers-li-border-color: #fff;
$common-layers-ui-base-layers-li-label-text-stroke: #fff;
$common-layers-ui-base-layers-li-label-background-color: rgba(255,255,255,.9);
$common-share-ui-share-tabs-a-color: #fff;
$common-share-ui-share-tabs-a-border-color: #fff;
$common-search-results-error-color: #f00;
$common-sidebar-content-browse-field-p-background-color: #FFF;
$common-sidebar-content-browse-tag-list-browse-tag-v-background-color: #fff;
$common-sidebar-content-browse-tag-list-colour-preview-box-border-color: rgba(0, 0, 0, .1);
$common-diary-post-deleted-background-color: #fee;
$common-diary-entries-diary-comment-deleted-background-color: #fee;
$common-messages-inbox-row-unread-background-color: #CBEEA7;
$common-flash-error-background-color: #ff7070;
$common-flash-warning-background-color: #ffe0cc;
$common-flash-notice-background-color: #CBEEA7;
$common-form-error-color: #fff;
$common-form-error-background-color: #ff7070;
$common-error-explanation-border-color: #ff7070;
$common-error-explanation-background-color: #f0f0f0;
$common-error-explanation-h2-background-color: #c00;
$common-error-explanation-h2-color: #fff;
$common-error-explanation-p-color: #333;
$common-standard-form-textarea-color: #222;
$common-standard-form-textarea-background-color: #fff;
$common-standard-form-textarea-field-with-errors-border-color: #ff7070;
$common-standard-form-search-directions-form-input-error-background-color: rgba(1, 0, 0, 0.4);
$common-site-welcome-fixthemap-icon-note-background-color: #333;
$common-site-about-content-inner-color: #333;
$common-site-about-content-attr-background-color: #333;
$common-site-about-content-attr-background-shade: rgba(0, 0, 0, .8);
$common-site-about-attr-byosm-color: #fff;

$small-body-small-nav-header-background-color: #fff;
$small-body-small-nav-primary-ul-border-color: #eee;
$small-body-small-nav-primary-ul-li-border-color: #eee;
