#header,
#sidebar,
#permalink,
.leaflet-control {
  display: none;
}

html {
  height: 100%;
}

#map {
  position: absolute !important;
  top: 0;
  bottom: 40px;
  left: 0;
  right: 0;
  border: 1px solid black;
}

#attribution {
  position: absolute !important;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  font-size: 12px;
  text-align: center;
}
