/* Styles for RTL languages */

/* Default rules for the body of every page */

html body {
  text-align: right;
}

/* Rules for the menu displayed in the left sidebar */

.left_menu {
  right: 0px;
}

.left_menu td {
  padding-left: 4px;
}

.left_menu h1 {
  text-align: right;
  padding: 0em 1em 0em 0em;
}

.left_menu ul {
  padding-right: 0px;
}

.left_menu img {
  margin: 2px 0px 0px 8px;
}

/*
 * Rules for "optional boxes" which appear in the left sidebar on
 * certain pages. Current users are the seach box on the main page
 * and the tag cloud on the traces pages.
 */

.optionalbox {
  right: 0px;
  text-align: right;
}

/* Rules for the search box */

.whereami {
  float: left;
}

/* Rules for tabbed navigation bar */

#top-bar {
  margin-right: 185px
}

#tabnav a,
#tabnav a:link,
#tabnav a:visited {
  float: right;
  margin-left: 1px;
}

/* Rules for greeting bar in the top right corner */

#greeting {
  float: left;
  padding-left: 10px;
}

/* Rules for the message shown in place of the map when javascript is disabled */

#noscript {
  right: 15px
}

/* Rules for OpenLayers maps */

#map {
  border-right: 1px solid #ccc;
}

/* Rules for attribution text under the main map shown on printouts */

.attribution_license {
  text-align: right;
}

.attribution_project {
  text-align: left;
}

/* Rules for the popout map sidebar */

#sidebar {
  right: 0px;
  border-right: 1px solid #ccc;
}

#sidebar #sidebar_title {
  text-align: right;
}

#sidebar #sidebar_close {
  text-align: left;
}

/* Rules for the main content area */

#content {
  border-right: 1px solid #ccc;
  right: 185px;
  left: 0px;
  text-align: right;
}

#slim_header img {
  margin-left: 5px;
}

/* Rules for the copyright page */

#cc_logo {
  float: left;
}

/* Rules for the changeset list shown by the history tab etc */

#changeset_list {
  text-align: right;
}

#changeset_list_map {
  float: left;
  left: 0px;
}

/* Rules for the data browser */

#browse_navigation {
  float: left;
  margin-right: 10px;
}

#browse_map {
  float: left;
  text-align: left;
  margin-right: 10px;
}

/* Rules for the trace list shown by the traces tab etc */

#trace_list {
  text-align: right;
}

/* Rules for the diary list */

.diary_entry_list img.user_thumbnail {
  float: left;
}

/* Rules for the diary entry view */

.diary_entry_view img.user_image {
  float: left;
}

.diary_entry_view img.user_thumbnail {
  float: left;
}

/* Rules for the user list */

#user_list_actions {
  float: left;
}

/* Rules for the account confirmation page */

form#termsForm div#buttons {
  float: left;
}

form#termsForm input#agree {
  margin-right: 50px;
}

/* Rules for the user view */

.user_view img.user_image {
  float: left;
}

.user_view .user_map {
  float: left;
}

/* Rules for rails validation error boxes */

#errorExplanation h2 {
  text-align: right;
  padding: 5px 15px 5px 5px;
}

/* Rules for forms */

.fieldName {
  text-align: left;
}

.submitButton {
  text-align: left;
}

input.openid_url {
  background: image-url('openid_input.png') repeat-y right white;
  padding-right: 16px;
}

/* Rules for rich text editors */

.richtext_container {
  .richtext_help {
    margin-right: 15px;

    th {
      text-align: right;
      padding: 0px 0px 0px 15px !important;
    }

    td {
      text-align: right;
    }

    input.richtext_doedit {
      margin-left: 10px !important;
    }

    input.richtext_dopreview {
      margin-right: 10px !important;
    }
  }
}
