/* Styles specific to a small screen, such as iPhone, Android, etc... */

/* Default rules for the body of every page */

.column-1 {
  width: 100%;
}

/* Rules for the whole left sidebar, including the logo */

nav.primary,
nav.secondary,
#sidebar {
  display: none;
}

.content_map {
  width: 100%;
  border: none;
  float: none;
  height: 200px;
  max-height: none;
  min-height: auto;
}

/* Rules for the map UI */

.layers-ui {
  .leaflet-container {
    display: none;
  }

  li {
    border-radius: 0;
    margin-bottom: 0;

    &:first-child {
      border-radius: 4px 4px 0 0;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }
  }

  .overlay-layers p {
    display: none;
  }
}

/* Rules for the login form */

#login_login input#user_email {
  width: 100%;
  max-width: 18em;
}

#login_login input#user_password {
  width: 100%;
  max-width: 18em;
}

#login_login input#openid_url {
  width: 100%;
  max-width: 18em;
}

#login_openid_buttons td {
  padding: 2px;
}

/* Rules for the user view */

.user_map {
  width: 100% !important;
  height: 300px !important;
}

#userinformation .deemphasize {
  position: relative;
  right: auto; left: auto;
  margin-top: 10px;
  top: auto;
}

/* Rules for the sign-up page */

.user-new,
.user-create {
  .col6 {
    width: 100%;
  }

  .aside {
    display: none;
  }
}
