/* Styles specific to a small screen, such as iPhone, Android, etc... */

* { -webkit-appearance: none; }

/* Default rules for the body of every page */

.column-1 {
  width: 100%;
}

/* Rules for the whole left sidebar, including the logo */

#menu-icon {
  display: inline-block;
}


nav.primary,
nav.secondary {
  float: none !important;
  position: relative;
  display: block;
  clear: both;
}

header {
  min-height: 54px;
  height: auto;
  background: #fff;
  border-bottom: 1px solid #ddd;
  clear: both;
  position: fixed;
  width: 100%;
  top: 0;
  h1 { padding-bottom: 15px; }
  &.closed {
    nav.primary,
    nav.secondary {
      display: none;
    }
  }
}

.mobile-hide { display: none !important; }

nav.primary {
  padding: 0;
  ul, li {
    border: none;
    border-radius: 0;
    width: 100%;
  }
  ul {
    border-top: 1px solid #eee;
    li {
      border-bottom: 1px solid #eee;
      border-right: none;
      > a {
        border-radius: 0;
        width: 100%;
        text-align: center;
        font-size: 15px;
      }
    }
  }
}

nav.secondary {
  .user-menu {
    display: block;
    width: 100%;
    margin-left: 0;
    > li {
      width: 49%;
      > a { 
        width: 100%; 
        text-align: center;
      }
    }
  }
}

#content { margin-top: 58px; }

.map-layout {
  #sidebar {
    width: 100%;
    position: fixed;
    top: 58px;
    height: 360px;
    overflow-x: hidden;
    z-index: 1;
    background: #fff;
    p.large-text {
      font-size: 1.4em;
      line-height: 1.5em;
    }
    &.minimized {
      background: none;
    }
  }
  #content {
    position: fixed;
    top: 0;
    display: block;
    height: 100%;
    margin-top: 0;
    padding-top: 58px;
  }
  #map {
    width: 100%;
    // height: 100%;
    // position: fixed;
  }
}

.leaflet-top.leaflet-right {
  top: 10px !important;
  z-index: 0;
}

.content_map {
  width: 100%;
  border: none;
  float: none;
  height: 200px;
  max-height: none;
  min-height: auto;
}

/* Rules for the map UI */

.layers-ui {
  .leaflet-container {
    display: none;
  }

  li {
    border-radius: 0;
    margin-bottom: 0;

    &:first-child {
      border-radius: 4px 4px 0 0;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }
  }

  .overlay-layers p {
    display: none;
  }
}

/* Rules for the login form */

#login_login input#user_email {
  width: 100%;
  max-width: 18em;
}

#login_login input#user_password {
  width: 100%;
  max-width: 18em;
}

#login_login input#openid_url {
  width: 100%;
  max-width: 18em;
}

#login_openid_buttons td {
  padding: 2px;
}

/* Rules for the user view */

.user_map {
  width: 100% !important;
  height: 300px !important;
}

#userinformation .deemphasize {
  position: relative;
  right: auto; left: auto;
  margin-top: 10px;
  top: auto;
}

/* Rules for the sign-up page */

.user-new,
.user-create {
  .col6 {
    width: 100%;
  }

  .aside {
    display: none;
  }
}

.site-about #content .attr h1 {
  font-size: 28px;
}
