/* Styles specific to a small screen, such as iPhone, Android, etc... */

/* Default rules for the body of every page */

body {
  font-size: 12px;
}

h1 {
  font-size: 14px;
}

/* Rules for the whole left sidebar, including the logo */

#left {
  display: none;
}

/* Rules for tabbed navigation bar */

#top-bar {
  left: 0;
  margin: 0px;
  height: 39px;
  padding: 0;
}

#tabnav {
  height: 14px;
  margin: 0px;
  padding-top: 5px;
  margin-top: 20px;
  font-size: 10px;
  line-height: 10px;
}

#tabnav a, #tabnav a:link, #tabnav a:visited {
  font-size: 10px;
  line-height: 10px;
  padding: 2px 5px;
  margin-right: 1px;
}

/* Rules for the site name - shown when left sidebar is hidden */

#small-title {
  font-size: 12px;
  line-height: 14px;
  height: 16px;
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  padding: 2px;
  width: 110px; /* TODO: find better fix for overlap */
  background-color: #fff;
  z-index: 100;
}

#small-title img {
  position: absolute;
}

#small-title h1 {
  position: absolute;
  left: 18px;
  font-size: 12px;
  margin: 0;
}

/* Rules for greeting bar in the top right corner */

#greeting {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 14px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  background: none;
}

#full-greeting {
  display: none;
}

#small-greeting {
  display: inline;
}

/* Rules for OpenLayers maps */

#map {
  border: 0;
}

.olControlSimplePanZoom {
  display: none;
}

.site-index #map .olControlZoom,
.site-index #map .SimpleLayerSwitcher,
.site-export #map .olControlZoom,
.site-export #map .SimpleLayerSwitcher {
  top: 8px !important;
}

/* Rules for the main content area */

#content {
  margin-left: 0px;
  margin-right: 0px;
  border-left: 0px;
  border-right: 0px;
}

.site-export #content,
.site-edit #content,
.site-index #content {
  margin-top: 40px;
}

/* Rules for search sidebar when shown */

#sidebar {
  border: 0px;
  border-right: 1px solid #ccccdd;
  margin: 0px;
}

.sidebar_title, #sidebar_content {
  font-size: 10px !important;
}

p.search_results_entry {
  padding: 2px 0px;
}

/* Rules for the signup form */

#signupForm input[type="text"], #signupForm input[type="password"] {
  width: 100%;
}

#signupForm input#user_email {
  max-width: 30em;
}

#signupForm input#user_email_confirmation {
  max-width: 30em;
}

#signupForm input#user_display_name {
  max-width: 20em;
}

#signupForm input#user_pass_crypt {
  max-width: 20em;
}

#signupForm input#user_pass_crypt_confirmation {
  max-width: 20em;
}

/* Rules for the login form */

#login_login input#user_email {
  width: 100%;
  max-width: 18em;
}

#login_login input#user_password {
  width: 100%;
  max-width: 18em;
}

#login_login input#openid_url {
  width: 100%;
  max-width: 18em;
}

#login_openid_buttons td {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Rules for the profile page */

.user_map {
  width: 100% !important;
  height: 300px !important;
}

/* Rules for the user settings page */

#user_new_email {
  width: 60% !important;
}

#user_description, #user_preferred_editor {
  width: 90% !important;
}

.minorNote {
  display: block;
}

/* Rules for the browse pages */

#browse_navigation {
  width: 100% !important;
  margin-top: 0 !important;
}

#small_map, #browse_map {
  width: 100% !important;
}

#changeset_list tr {
  display: block;
  clear: left;
  width: 100%;
}

#changeset_list th {
  display: none;
}

#changeset_list td {
  display: block;
  float: left;
  padding-right: 10px;
}

#changeset_list td.comment, #changeset_list td.area {
  width: 96%;
  clear: left;
}

/* Rules for the diary entries pages */

#diary_entry_title, #diary_entry_body, #diary_entry_language_code, #diary_comment_body {
  width: 100% !important;
}

#usemap {
  display: block;
}

/* Rules for the messaging pages */

#message_title, #message_body {
  width: 100% !important;
}
