/*
 *= require common
 *= require ltr
 *= require small
 */

/* Rules for tabbed navigation bar */

#top-bar {
  left: 0;
}

/* Rules for the site name - shown when left sidebar is hidden */

#small-title {
  left: 5px;
}

/* Rules for greeting bar in the top right corner */

#greeting {
  right: 5px;
}
