/*
 *= require common
 *= require ltr
 *= require small
 */

/* Default rules for the body of every page */

.site-edit #content,
.site-index #content,
.site-export #content {
  left: 0;
}

/* Rules for tabbed navigation bar */

#top-bar {
  left: 0;
}

#tabnav a, #tabnav a:link, #tabnav a:visited {
  margin-right: 1px;
}

/* Rules for the site name - shown when left sidebar is hidden */

#small-title {
  left: 5px;
}

#small-title h1 {
  left: 22px;
}

/* Rules for greeting bar in the top right corner */

#greeting {
  right: 5px;
}

#browse_map ul.secondary-actions {
  float: right;
}

/* Rules for search sidebar when shown */

#sidebar {
  border-right: 1px solid #ccccdd;
}