/*
 *= require common
 *= require rtl
 *= require small
 */

/* Rules for tabbed navigation bar */

#top-bar {
  right: 0;
}

/* Rules for the site name - shown when left sidebar is hidden */

#small-title {
  right: 5px;
}

/* Rules for greeting bar in the top right corner */

#greeting {
  left: 5px;
}
