.slider-wrapper {
    position: relative;
    
    margin: 20px auto;
    width: 500px;
    font-size: 30px;
    text-align: center;
}

.slider-wrapper > [data-step] {
    margin-bottom: 5px;
    width: 70px;
    
    font-size: 30px;
    text-align: center;
}

.slider-wrapper > [data-step="year"] {
    width: 150px;
}

.ticker-nub-outer {
    position: absolute;
    width: 80px;
    height: 10px;
    
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
}

.ticker-nub {
    position: relative;
    top: -4px;
    
    width: 2%;
    height: 1.2em;
    
    border-radius: 5px;
    background: rgba(255,255,255,0.5);
    border: 1px solid rgba(0,0,0,0.5);
    /*transition: left 0.2s;*/
}
