/*
 *= require css/jquery.uls
 *= require css/jquery.uls.grid
 *= require css/jquery.uls.lcd
 */

.uls-menu {
  z-index: 100000;

  h1 {
    margin: 16px 0px;
  }

  .row {
    display: block;

    * {
      width: auto;
      max-width: none;
    }

    li {
      width: max-content;
    }
  }
}

.uls-trigger {
  cursor: pointer;
  background-image: image-url('images/language.png');
  background-image: linear-gradient(transparent, transparent), image-url('images/language.svg');
}

.uls-icon-close {
  background-image: image-url('images/close.png');
  background-image: linear-gradient(transparent, transparent), image-url('images/close.svg');
}

.uls-menu .uls-search-label {
  background-image: image-rl('images/search.png');
  background-image: linear-gradient(transparent, transparent), image-url('images/search.svg');
}
