<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(".preferences"), basic_preferences_path, :class => { "nav-link" => true, "active" => controller_name == "basic_preferences" } %>
  </li>
  <li class="nav-item">
    <%= link_to t(".advanced_preferences"), advanced_preferences_path, :class => { "nav-link" => true, "active" => controller_name == "advanced_preferences" } %>
  </li>
</ul>
