<% content_for :heading do %>
  <h1><%= @title %></h1>
<% end %>

<% if @microcosms_organized %>
  <%= render :partial => "index_list", :locals => { :microcosms => @microcosms_organized, :header => t(".organizer") } %>
<% end %>
