<% content_for :heading do %>
  <h1>
    <%= @microcosm.name + " Members"%>
  </h1>
<% end %>


<%#= link_to 'New', new_microcosm_member_path(microcosm_id: @microcosm.id) %>

<h2>
Members
</h2>
<div class='members'>
  <ul>
    <% @microcosm.microcosm_members.each do |membership| %>
      <li>
        <%= membership.role %> <%= membership.user.display_name %>
        <% if current_user and (current_user.administrator? or @microcosm.has_organizer?(current_user))%>
          <%= link_to "edit", edit_microcosm_member_path(membership) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

