<div class="browse_details">
  <h4><%- I18n.t("browse.start_rjs.history_for_feature", {feature: name}) %></h4>
  <a class='more-details' href="<%- url %>/history"><%- I18n.t('browse.start_rjs.details') %></a>

  <ul class="inner12">
    <% for (var i = 0; i < history.length; i++) { %>
      <li><%- I18n.t("browse.start_rjs.edited_by_user_at_timestamp", history[i]) %></li>
    <% } %>
  </ul>
</div>
