<table width="100%" class="browse_heading">
  <tr>
    <td><%- I18n.t("browse.start_rjs.history_for_feature", {feature: name}) %></td>
    <td align="right">
      <a href="<%- url %>/history"><%- I18n.t('browse.start_rjs.details') %></a>
    </td>
  </tr>
</table>
<div class="browse_details">
  <ul>
    <% for (var i = 0; i < history.length; i++) { %>
      <li><%- I18n.t("browse.start_rjs.edited_by_user_at_timestamp", history[i]) %></li>
    <% } %>
  </ul>
</div>
