<div class="d-flex w-100">
  <div class="flex-grow-1 text-break">
    <h2><%= title %></h2>
  </div>
  <div class="px-3 py-3">
    <a class="geolink" href="<%= root_path %>">
      <span class="icon close"></span>
    </a>
  </div>
</div>
