<div class="d-flex w-100">
  <h2 class="flex-grow-1 text-break"><%= title %></h2>
  <div>
    <button type="button" class="btn-close" aria-label="<%= t("javascripts.close") %>"></button>
  </div>
</div>
