.algolia.results {
  background: white;
  border    : 1px solid #ccc;
  padding   : 2px 5px;
  margin    : 0;
  font      : 14px/20px "Helvetica Neue", Arial, sans-serif
}

.shadow-input {
  background: white;
  position  : absolute;
  top       : 0;
  left      : 0;
  pointer-events: none;
  z-index: 1;
  opacity: 0.2;
}

#query {
  background: none;
  position  : relative;
  z-index   : 2;
}
