.shadow-input {
  background: white;
  position  : absolute;
  top       : 0;
  left      : 0;
  pointer-events: none;
  z-index: 1;
  opacity: 0.2;
}

#query {
  background: none;
  position  : relative;
  z-index   : 2;
}

.algolia.results {
  position  : fixed;
  background: rgba( 255, 255, 255, 0.7 );
  border    : 1px solid #ccc;
  margin    : 0;
  font      : 14px/20px "Helvetica Neue", Arial, sans-serif;
  width     : 291px;
  z-index   : 1001;
}
.algolia.results > .city {
  padding: 2px 5px;
  cursor: pointer;
}
.algolia.results > .city::before{
  content: "· ";
  font-weight: bolder;
}
.algolia.results em {
  font-style: normal;
  font-weight: bold;
}

.algolia.results > .city.selected {
  background: #EEE;
}
.algolia.results > .city.selected::before{
  color: red;
}
