<b><%= diary_entry.title %></b><br />
<%= simple_format(diary_entry.body) %>
Posted by user <b><%= link_to diary_entry.user.display_name, :controller => 'user', :action => 'view', :display_name => diary_entry.user.display_name %></b> at <%= diary_entry.created_at %><br />
<br />
<hr />
