<div id="mapkey">
  <table class="table table-sm table-borderless mb-0 align-middle">
    <% @key.each do |layer_name, layer_data| %>
      <% layer_data.each do |entry| %>
        <%= tag.tr :class => "mapkey-table-entry", :data => { :layer => layer_name, :zoom_min => entry["min_zoom"], :zoom_max => entry["max_zoom"] } do %>
          <td>
            <% if entry["image"] %>
              <%= image_tag "key/#{layer_name}/#{entry['image']}", :class => "d-block mx-auto" %>
            <% else %>
              <%= key_svg_tag :class => "d-block mx-auto", **entry %>
            <% end %>
          </td>
          <td>
            <%= entry["name"].map { |feature_name| t ".entries.#{feature_name}" }.join(" · ") %>
          </td>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>
