<div class="d-flex align-items-center flex-wrap">
  <span class="flex-grow-1"><%= t "traces.#{action}.blocked" %></span>
  <%= link_to(t("traces.#{action}.block_link_text"), block_link, :class => "btn btn-warning") %>
</div>
