<div class="d-flex align-items-center flex-wrap">
  <span class="flex-grow-1"><%= t "traces.index.blocked" %></span>
  <%= link_to(t("traces.index.block_link_text"), block_link, :class => "btn btn-warning") %>
</div>
