<nav>
  <ul class="pagination">
    <% if newer_traces %>
      <li class="page-item">
        <%= link_to t(".newer"), params.merge(:before => nil, :after => traces.first.id), :class => "page-link" %>
      </li>
    <% else %>
      <li class="page-item disabled">
        <span class="page-link"><%= t(".newer") %></span>
      </li>
    <% end %>

    <% if older_traces %>
      <li class="page-item">
        <%= link_to t(".older"), params.merge(:before => traces.last.id, :after => nil), :class => "page-link" %>
      </li>
    <% else %>
      <li class="page-item disabled">
        <span class="page-link"><%= t(".older") %></span>
      </li>
    <% end %>
  </ul>
</nav>
