.olControlSimplePanZoom {
  top: 10px;
  right: 10px;
}

.olControlSimplePanZoom .button {
  background-image: image-url("theme/openstreetmap/img/map_sprite.png");
  position: absolute;
  background-repeat: no-repeat;
  cursor: hand;
  cursor: pointer;
}

.olControlSimplePanZoom #panup {
  left: 10px;
  width: 25px;
  height: 13px;
  background-position: -15px -5px;
}

.olControlSimplePanZoom #pandown {
  left: 10px;
  top: 36px;
  width: 25px;
  height: 15px;
  background-position: -15px -40px;
}

.olControlSimplePanZoom #panleft {
  top: 13px;
  width: 25px;
  height: 24px;
  left: 0px;
  background-position: -5px -17px;
}

.olControlSimplePanZoom #panright {
  top: 13px;
  width: 25px;
  height: 24px;
  left: 25px;
  background-position: -30px -17px;
}

.olControlSimplePanZoom #zoomin {
  top: 50px;
  width: 26px;
  height: 20px;
  left: 10px;
  background-position: -15px -61px;
}

.olControlSimplePanZoom #zoomout {
  top: 210px;
  width: 26px;
  height: 20px;
  left: 10px;
  background-position: -15px -220px;
}

.olControlSimplePanZoom #slider {
  top: 75px;
  width: 25px;
  height: 10px;
  left: 10px;
  -webkit-transition: top 100ms linear;
  -moz-transition: top 100ms linear;
  -o-transition: top 100ms linear;
  background-position: -77px -58px;
  pointer: move;
  cursor: move;
}

.olControlSimplePanZoom #zoombar {
  top: 70px;
  width: 26px;
  height: 140px;
  left: 10px;
  background-position: -15px -80px;
}
