/*
 *= require theme/default/style
 *= require theme/openstreetmap/SimpleLayerSwitcher
 *= require theme/openstreetmap/SimplePanZoom
 */

.olControlOverviewMapExtentRectangle {
    background-image: image-url("theme/default/img/blank.gif");
}

.olControlOverviewMapRectReplacement {
    background-image: image-url("theme/default/img/overview_replacement.gif");
}

.olControlNavigationHistory {
    background-image: image-url("theme/default/img/navigation_history.png");
}

div.olControlSaveFeaturesItemActive {
    background-image: image-url("theme/default/img/save_features_on.png");
}

div.olControlSaveFeaturesItemInactive {
    background-image: image-url("theme/default/img/save_features_off.png");
}

.olControlPanPanel div {
    background-image: image-url("theme/default/img/pan-panel.png");
}

.olControlZoomPanel div {
    background-image: image-url("theme/default/img/zoom-panel.png");
}

.olPopupCloseBox {
    background: image-url("theme/default/img/close.gif") no-repeat;
}

.olImageLoadError {
    // remove opacity?
    // remove filter?
    background: image-url("theme/openstreetmap/img/missing-tile.png") no-repeat;
}

.olControlNavToolbar div,
.olControlEditingToolbar div {
    background-image: image-url("theme/default/img/editing_tool_bar.png");
}

div.olControlZoom a {
    color: black;
    background: #ffffff;
    border: 1px solid #cccccc;
    margin: 0 !important;
    // remove filter
}

div.olControlZoom a.olControlZoomIn {
    border-bottom: 0;
}

div.olControlZoom a:hover {
    background: #f5f5f5;
}

// remove max-width hover?
