<% content_for :heading do %>
  <h1><%= t'oauth_clients.edit.title' %></h1>
<% end %>

<%= form_for @client_application, :url => oauth_client_path(@client_application.user.display_name, @client_application), :html => { :method => :put } do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <br/>
  <%= submit_tag t'oauth_clients.edit.submit' %>
<% end %>
