<h1><%= t'oauth.client_application.new.title' %></h1>
<% form_for :client_application, :url => { :action => :create } do |f| %>
   <%= render :partial => "form", :locals => { :f => f } %>
   <br />
   <%= submit_tag t('oauth.client_application.new.submit') %>
<% end %>
