<% content_for :heading do %>
  <h1><%= t '.title' %></h1>
<% end %>

<div class='standard-form'>
  <%= form_for :client_application, :url => { :action => :create } do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>
    <%= submit_tag t('.submit') %>
  <% end %>
</div>
