<% content_for :heading do %>
  <h1><%= t ".title" %></h1>
<% end %>

<%= render :partial => "settings_menu" %>

<%= bootstrap_form_for @client_application, :url => { :action => :create } do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
<% end %>
