<div class="dropdown edit_menu">
  <%= link_to link_text, edit_path,
              :id => 'editanchor',
              :class => "geolink tab #{link_class}" %>
  <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
    <b class="caret"></b>
  </a>
  <ul class='dropdown-menu'>
    <% Editors::RECOMMENDED_EDITORS.each do |editor| %>
      <li>
        <%= link_to t('layouts.edit_with', :editor => t("editor.#{editor}.description")),
                    edit_path(:editor => editor),
                    :data => { :editor => editor },
                    :class => "geolink #{link_class}" %>
      </li>
    <% end %>
  </ul>
</div>
