<% if flash[:error] %>
  <div id="error"><%= flash[:error] %></div>
<% end %>

<% if flash[:warning] %>
  <div id="warning"><%= flash[:warning] %></div>
<% end %>

<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>
