<% if flash[:error] %>
  <div id="error"><%= raw flash[:error] %></div>
<% end %>

<% if flash[:warning] %>
  <div id="warning"><%= raw flash[:warning] %></div>
<% end %>

<% if flash[:notice] %>
  <div id="notice"><%= raw flash[:notice] %></div>
<% end %>
