<% if current_user.new_messages.size > 0 %>
<span id="inboxanchor" class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle" data-new-messages="<%= current_user.new_messages.size %>"></span>
<% end %>
