<a id='inboxanchor'
    href='<%= url_for(:action => 'inbox',
        :display_name => @user.display_name,
        :controller => 'message') %>'><%= t('layouts.inbox') %><% if @user.new_messages.size > 0 %><span class='count-number'><%= @user.new_messages.size if @user.new_messages.size > 0 %></span><% end %></a>
