<div class="sidebar-close-controls sticky-top z-0">
  <div class="position-absolute end-0 m-2 rounded-5 bg-body-tertiary shadow-sm">
    <button type="button" disabled class="btn-close d-block p-2 invisible"></button>
  </div>
</div>
<div class="sidebar-close-controls sticky-top">
  <div class="position-absolute end-0 m-2 rounded-5">
    <button type="button" class="btn-close d-block p-2 rounded-5" aria-label="<%= t("javascripts.close") %>"></button>
  </div>
</div>
<div class="sidebar-close-controls position-relative">
  <div class="position-absolute end-0 bg-body p-4 ps-3">
  </div>
</div>
