<div class="sidebar-close-controls">
  <div class="position-absolute end-0 m-2">
    <button type="button" class="btn-close d-block p-2" aria-label="<%= t("javascripts.close") %>"></button>
  </div>
</div>
