<%= tag.div :id => id, :class => "position-sticky top-0 z-3" do %>
  <div class="position-absolute end-0 d-flex p-3 bg-body bg-opacity-50 rounded-5">
    <button type="button" class="btn-close" aria-label="<%= t("javascripts.close") %>"></button>
  </div>
<% end %>
