<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>OpenStreetMap</title>
    <%= stylesheet_link_tag "errors", :media => "screen" %>
    <%= render :partial => "layouts/meta" %>
  </head>
  <body>
    <%= image_tag "ohm_logo.png", :class => "logo" %>
    <div class="details">
      <%= yield %>
    </div>
  </body>
</html>
