<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'site' %>
    <!--[if lt IE 7]><%= javascript_include_tag 'pngfix' %><![endif]--> <!-- thanks, microsoft! -->
    <%= stylesheet_link_tag 'site' %>
    <%= stylesheet_link_tag 'print', :media => "print" %>
    <%= tag("link", { :rel => "search", :type => "application/opensearchdescription+xml", :title => "OpenStreetMap Search", :href => "/opensearch/osm.xml" }) %>
    <%= yield :head %>
    <title>OpenStreetMap<%= ' | '+ h(@title) if @title %></title>
  </head>
  <body>
    <div id="content">
      <% if @notice || flash[:notice] %>
        <div id="notice"><%= @notice || flash[:notice] %></div>
      <% end %>

      <%= yield %>
    </div>

    <span id="greeting">
      <% if @user and @user.id %>
        Welcome, <%= link_to h(@user.display_name), {:controller => 'user', :action => 'view', :display_name => @user.display_name}%> | 
        <% @inbox_weight = 'bold' if @user.new_messages.size > 0 %>
        <%= yield :greeting %>
        <%= link_to "inbox (#{@user.new_messages.size})", {:controller => 'message', :action => 'inbox', :display_name => @user.display_name}, {:style => "font-weight: #{@inbox_weight};" } %> |
        <%= link_to 'logout', {:controller => 'user', :action => 'logout', :referer => request.request_uri}, {:id => 'logoutanchor'}%>
      <% else %>
        <%= link_to 'log in', {:controller => 'user', :action => 'login', :referer => request.request_uri}, {:id => 'loginanchor'}%> |
        <%= link_to 'sign up', {:controller => 'user', :action => 'new'}, {:id => 'registeranchor'} %>
      <% end %>
    </span>

    <div>
      <ul id="tabnav">
        <%
        viewclass = ''
        editclass = ''
        exportclass = ''
        traceclass = ''
        viewclass = 'active' if params['controller'] == 'site' and params['action'] == 'index' 
        editclass = 'active' if params['controller'] == 'site' and params['action'] == 'edit' 
        exportclass = 'active' if params['controller'] == 'site' and params['action'] == 'export'
        traceclass = 'active' if params['controller'] == 'trace'
        diaryclass = 'active' if params['controller'] == 'diary_entry'
        %>
        <li><%= link_to 'View', {:controller => 'site', :action => 'index'}, {:id => 'viewanchor', :title => 'view maps', :class => viewclass} %></li>
        <li><%= link_to 'Edit', {:controller => 'site', :action => 'edit'}, {:id => 'editanchor', :title => 'edit maps', :class => editclass} %></li>
        <% if params['controller'] == 'site' and (params['action'] == 'index' or params['action'] == 'export') %>
        <li><%= link_to_remote 'Export', {:url => {:controller => 'export', :action => 'start'}}, {:id => 'exportanchor', :title => 'export map data', :class => exportclass, :href => url_for(:controller => 'site', :action => 'export')} %></li>
        <% else %>
        <li><%= link_to 'Export', {:controller => 'site', :action => 'export'}, {:id => 'exportanchor', :title => 'export map data', :class => exportclass} %></li>
        <% end %>
        <li><%= link_to 'GPS Traces', {:controller => 'trace', :action => 'list'}, {:id => 'traceanchor', :title => 'manage traces', :class => traceclass} %></li>
        <li><%= link_to 'User Diaries', {:controller => 'diary_entry', :action => 'list', :display_name => nil}, {:id => 'diaryanchor', :title => 'view user diaries', :class => diaryclass} %></li>
      </ul>
    </div>

    <div id="left">

      <div id="logo">
        <center>
          <h1>OpenStreetMap</h1>
          <%= link_to(image_tag("osm_logo.png", :size => "120x120", :border => 0), :controller => 'site', :action => 'index') %><br/>
          <h2 class="nowrap">The Free Wiki World Map</h2>
        </center>
      </div>

      <% unless @user %>
      <div id="intro">
        <p>
          OpenStreetMap is a free editable map of the whole world. It
          is made by people like you.
        </p>
        <p>
          OpenStreetMap allows you to view, edit and use geographical
          data in a collaborative way from anywhere on Earth.
        </p>
        <p>
          OpenStreetMap's hosting is kindly supported by the
          <a href="http://www.vr.ucl.ac.uk">UCL VR Centre</a> and
          <a href="http://www.bytemark.co.uk">bytemark</a>.
        </p>
      </div>
      <% end %>

      <% if OSM_STATUS == :database_offline or OSM_STATUS == :api_offline %>
      <div id="alert">
        The OpenStreetMap database is currently offline while
        essential database maintenance work is carried out.
      </div>
      <% elsif OSM_STATUS == :api_readonly %>
      <div id="alert">
        The OpenStreetMap database is currently in read-only mode while
        essential database maintenance work is carried out.
      </div>
      <% end %>

      <% if false %>
      <div id="donate" class="notice">
        Support OpenStreetMap by
        <a href="http://donate.openstreetmap.org/">donating</a>
        to the Hardware Upgrade Fund.
      </div>
      <% end %>

      <div id="left_menu" class="left_menu">
        <a href="http://wiki.openstreetmap.org">Help &amp; Wiki</a><br />
        <a href="http://www.opengeodata.org/">News blog</a><br />
        <a href="http://wiki.openstreetmap.org/index.php/Merchandise">Shop</a><br />
        <%= yield :left_menu %>
      </div>

      <div id="sotm" class="notice">
        Come to the 2009 OpenStreetMap
        Conference, <a href="http://www.stateofthemap.org">The State
        of the Map</a>, July 10-12 in Amsterdam!
      </div>

      <%= yield :optionals %>

      <center>
        <div class="button" style="width: 115px">
          <a href="http://donate.openstreetmap.org/"><img src="/images/donate.png" border="0" alt="Make a Donation" /></a>
        </div>

        <div id="cclogo" class="button" style="width: 88px">
          <a href="http://creativecommons.org/licenses/by-sa/2.0/"><img src="/images/cc_button.png" border="0" alt="" /></a>
        </div>
      </center>
    </div>
  </body>
</html>
